.StatusWidget {
  height: 184px;
  font-weight: bolder;
  box-shadow: 0px 3px 11px #7676767A;
  border-radius: 7px;
  background: url("../../../assets/icons/background-bubble.png") right -50% bottom 50% no-repeat;

  &__icon {
    text-align: initial;
    padding: 5px 0  0 15px;
    i {
      color: white;
      font-size: 30px;
    }
  }
  &__title {
    padding: 5px 0  0 15px;
    font-size: 15px;
    text-align: initial;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
  }
  &__value {
    font-size: 60px;
    text-align: center;
    font: Heavy 133px/80px Avenir;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
  }

a {
  text-decoration: none;
}
}
