<template>
  <div class="StatusWidget" :style="'background-color:' + backgroundColor">
    <router-link :disabled="true"  :to="{path, query: {filter: query}}">
      <div class="StatusWidget__icon">
        <i :class="iconClass"></i>
      </div>
      <div class="StatusWidget__title">
        <small>{{title}}</small>
      </div>
      <div class="StatusWidget__value">
        {{ value ? value : '0' }}
      </div>
    </router-link>
  </div>
</template>

<script>
import './_StatusWidget.scss'
export default {
  name: 'status-widget',
  props: {
    clickable: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      required: true
    },
    value: {
      required: true
    },
    backgroundColor: {
      type: String,
      required: true
    },
    path: {
      required: true,
      type: String
    },
    query: {
      type: Number,
      required: true
    },
    iconClass: {
      type: String,
      required: true
    }
  }
}
</script>
