.DetailStatus {
    // Vars

    // Support

    // Module
  span {
    margin: 0 5px;
  }
  p {
    font-size: 15px;
    font-weight: bolder;
    text-align: end !important;
    margin-right: auto !important;
    .dot {
      height: 13px;
      width: 13px;
      border-radius: 50%;
      display: inline-block;
    }
  }
}
