<template>
    <div class="DetailStatus">
        <p>Status: <span
          v-bind:style="{ 'color': getStatusColor }">
          {{status}}
        </span>
          <span  v-bind:style="{ 'background-color': getStatusColor }" class="dot"></span>
        </p>
    </div>
</template>

<script>
import {generateStatusColor} from '../../../helper/helperFunctions'

import './_DetailStatus.scss'
export default {
  name: 'order-detail-status',
  props: {
    code: {
      required: true
    },
    detail: {
      required: true
    },
    status: {
      required: true
    }
  },
  computed: {
    getStatusColor () {
      const code = this.code
      return this.generateStatusColor(code)
    }
  },
  methods: {
    generateStatusColor
  }
}
</script>
