<template>
  <el-col :span="24">
    <h2 class="primary-color">Choose Delivery Date</h2>
    <date-picker value-type="format" v-model="activeDate" lang="en"  :not-before="calenderStartDate"  :not-after="calenderEndDate"
                 format="D MMM YYYY"
    ></date-picker>
    <p class="primary-color" v-if="isCreditCustomer">You can only select dates that are within you quote validity period</p>
    <br>
    <br>
    <el-col  :span="24" style="overflow: visible">
      <h2 class="primary-color">Choose Delivery Time</h2>
      <el-row :gutter="10" class="flex-center">
        <el-col :span="12">
          <p style="display: flex; align-items: center; justify-content: start">
            <img src="../../assets/icons/clock.png" alt="" height="16px"> &nbsp; &nbsp;
            <span class="primary-color">{{ activeTime }}</span>  &nbsp; &nbsp;
            <span class="mute" v-if="!isActiveTime"> Default delivery time</span>
          </p>
        </el-col>
        <el-col :span="12">
          <el-button  @click="changeTime = !changeTime" type="plain" size="mini">Select Time</el-button>
        </el-col>
      </el-row>
    </el-col>
    <el-col v-if="changeTime"  :span="24"  style="margin-bottom: 20px;">
      <ul class="list-style-none">
        <el-col v-for="(time, key) in timeArray" :key="key" :space="2" :span="6" style="margin: 6px; width: 75px;">
          <li class="da-button primary-color" :ref="setTimRef(key)"  @click="setActiveTime(setTimRef(key), time)">
            {{ time.time }}
          </li>
        </el-col>
      </ul>
    </el-col>
  </el-col>
</template>
<script>
import DatePicker from 'vue2-datepicker'
import { mapGetters } from 'vuex'

export default {
  components: { DatePicker },
  props: ['quoteExpiry', 'isCreditCustomer'],
  data () {
    return {
      activeTime: process.env.DEFAULT_DELIVERY_TIME,
      date: new Date('28 Feb 2019'),
      isActiveMonth: null,
      changeTime: null,
      isActiveTime: null,
      activeDate: '',
      months: [],
      month: '',
      timeArray: [
        { time: `6:00 am` },
        { time: `7:00 am` },
        { time: `8:00 am` },
        { time: `9:00 am` },
        { time: `10:00 am` },
        { time: `11:00 am` },
        { time: `12:00 pm` },
        { time: `1:00 pm` },
        { time: `2:00 pm` },
        { time: `3:00 pm` },
        { time: `4:00 pm` },
        { time: `5:00 pm` }
      ]
    }
  },
  computed: {
    ...mapGetters('customers', [
      'isCashCustomer'
    ]),
    calenderStartDate () {
      let date = new Date()
      return date.setDate(date.getDate() + 2)
    },
    defaultValue () {
      let date = new Date()
      return date.setDate(date.getDate() + 2)
    },
    calenderEndDate () {
      if (this.isCashCustomer) {
        let date = new Date()
        return date.setMonth(date.getMonth() + 3)
      }
      let date = new Date(this.quoteExpiry)
      return date.setDate(date.getDate() + 2)
    }
  },
  methods: {
    removeActiveStyle (key) {
      this.$refs[key][0].classList.remove('active-button', 'active')
    },
    setActiveStyle (key) {
      this.$refs[key][0].classList.add('active-button', 'active')
    },
    setTimRef (ref) {
      return ref + 30
    },
    setActiveTime (key, activeTime) {
      this.activeTime = activeTime.time
      this.$emit('activeTime', activeTime.time)
      if (typeof this.isActiveTime !== 'number') {
        this.isActiveTime = key
        this.setActiveStyle(key)
        this.changeTime = null
        return
      }
      this.removeActiveStyle(this.isActiveTime)
      this.isActiveTime = key
      this.setActiveStyle(key)
      this.changeTime = null
    }
  },
  watch: {
    activeDate: function (val) {
      this.$emit('setActiveDate', val)
    }
  },
  created () {

  }
}
</script>
<style lang="scss" scoped>
  .list-style-none {
    list-style: none;
  }
  .container-margin {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .active-button {
    color: #fff !important;
    border-color: #c6e2ff !important;
    background-color: #0076C2 !important;
    font-weight: bolder;
  }
  .da-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    background-color: rgb(255, 255, 255);
    border: 1px solid #dcdfe6;
    border-top-color: rgb(220, 223, 230);
    border-right-color: rgb(220, 223, 230);
    border-bottom-color: rgb(220, 223, 230);
    border-left-color: rgb(220, 223, 230);
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    font-size: 12px;
    border-radius: 3px;
    padding: 9px 15px;
  }
  h2 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  .el-autocomplete {
    width: 344px;
  }
  .el-card{
    text-align: left;
    padding: 20px;
  }
</style>
