<template>
    <div class="main-wall" v-loading="loading">
      <div class="top-content-push">
        <el-col class style="display: flex; justify-content: space-between;" v-if=details>
          <h4 class="central-color text-left">{{ details.customerName }}'s Order Details</h4>
        <el-button type="primary"
          icon="el-icon-download"
          @click=exportToPdf
          :loading=exporting
          style="float: right; z-index: 500; height: 50px"
          >Export to Pdf</el-button>
            <!-- Export to Pdf -->
            <!-- <i class="el-icon-upload icon-pad" @click=exportToPdf :loading=exporting></i> -->
        </el-col>
        <!-- <el-col :span="24" style="background: red; padding: 20px;"></el-col> -->
      </div>

      <el-row :gutter="10" v-if="details">
        <el-col :lg="18">
          <div class="text-left primary-color card-shadow">
            <el-row :gutter="10" class="new-card-pad">
              <el-col :lg="8">
                <h4>Quote #{{ details.quoteId }}</h4>
                <h4>PO #{{ details.poNumber }}</h4>
                <span><strong>Order Date</strong>: {{ dateToString(details.orderDate) }}</span>
                <br><br>
                <span><strong>Delivery Date</strong>: {{ dateToString(details.deliveryDate) }}</span>
              </el-col>
              <el-col :lg="9">
                <h4 class="h4">Ship to Party Address</h4>
                <span>
                  {{ details.deliveryAddress }}
                </span>
              </el-col>
              <el-col :lg="7">
                <h4 class="h4">Customer Name</h4>
                <span>{{ details.customerName }}</span>
              </el-col>
            </el-row>
          </div>
        </el-col>
        <el-col :lg="6">
          <el-card class="primary-color" style="padding-top: 15px; padding-bottom: 15px;">
            <span>Default Plant</span>
            <h3 v-if="details.defaultPlant">{{ details.defaultPlant }}</h3>
            <h3 v-if="!details.defaultPlant">Not Specified</h3>
          </el-card>
        </el-col>
      </el-row>

      <div style="margin-top: 30px;">
        <el-card>
          <table>
            <thead>
              <tr>
                <th>Item ID</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody
              style=" background: #f0f3ff; margin-top: 20px; overflow: scroll; borda-radius: 100px;"
            >
              <tr v-for="(order, index) in details.orderDetails" :key=index>
                <td>{{ order.itemId }}</td>
                <td>{{ order.description }}</td>
                <td>
                  <div>{{ order.quantity }}</div>
                </td>
                <td>{{ order.unitPrice }}</td>
                <td>{{ formatCurrency(order.total) }}</td>
              </tr>
            </tbody>
          </table>
          <div style="padding: 14px; margin-top: 20px" v-if="details">
            <div class="bottom clearfix" style="float: right">
              <h3>Sum Total:  {{ formatCurrency(details.sumTotal) }}</h3>
            </div>
          </div>
        </el-card>
      </div>

      <div class style="display: flex; justify-content: space-between; margin-top: 40px;">
        <el-button class="orders-btn btn-decline" @click="declineOrder" v-loading="declining">
          <span v-if="!loading">Decline Order</span>
          <span v-if="loading">Declining...</span>
        </el-button>
        <el-button class="orders-btn btn-approve" @click="approveOrder" v-loading="approving">
          <span v-if=!approving>Approve Order</span>
          <span v-if=approving>Approving...</span>
        </el-button>
      </div>
    </div>
</template>

<style scoped>
.bottom {
  margin-top: 20px;
  line-height: 12px;
}
.bottom h2 {
  color: #606266;
}
.top-content-push {
  width: 100%;
  margin: 100px 0px 0px 0px;
}
.orders-btn {
  width: 200px;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0px;
}
.btn-decline {
  background: red;
  color: #fff;
}

.btn-approve {
  background: green;
  color: #fff;
}

.icon-pad {
  padding-left: 20px;
}

.el-col .h4 {
  padding-bottom: 30px;
}

.card-shadow {
  webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 5px 16px 16px 16px;
  font-size: 13px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  /* max-width: 800px; */
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  /* padding-left: 8px; */
}
table thead tr {
  height: 60px;
  /* background: #ffed86; */
  font-size: 16px;
  border-radius: 60px;
}
table tbody tr {
  height: 48px;
  border-bottom: 10px solid #fff;
}
table tbody tr:last-child {
  border: 0;
}
table th {
  color: #0174c5;
}
table td {
  padding: 50px 0px;
}
table td,
table th {
  text-align: center;
  width: 500px;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}

@media screen and (max-width: 35.5em) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Code";
  }
  table tbody tr td:nth-child(2):before {
    content: "Stock";
  }
  table tbody tr td:nth-child(3):before {
    content: "Cap";
  }
  table tbody tr td:nth-child(4):before {
    content: "Inch";
  }
  table tbody tr td:nth-child(5):before {
    content: "Box Type";
  }
}
</style>

<script>
import swal from 'sweetalert'
import sideBar from '../APP/Sidebar/Sidebar'
import Api from '@/Services/Api'

export default {
  props: ['id'],
  components: {
    sideBar
  },
  data () {
    return {
      loading: true,
      approving: false,
      declining: false,
      exporting: false,
      fetching_params: false,
      details: ''
    }
  },
  mounted () {
    this.getOrderDetails()
    // this.formatDate()
    // this.getFilterParams()
  },
  methods: {
    getOrderDetails () {
      this.loading = true
      Api.get(`/order/${this.id}`)
        .then((response) => {
          this.details = response.data
          this.loading = false
        }).catch((error) => {
          this.loading = false
        })
    },
    approveOrder () {
      this.approving = true
      Api.put(`/orders/${this.id}/Approve`)
        .then((response) => {
          if (response.status === 200) {
            swal('Success', 'Purchase Order was successfully approved', 'success')
            this.approving = false
            this.$router.push('/orderManagement')
          }
        }).catch((error) => {
          swal('An Error Occurred', `${error}`, 'info')
          this.approving = false
        })
    },
    exportToPdf () {
      this.exporting = true

      Api.get(`/orders/pdf/${this.id}`)
        .then((response) => {
          if (response.status === 200) {
            swal('Export Successful', 'The order details has been exported successfully', 'success')
            this.exporting = false
            this.getOrderDetails()
          }
        }).catch((error) => {
          swal('Export Unsuccessful', `an Error occurred: ${error}`, 'info')
          this.exporting = false
        })
    },
    declineOrder () {
      this.declining = true

      Api.post(`/orders/decline_order/${this.id}`, {
        id: this.id
      })
        .then((response) => {
          if (response.status === 200) {
            swal('Success', 'Purchase Order has been successfully declined', 'success')
            this.declining = false
            this.getOrderDetails()
          }
        }).catch((error) => {
          swal('An Error occurred', `${error}`, 'info')
          this.declining = false
        })
    },
    dateToString (date) {
      date = new Date(date)
      return date.toDateString()
    },
    formatDate (dateString) {
      let dateArray = dateString.split(' ')
      return dateArray
    },
    /** Format currency numbers as NGN */
    formatCurrency (num) {
      const formatter = new Intl.NumberFormat('en-NGN', {
        style: 'currency',
        currency: 'ZAR',
        minimumFractionDigits: 2
      })
      return formatter.format(num)
    },
    getFilterParams () {
      this.fetching_params = true

      Api.get('/Administrator/filter-param')
        .then((response) => {
          if (response.status === 200) {
            // swal('Export Successful', 'The order details has been exported successfully', 'success')
            this.fetching_params = false
            this.getOrderDetails()
          }
        }).catch((error) => {
          swal('An Error Occurred', `${error}`, 'info')
          this.fetching_params = false
        })
    }
  }
}
</script>
