<template>
  <div>
    <div class="Evidence-of-payment">
      <el-card>
        <el-row :gutter="10">
          <el-col  :span="5" v-if="evidenceOfPayment.length" v-for="(evidence, key) in evidenceOfPayment" v-bind:key="key" style="padding: 20px; text-align: left">
            <el-card class="box-card" shadow="never" style="text-align: center">
              <img src="../../assets/icons/pdf.svg" height="50px">
              <p>{{ evidence.fileName }}</p>
              <p> {{ evidence.createdDate }}</p>
              <p v-if="evidence.comment">Comment: {{ evidence.comment }} </p>
              <el-button @click="downloadFile(evidence.fileName, evidence.fileBytes)" class="order-details-btn">Download</el-button>
            </el-card>
          </el-col>
          <h3 v-if="!evidenceOfPayment.length" class="primary-color">Awaiting evidence of payment</h3>
        </el-row>
      </el-card>
    </div>
  </div>
</template>
<script>
import {base64ToArrayBuffer, saveByteArray} from '../../helper/helperFunctions'
import { socket } from '../../helper/index'
export default {
  data () {
    return {
      id: null,
      loading: true,
      evidenceOfPayment: []
    }
  },
  beforeCreate () {
    this.id = this.$route.params.id
  },
  created () {
    socket.$on('evidenceOfPayment', (data) => {
      this.evidenceOfPayment = data
    })
  },
  methods: {
    base64ToArrayBuffer,
    saveByteArray,
    downloadFile (fileName, byte) {
      let file = this.base64ToArrayBuffer(byte)
      this.saveByteArray(fileName, file)
    }
  }
}
</script>
