<template>
  <div>
    <div class="Invoice">
      <el-card>
        <el-row :gutter="10" v-show="!invoices.length">
            <el-col :span="6" >
              <h2 class="primary-color">Upload Invoice</h2>
              <el-upload
                  :auto-upload="false"
                  ref="upload"
                  class="upload-demo"
                  name="invoice"
                  :action="url"
                  :file-list="fileList"
                  :on-success="handleSuccess"
                  :on-error="handleError"
                  :limit="1"
                  :headers="header"
                  :data="data"
                  :before-upload="beforeFileIsUploaded"
                  :on-change="didFileChanged"
                  :on-remove="didFileChanged"
              >
                <el-button slot="trigger" size="small" type="primary">select file</el-button>
                <div class="el-upload__tip primary-color" v-if="!uploadError" slot="tip">Maximum 1 PDF file only</div>
                <div class="el-upload__tip primary-color" slot="tip">Maximum file size 1MB</div>
              </el-upload>
            </el-col>
          </el-row>
        <el-row :gutter="10" v-show="!invoices.length">
          <el-col :span="5"  >
            <br>
            <el-input maxlength="70" v-model="data.comment" placeholder="Additional Information"></el-input>
          </el-col>
        </el-row>
        <el-row :gutter="10">
          <el-col :span="6">
            <p v-if="uploadError" class="alert">{{uploadError}}</p>
          </el-col>
        </el-row>
        <el-row :gutter="10">

          <el-col :span="5"  v-for="(invoice, key) in invoices" v-bind:key="key">
            <el-card class="box-card" shadow="never">
              <img src="../../assets/icons/pdf.svg" height="50px">
              <p>{{ invoice.fileName }}</p>
              <p> {{ invoice.createdDate }}</p>
              <p v-if="invoice.comment">Comment: {{ invoice.comment }} </p>
              <el-button @click="downloadFile(invoice.fileName, invoice.fileBytes)"  class="order-details-btn">Download</el-button> <br>
            </el-card>
          </el-col>
          <el-col :offset="21" :span="3">
            <el-button style="margin-left: 10px;" size="small" :disabled="disabledButton" type="success" @click="submitUpload">Send Invoice</el-button>
          </el-col>
        </el-row>
      </el-card>
    </div>
  </div>
</template>
<script>
import { socket } from '../../helper/index'
import {base64ToArrayBuffer, saveByteArray, validateFileUploadSize} from '../../helper/helperFunctions'
import {mapState} from 'vuex'
export default {
  name: 'invoice',
  data () {
    return {
      hasFile: false,
      uploadedInvoice: 0,
      data: {
        orderId: this.$route.params.id,
        comment: ''
      },
      invoices: [],
      fileList: [],
      uploadError: false,
      header: {
        Authorization: 'Bearer ' + localStorage.getItem('token')
      },
      baseURI: ''
    }
  },
  computed: {
    disabledButton () {
      if (!this.hasFile) { return true }
      if (!this.isActive) {
        return true
      }
      if (this.uploadedInvoice >= 1) {
        return true
      }
      if (this.invoices.length >= 1) {
        return true
      }
      return false
    },
    url () {
      return this.baseURI + '/orders/invoice-upload/' + this.$route.params.id + '?comment=' + this.data.comment
    },
    ...mapState('authentication', [
      'isActive'
    ])
  },
  methods: {
    validateFileUploadSize,
    /**
     * Check if the select file changed
     * */
    didFileChanged (file, fileList) {
      this.hasFile = !!fileList.length
    },
    submitUpload () {
      this.uploadError = false
      this.$refs.upload.submit()
    },
    handleSuccess (file) {
      this.uploadedInvoice++
      this.data.comment = ''
      this.$message({
        message: file.msg,
        type: 'success',
        customClass: 'alertMessageClass'
      })
      this.invoices.push(file.result[0])
    },
    /**
     * *Validate file before uploading
     * */
    beforeFileIsUploaded (file) {
      // eslint-disable-next-line no-new
      return new Promise((resolve, reject) => {
        this.$confirm('Are you sure you want to submit file?', 'Warning', {
          confirmButtonText: 'Yes',
          cancelButtonText: 'No',
          type: 'warning',
          customClass: 'warningPromptClass'
        }).then((data) => {
          if (!this.validateFileUploadSize(file)) {
            this.$message({
              message: 'File size exceeded',
              type: 'info',
              customClass: 'alertMessageClass'
            })
            reject(true)
          }
          resolve(true)
        }).catch(() => {
          // eslint-disable-next-line prefer-promise-reject-errors
          reject(true)
        })
      })
    },
    handleError (error) {
      this.uploadError = error.message
    },
    base64ToArrayBuffer,
    saveByteArray,
    downloadFile (fileName, byte) {
      let file = this.base64ToArrayBuffer(byte)
      this.saveByteArray(fileName, file)
    }
  },
  created  () {
    socket.$on('downloadInvoice', (data) => {
      this.invoices = data
    })
    this.baseURI = process.env.BASE_URL_API
  }
}
</script>
