<template>
        <el-row v-loading="loading">
          <div class="search-input-container">
            <el-row :gutter="10">
              <el-col :span="4" :offset="20" class="text-right">
                <el-upload
                    class="upload-demo"
                    :action="url"
                    :file-list="fileList"
                    :on-success="handleSuccess"
                    :on-error="handleError"
                    :headers="header"
                    name="SourcingFile"
                >
                  <el-button size="small" type="primary">Upload Sourcing List</el-button>
                  <div slot="tip" class="el-upload__tip">.xls required</div>
                </el-upload>
                <p v-if="uploadError" class="alert">{{ uploadError }}</p>
              </el-col>
            </el-row>
          </div>
          <div class style="margin-top: 40px;">
            <el-card>
              <SourcingListtable
                :sourcing-list="sourcingList"
              ></SourcingListtable>
            </el-card>
          </div>
        </el-row>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import SourcingListtable from './SourcingListtable/SourcingListtable'
export default {
  components: {
    SourcingListtable
  },
  data () {
    return {
      fileList: [],
      uploadError: false,
      loading: false,
      header: {
        Authorization: 'Bearer ' + localStorage.getItem('token')
      },
      baseURI: ''
    }
  },
  computed: {
    ...mapState('orders', [
      'sourcingList'
    ]),
    url () {
      return this.baseURI + 'administrators/upload-sourcing-file'
    }
  },
  methods: {
    ...mapActions('orders', [
      'getSourcingList'
    ]),
    handleSuccess (file) {
      this.$message({
        type: 'success',
        message: file.msg,
        customClass: 'alertMessageClass'
      })
      this.loading = true
      this.getSourcingList()
        .then(response => {
          this.loading = false
        })
    },
    handleError (error) {
      this.uploadError = error.message
    },
    dateToString (date) {
      date = new Date(date)
      return date.toDateString()
    },
    formatDate (stringDate) {
      return stringDate.split(' ')
    }
  },
  mounted () {
    this.baseURI = process.env.BASE_URL_API
    this.loading = true
    this.getSourcingList()
      .then(response => {
        this.loading = false
      })
  }
}
</script>
