.mt-4 {
  margin-top: 50px;
}
.el-tab-pane label {
  /* border: 2px solid red; */
}
.central-color {
  color: #0174c5;
}
.btn-oder-details {
  border: 1px solid #0174c5;
  color: #0174c5;
  padding: 8px 12px;
  background: #fff;
  text-decoration: none;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
}
.alert-success {
  width: 45%;
  font-size: 30px;
  background: green;
  color: #fff;
  margin-top: 40px;
}
.el-icon-document {
  font-size: 100px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.status {
  color: red;
  font-size: 13px;
  font-weight: lighter;
  padding-top: 5px;
}
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.decline-order {
  background: red;
  padding: 10px 60px;
  color: #fff;
}

.decline-order:hover {
  background: red;
  padding: 10px 60px;
  color: #fff;
}

.approve-order {
  background: green;
  padding: 10px 60px;
  color: #fff;
}

.approve-order:hover {
  background: green;
  padding: 10px 60px;
  color: #fff;
}

.card-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  padding: 0px 0px 15px 15px;
}

.general-info {
  margin-top: 40px;
}

.order-detail-table {
  margin-top: 30px;
}

.el-tabs__nav-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /* height: 2px; */
  background-color: unset;
  z-index: 1;
}

.el-tabs__active-bar {
  /* background: #fff; */
  border: 0;
}
.top-content-push {
  width: 100%;
}

.bottom {
  margin-top: 20px;
  line-height: 12px;
}
.bottom h2 {
  color: #606266;
}
.top-content-push {
  width: 100%;
}
.icon-pad {
  padding-left: 20px;
}

.el-col .h4 {
  padding-bottom: 30px;
}

.card-shadow {
  webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 5px 16px 16px 16px;
  font-size: 13px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  /* max-width: 800px; */
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  /* padding-left: 8px; */
}
table thead tr {
  height: 20px;
  /* background: #ffed86; */
  font-size: 14px;
  border-radius: 60px;
}
table tbody tr {
  height: 28px;
  border-bottom: 10px solid #fff;
}
table tbody tr:last-child {
  border: 0;
}
table th {
  color: #0174c5;
}
table td {
  padding: 10px 0px;
}
table td,
table th {
  text-align: left;
  width: 500px;
  height: 75px;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: left;
}
table td.r,
table th.r {
  text-align: left;
}

@media screen and (max-width: 35.5em) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Code";
  }
  table tbody tr td:nth-child(2):before {
    content: "Stock";
  }
  table tbody tr td:nth-child(3):before {
    content: "Cap";
  }
  table tbody tr td:nth-child(4):before {
    content: "Inch";
  }
  table tbody tr td:nth-child(5):before {
    content: "Box Type";
  }
}
