
.search-input-width {
  /* width: 450px; */
}

.top-content-push {
  width: 100%;
}

.home--search--input input {
  height: 40px !important;
  width: 100% !important;
  padding-left: 10% !important;
  border: 1px solid #000 !important;
  border-radius: 5px !important;
}
.search--field i {
  z-index: 34565 !important;
  position: absolute !important;
  top: 50% !important;
  left: 5% !important;
  font-weight: bolder !important;
  transform: translate(-50%, -50%) !important;
}

.search--field {
  position: relative !important;
  /*background: red !important;*/
  height: 40px !important;
  width: 60% !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.el-select .el-input .el-select__caret {
  position: relative;
  top: -8px;
  color: #000;
}

.btn-oder-details {
  border: 1px solid #0174c5;
  color: #0174c5;
  padding: 8px 12px;
  background: #fff;
  text-decoration: none;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
}

.admin-text-color {
  color: red;
}

.next-arrow-div {
  margin: 0px 0px 70px 0px;
}

.block {
  /* padding: 10px; */
  background: #000;
  height: 50px;
}

/* .TABLE */

.table {
  border-spacing: 1;
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;
  /* max-width: 800px; */
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.table * {
  position: relative;
}

.table td {
  border: 1px solid #eee;
}
.table td,
.table th {
  padding-left: 8px;
}
.table thead tr {
  height: 60px;
  /* background: #ffed86; */
  font-size: 16px;
  border-bottom: 2px solid #000;
}
.table tbody tr {
  height: 100px;
  border-bottom: 1px solid #e3f1d5;
  background: #f0f3ff;
  border-bottom: 10px solid #fff;
  border-radius: 0px;
  /* border: 1px solid red; */
}
.table tbody tr:last-child {
  border: 0;
}
.table td,
.table th {
  text-align: center;
}
.table td.l,
.table th.l {
  text-align: right;
}

.central-color {
  color: #0174c5;
}
.table td.c,
.table th.c {
  text-align: center;
}
.table td.r,
.table th.r {
  text-align: center;
}

@media screen and (max-width: 35.5em) {
  .table {
    display: block;
  }
  .table > *,
  .table tr,
  .table td,
  .table th {
    display: block;
  }
  .table thead {
    display: none;
  }
  .table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  .table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  .table tbody tr td:last-child {
    margin-bottom: 0;
  }
  .table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  .table tbody tr td:nth-child(1):before {
    content: "Code";
  }
  .table tbody tr td:nth-child(2):before {
    content: "Stock";
  }
  .table tbody tr td:nth-child(3):before {
    content: "Cap";
  }
  .table tbody tr td:nth-child(4):before {
    content: "Inch";
  }
  .table tbody tr td:nth-child(5):before {
    content: "Box Type";
  }
}
