
.tab-profile {
  .el-tabs__nav-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    padding-bottom: 20px;
  }
  .el-tabs__item {
    font-size: 20px;
    border: 2px solid #0076C2;
    text-align: center;
    margin-right:10px ;
    &.is-active {
      color: #fff !important;
      background-color: #0076C2;
      font-weight: bold;
    }
    &.is-top {
      width: 185px !important;
      height: 30px !important;
      border-radius: 7px;
      font-size: 14px;
      line-height: 25px !important;
      text-align: center;
      padding: 0;
      &:nth-child(2) {
        //margin-left: 100%;
      }
    }
  }
  .el-select .el-input.is-disabled .el-input__inner {
    border: 1px solid #1C9CD4 !important;
    color: #0174c5;
    background: transparent;
    font-weight: lighter;
    outline: none;
    height: 30px !important;
    width: 189px !important;
    padding: 0px 10px;
    border-radius: 5px;
  }
  .el-select .el-input .el-input__inner {
    border: 1px solid #1C9CD4 !important;
    color: #0174c5;
    background: transparent;
    font-weight: lighter;
    outline: none;
    height: 30px !important;
    width: 189px !important;
    padding: 0px 10px;
    border-radius: 5px;
  }
}
