<template>
    <el-row class="Info" type="flex" justify="space-between">
        <el-col class="Info__content"  :span="14">
          <h2 v-if="order.poNumber" class="Info__content__title">
            PO # {{ order.poNumber }}
          </h2>
          <h2 v-if="order.sapQuoteId" class="Info__content__title">
            SAP Quote ID #  {{ order.sapQuoteId }}
          </h2>
          <el-col :span="12" class="Info__content__box">
            <i class="el-icon-user-solid"></i>
            <p>
              {{ order.address.shipToCompanyName }}
            </p>
          </el-col>
          <el-col :span="12" class="Info__content__box">
            <i class="el-icon-date"></i>
            <p>
              {{ order.deliveryTime }} <br>
              {{ order.deliveryDate }}
            </p>
          </el-col>
          <el-col  :span="12" class="Info__content__box">
            <i class="el-icon-location"></i>
            <p>
              {{  order.address.address }}
            </p>
          </el-col>
          <el-col v-if="order.deliveryInformation || order.deliveryNote" :span="12" class="Info__content__box">
            <i class="el-icon-chat-line-square"></i>
            <p>
              {{  order.deliveryInformation }} {{ order.deliveryNote }}
            </p>
          </el-col>
          <el-col v-if="order.orderDate" :offset="16" :span="10" class="Info__content__box Info__content__box--footer">
            <p>Order Created: {{ order.orderDate }}</p>
          </el-col>
        </el-col>
      <el-col :span="9">
        <el-col :span="14" :offset="10">
          <order-status
            :code="order.statusCode"
            :detail="order.statusDetail"
            :status="order.orderStatus"
          ></order-status>
        </el-col>
        <el-col class="Info__summary">
        <div class="Info__summary__box">
          <p>SubTotal</p> <p>{{ sumTotal }}</p>
        </div>
        <div class="Info__summary__box">
          <p>Tax</p> <p>0.00</p>
        </div>
        <hr class="Info__summary__hr">
        <div class="Info__summary__box">
          <p>Sum total</p> <p>{{ sumTotal }}</p>
        </div>
      </el-col>
      </el-col>
    </el-row>
</template>

<script>
import './_Info.scss'
import OrderStatus from '../../../DetailStatus/DetailStatus'

export default {
  name: 'order-info',
  components: {
    OrderStatus
  },
  props: {
    order: {
      required: true,
      type: Object
    },
    sumTotal: {
      required: true
    }
  }
}
</script>
