<template>
    <el-row class="products-order">

      <el-col :span="16" class="products-order__box">
        <el-col :span="12" class="products-order__box__content" v-for="(product, key) in products" :key="key">
          <img :src="product.products.imageUrlSmall" class="products-order__box__content__image products-order__box__content__image--large">
          <div class="products-order__box__content__box">
            <div class="products-order__box__content__box__title primary-color">
              {{ product.products.productName }}
            </div>
            <div class="products-order__box__content__box__detail">
            <span v-if="!isCashCustomer">
               {{ product.products.quantity + ' '  + product.products.units + ' X ' + product.products.unitPrice + ' = ' }}
            </span>
              <span v-else>
               {{ product.products.quantity + ' '  + product.products.units }}
            </span>
              <br>
              <span v-if="!isCashCustomer">
                <b>
                    {{ product.subTotal }}
                </b>
              </span>
            </div>
          </div>
        </el-col>
      </el-col>
      <el-col :span="8" class="products-order__addon">
        <el-col :span=24 class="products-order__box__content" v-if="pallets">
          <img src="../../../../../assets/icons/pallet.svg" height="100" class="products-order__box__content__image  products-order__box__content__image--small">
          <div class="products-order__box__content__box">
            <div class="products-order__box__content__box__title primary-color">
              {{ pallets.name }}
            </div>
            <div  class="products-order__box__content__box__detail ">
            <span v-if="!isCashCustomer">
               {{ pallets.quantity + ' X ' + pallets.price + ' = ' }}
            </span>
              <span v-else>
                {{ pallets.quantity }}
              </span>
              <br>
              <span v-if="!isCashCustomer">
                <b>
                  {{ pallets.subTotal }}
                </b>
              </span>
            </div>
          </div>
        </el-col>
        <el-col :span=24 class="products-order__box__content" v-if="moffett">
          <img style="margin-right: 22px;" src="../../../../../assets/icons/forklift-with-boxes.svg" height="100" class="products-order__box__content__image  products-order__box__content__image--small">
          <div class="products-order__box__content__box">
            <div class="products-order__box__content__box__title primary-color" >
              {{ moffett.name }}
            </div>
            <div  class="products-order__box__content__box__detail">
            <span v-if="!isCashCustomer">
               {{ moffett.quantity + ' X ' + moffett.price + ' = ' }}
            </span>
              <span v-else>
              {{ moffett.quantity }}
              </span>
              <br>
              <span v-if="!isCashCustomer">
                <b>
                  {{ moffett.subTotal }}
                </b>
              </span>
            </div>
          </div>
        </el-col>
      </el-col>
    </el-row>
</template>

<script>
import '../../../../../styles/components/order/_orderProducts.scss'
import {mapGetters} from 'vuex'

export default {
  name: 'order-products',
  props: {
    products: {
      required: true,
      type: Array
    },
    pallets: {
      required: true,
      type: Object
    },
    moffett: {
      required: true,
      type: Object
    }
  },
  computed: {
    ...mapGetters('customers', [
      'isCashCustomer'
    ])
  }
}
</script>
