<template>
  <el-col class="Orders" v-loading="loading">
    <el-col style="text-align: initial" class="title" :lg="{ span: 4}">
      <h2 class="primary-color title">Order Details</h2>
    </el-col>
    <el-col class="order__container">
      <el-tabs>
        <el-tab-pane  label="General Information">
          <div class="order__container__content">
            <el-col :span=24>
              <order-info
                :order="details"
              :sum-total=" details.totalAmount"
              ></order-info>
            </el-col>
          </div>
        </el-tab-pane>
        <el-tab-pane v-if="isCashCustomer" label="Invoice">
          <download-invoice :orderId="id"></download-invoice>
        </el-tab-pane>
        <el-tab-pane  v-if="isCashCustomer"  label="Evidence of payment">
          <evidence-of-payment :status="details.statusCode" :orderId="id"></evidence-of-payment>
        </el-tab-pane>
      </el-tabs>
    </el-col>
    <el-col :span="24" >
      <el-col class="order__container">
        <div class="order__container__header">
          <div class="order__container__header__title">
            Review Order
          </div>
          <div class="order__container__header__actions">
            <a class="primary-color" @click="exportOrder({id:details.poNumber})" href="#">
                <span class="flex-center">
                    <b>Export as PDF</b>  &nbsp; &nbsp;
                    <img src="../../../../../assets/icons/export.png" alt="">
                </span>
            </a>
          </div>
        </div>
        <order-product-details
        :products="products"
        :pallets="details.pallets"
        :moffett="details.moffets"
        >
        </order-product-details>
      </el-col>
    </el-col>
    <el-col style="text-align: right" :lg="{ span: 21, offset: 3}" :md="24" :xs="{ span: 21, offset: 3}" :sm="24">
      <el-dropdown @command="processCancelOrder">
        <el-button  type="danger" :loading="buttonLoader" :disabled="disableCondition" >
          Cancel Order
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item :command="note"
                            v-for="(note, key) in declinedOrderNotes" :key="key"
          >
            {{ note }}
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </el-col>
  </el-col>
</template>

<script>
import EvidenceOfPayment from '../EvidenceOfPayment'
import DownloadInvoice from '../DownloadInvoice/DownloadInvoice'
import OrderInfo from '../Info/Info'
import OrderProductDetails from '../Products/Products'
import OrderStatus from '../../../DetailStatus/DetailStatus'
import { mapState, mapActions, mapGetters } from 'vuex'
import { canCancelCustomerOrder, socket } from '../../../../../helper'
import {Tabs, TabPane} from 'element-ui'
export default {
  name: 'orderCard',
  components: {
    EvidenceOfPayment,
    DownloadInvoice,
    'el-tabs': Tabs,
    'el-tab-pane': TabPane,
    OrderInfo,
    OrderProductDetails,
    OrderStatus
  },
  data () {
    return {
      declinedOrderNotes: []
    }
  },
  computed: {
    products () {
      return this.details.cartDetail
    },
    disableCondition () {
      const orderStatus = this.details.statusCode
      const customerType = this.isCashCustomer
      return canCancelCustomerOrder(orderStatus, customerType)
    },
    alertType () {
      return this.$store.state.alert.type
    },
    alertMessage () {
      return this.$store.state.alert.message
    },
    ...mapState('orders', [
      'details',
      'loading',
      'buttonLoader'
    ]),
    ...mapGetters('customers', [
      'isCashCustomer'
    ])
  },
  methods: {
    updatePages () {
      socket.$emit('evidenceOfPayment', this.details.paymentEvidence)
      socket.$emit('downloadInvoice', this.details.invoice)
    },
    /**
     * Map actions from order store
     */
    ...mapActions('orders', [
      'get',
      'cancelCustomerOrder',
      'exportOrder'
    ]),
    ...mapActions('customers', [
      'getCustomer'
    ]),
    /**
     * Initiate the Order cancelling process
     * @param OrderId
     */
    processCancelOrder (message) {
      this.$confirm(`Are you sure you want to cancel this order with reason "${message}" ?`, 'Warning', {
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
        type: 'warning',
        customClass: 'warningPromptClass'
      }).then(() => {
        this.cancelCustomerOrder({OrderId: this.details.poNumber, message})
          .then(() => {
            this.$snotify.success('Order cancelled successfully', 'Order', {
              timeout: 2000,
              showProgressBar: false,
              closeOnClick: true
            })
            this.$router.push('/order')
          })
      })
    },
    /**
     * Get details of a message from server
     */
    inIt () {
      let customerId = this.$route.params.customerId
      this.getCustomer({id: customerId})
      if (this.$route.params.id) {
        let id = this.$route.params.id ? this.$route.params.id : null
        this.get({id, customerId}).then(() => {
          this.updatePages()
        })
        return
      }
      this.$router.push('customers')
    }
  },
  created () {
    this.declinedOrderNotes = process.env.CUSTOMER_DECLINE_ORDER_NOTES
    this.inIt()
  }
}
</script>
