<template>
          <el-col class="box-card" >
            <app-table
              emptyTableString="There are no quotes"
              title=""
              :data="quotes"
            >
              <el-table-column
                label="SAP Quote ID"
                prop="sapQuoteId"
                align="center"
                header-align="center"
                :class-name="cellStyle"
              ></el-table-column>
              <el-table-column
                label="Customer Name"
                prop="companyName"
                align="center"
                header-align="center"
                :class-name="cellStyle"
              ></el-table-column>
              <el-table-column
                label="Ship to Party Address"
                prop="address.address"
                align="center"
                header-align="center"
                :class-name="cellStyle"
              ></el-table-column>
              <el-table-column
                label="Valid Till Date"
                prop="address.validTillDate"
                align="center"
                header-align="center"
                :class-name="cellStyle"
                width="245"
              ></el-table-column>
              <el-table-column
                label="Status"
                align="center"
                header-align="center"
                :class-name="cellStyle"
              >

                <template slot-scope="scope">
                  <a href="#" @click.prevent="goToOrderPage(scope.row.quoteId)">
                    <AppStatus
                      :link="{
               text: 'Select Quote'
               }"
                      :statusCode="scope.row.quoteStatus ? 2 : 3"
                      :label="scope.row.statusDescription"
                    >
                    </AppStatus>
                  </a>
                </template>
              </el-table-column>
            </app-table>
          </el-col>
</template>
<script>
import AppTable from '@/components/APP/Table/Table'
import AppStatus from '@/components/APP/StatusBar/StatusBar'

export default {
  name: 'quote-table',
  props: {
    quotes: {
      required: true,
      type: Array
    }
  },
  components: {
    AppTable,
    AppStatus
  },
  computed: {
    cellStyle () {
      return 'table__row__cell__label'
    }
  },
  methods: {
    goToOrderPage (id) {
      this.$emit('goToOrderPage', id)
    }
  }
}
</script>
