<template>
  <div class="replyBox" >
    <el-col :offset="2" :span="20" class="editor-border" style="text-align: left">
      <ckeditor class="editor" :editor="editor" v-model="content"></ckeditor>
      <span class="alert" v-if="submitted && emptyMessage">Message content is required</span>
    </el-col>
    <el-col :offset="2" :span="20">
      <file-uploader
        @receivedFiles="receivedFiles"
      ></file-uploader>
    </el-col>
    <el-col :offset="2" :span="4" class="button-margin">
      <el-button type="primary" size="mini" @click="sendMessage()">Send</el-button>
      <el-tooltip
        class="item"
        effect="dark"
        content="Click to  attachment file"
        placement="top">
        <a style="margin-left:10px; cursor: pointer"
          @click.prevent="upload()"
        >
          <img src="../../../assets/icons/attachment.svg" height="15px">
        </a>
      </el-tooltip>
      <p class="primary-color">
        PDF file Only
      </p>
    </el-col>

  </div>
</template>

<script>
import CKEditor from '@ckeditor/ckeditor5-vue'
import ClassicEditor from '@ckeditor/ckeditor5-build-inline'
import { mapActions } from 'vuex'
import fileUploader from '../fileUploader/fileUploader'
import {socket} from '../../../helper'
export default {
  props: {
    threadId: {
      required: true
    }
  },
  components: {
    fileUploader,
    ckeditor: CKEditor.component
  },
  data () {
    return {
      editor: ClassicEditor,
      content: '',
      subject: '',
      files: new FormData(),
      submitted: false
    }
  },
  computed: {
    emptyMessage () {
      if (this.content === '') {
        return true
      }
      return false
    }
  },
  methods: {
    receivedFiles (file) {
      this.file = file
    },
    /**
     * map actions from message store
     */
    ...mapActions('messages', [
      'replyThread'
    ]),
    /**
     * Initiate the message sending process
     * */
    sendMessage () {
      this.submitted = true
      if (this.emptyMessage) { return }
      let fd = new FormData()
      fd.set('Content', this.content)
      fd.set('Subject', this.subject)
      fd.append('file', this.file)
      let data = fd
      let id = this.threadId
      this.replyThread({id, data})
        .then(() => {
          this.$emit('replyCompleted')
          this.$message({
            type: 'success',
            message: `Message sent successfully`,
            customClass: 'alertMessageClass'
          })
        })
    },
    upload () {
      socket.$emit('upload')
    }
  }
}
</script>
<style lang="scss" scoped>

  @import './replyBox.scss';

</style>
