<template>
  <el-col :span="24">
    <el-row :gutter="10">
      <el-col :span="12" class="left">
        <img src="../../assets/img/backgroung/account-background.png" alt="" style=" width: 100%;
    height: auto;
    max-width: 100%;">
        <div class="left__content">
          <h1>SEPHAKU CEMENT <br>
            BUILD FASTER STRONGER
          </h1>
          <p>WELCOME TO THE NEXT GENERATION IN CEMENT</p>
        </div>
      </el-col>
      <el-col :span="12" class="right">
        <el-col>
          <router-view/>
        </el-col>
      </el-col>
    </el-row>
  </el-col>
</template>
<style lang="scss" scoped>
.el-button {

  height: 49px;
  width: 100%;
}

.left {
  position: relative;
  height: 704.98px;
  img {
    z-index: 99999;
  }
  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color:#fff ;
    z-index: 1;
    width: 100%;
    h1 {
      font-size: 40px;
      font-weight: bold;
    }
    p {
      font-size: 20px;
    }
  }
}
.right {
  display: flex;
  justify-items: center;
  align-items: center;
  	height: 704.98px;
min-height: 100%;
}
</style>
<script>
export default {
  methods: {
    clearErrors () {
      this.$store.dispatch('alert/clear')
    }
  },
  beforeRouteUpdate (to, from, next) {
    this.clearErrors()
    next()
  }
}
</script>
