.DownloadInvoice {
  // Vars
  padding: 20px;

  // Support

  // Module
  .el-card {
    background: transparent;
  }
  text-align: center;
  img {
    height: 60px;
  }
  & {
    //
  }

  // Facets

  // States
}
