<template>
  <div class="DownloadInvoice">
    <el-col :span="6" v-if="invoices.length" v-for="(invoice, key) in invoices" v-bind:key="key">
      <el-card class="box-card" shadow="never">
        <img src="../../../../../assets/icons/pdf.svg" alt="">
        <p>{{ invoice.fileName }}</p>
        <p> {{ invoice.createdDate }}</p>
        <p>Comment: {{ invoice.comment }} </p>
        <el-button class="btn-oder-details" @click="downloadFile(invoice.fileName, invoice.fileBytes)">Download</el-button>
      </el-card>
    </el-col>
    <h4  class="primary-color" v-if="!invoices.length">Waiting for invoice</h4>
  </div>
</template>

<style lang="scss">
  @import 'DownloadInvoice';
  .btn-oder-details {
    border: 1px solid #0174c5;
    color: #0174c5;
    padding: 8px 12px;
    background: #fff;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
  }
</style>

<script>
import { mapState } from 'vuex'
import { socket } from '../../../../../helper'
import {base64ToArrayBuffer, saveByteArray} from '../../../../../helper/helperFunctions'
export default {
  props: {
    orderId: {
      required: true
    }
  },
  data () {
    return {
      invoices: []
    }
  },
  computed: {
    ...mapState('orders', [
      'activeOrderInvoice'
    ])
  },
  methods: {
    base64ToArrayBuffer,
    saveByteArray,
    downloadFile (fileName, byte) {
      let file = this.base64ToArrayBuffer(byte)
      this.saveByteArray(fileName, file)
    }
  },
  created () {
    socket.$on('downloadInvoice', (data) => {
      this.invoices = data
    })
  }
}
</script>
