<template>
  <div class="Table">
    <app-table
      emptyTableString="There are no Customers"
      title=""
      :data="customers"
    >
      <el-table-column
        label="SAP Customer ID"
        prop="sapUserId"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
      <el-table-column
        label="Customer Name"
        prop="userName"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
      <el-table-column
        label="Email Address"
        prop="email"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
      <el-table-column
        label="User Type"
        prop="role"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
      <el-table-column
        label="Status"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      >
        <template slot-scope="scope">
          <AppStatus
            :link="{
               route,
               param: {id: scope.row.id},
               text: 'Manage Customer'
               }"
            :statusCode="scope.row.isActive ? 90 : 3"
            :label="scope.row.isActive ? 'Active' : 'Blocked'"
          ></AppStatus>
        </template>
      </el-table-column>
    </app-table>
  </div>
</template>

<script>
import AppTable from '@/components/APP/Table/Table'
import AppStatus from '@/components/APP/StatusBar/StatusBar'
import {TableColumn} from 'element-ui'
export default {
  name: 'customer-table',
  components: {
    AppTable,
    AppStatus,
    'el-table-column': TableColumn
  },
  props: {
    customers: {
      required: true
    },
    route: {
      type: String,
      required: true
    }
  },
  computed: {
    cellStyle () {
      return 'table__row__cell__label'
    }
  }
}
</script>
