.sidebar {
    // Vars

    // Support
    flex: 0 0 300px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    padding-top: 50px;
        background-color: white;
    // Module
    & {
        //
    }

    // Facets

    // States
}
