<template>
  <div class="sidebar">
    <el-menu>
      <el-menu-item index="1" @click="goTo('/message/create')">
        <i class="el-icon-edit-outline"></i>
        <span>Create New Message</span>
      </el-menu-item>
      <el-menu-item index="2" @click="goTo('/message')">
        <i class="el-icon-message"></i>
        <span>Inbox</span>
      </el-menu-item>
    </el-menu>
  </div>
</template>
<script>
export default {
  name: 'side-bar',
  props: {
  },
  methods: {
    goTo (route) {
      this.$router.push(route)
    }
  }
}
</script>
<style lang="scss" scoped>
  @import 'sidebar';
</style>
