<template>
  <div class="profile">
    <el-col :span="24">
          <el-tabs class="tab-profile">
            <el-tab-pane label="Profile">
              <div class="container">
                <el-col :span="16">
                  <el-row :gutter="10">
                    <el-col :span="6">Company Name:</el-col>
                    <el-col :span="18">
                      <el-input
                        class="small"
                        placeholder=""
                        v-model="user.companyName"
                        disabled>
                      </el-input>
                    </el-col>
                  </el-row>
                </el-col>
                <el-col :span="16">
                  <el-row :gutter="10">
                    <el-col :span="6">Email Address:</el-col>
                    <el-col :span="18">
                      <el-input
                        placeholder=""
                        v-model="user.emailAddress"
                        disabled>
                      </el-input>
                    </el-col>
                  </el-row>
                </el-col>
                <el-col :span="16">
                  <el-row :gutter="10">
                    <el-col :span="6">Phone Number:</el-col>
                    <el-col :span="18">
                      <el-input
                        placeholder=""
                        v-model="user.phoneNumber"
                        disabled>
                      </el-input>
                    </el-col>
                  </el-row>
                </el-col>
                <el-col :span="16">
                  <el-row :gutter="10">
                    <el-col :span="6">Street:</el-col>
                    <el-col :span="18">
                      <el-input
                        placeholder=""
                        v-model="user.address"
                        disabled>
                      </el-input>
                    </el-col>
                  </el-row>
                </el-col>
                <el-col :span="16">
                  <el-row :gutter="10">
                    <el-col :span="6">City:</el-col>
                    <el-col :span="18">
                      <el-input
                        placeholder=""
                        v-model="user.city"
                        disabled>
                      </el-input>
                    </el-col>
                  </el-row>
                </el-col>
              </div>
            </el-tab-pane>
            <el-tab-pane label="Change Password">
              <el-col :span="16">
                <el-input
                  placeholder="Old Password"
                  v-model="oldPassword"
                  type="password">
                </el-input>
                <div v-show="submitted && !confirmPassword" class="alert">New Password is required</div>
              </el-col>
              <el-col :span="16" class="margin-top-20">
                <el-input
                  placeholder="New Password"
                  v-model="newPassword"
                  type="password">
                </el-input>
                <div v-show="submitted && !newPassword" class="alert">New Password is required</div>
              </el-col>
              <el-col :span="16" class="margin-top-20">
                <el-input
                  placeholder="Confirm Password"
                  v-model="confirmPassword"
                  type="password">
                </el-input>
                <div v-show="submitted && !confirmPassword" class="alert">Confirm Password is required</div>
              </el-col>
              <el-col :span="16" class="margin-top-20">  <el-button type="primary" :loading="processing" @click="changePassword()" plain>Change Password</el-button></el-col>
            </el-tab-pane>
          </el-tabs>
    </el-col>
  </div>
</template>

<script>
export default {
  data () {
    return {
      submitted: false,
      user: {
        companyName: '',
        emailAddress: '',
        phoneNumber: '',
        address: '',
        city: ''
      },
      oldPassword: '',
      newPassword: '',
      confirmPassword: ''
    }
  },
  computed: {
    processing () {
      return this.$store.state.authentication.status.processing
    },
    alertType () {
      return this.$store.state.alert.type
    },
    alertMessage () {
      return this.$store.state.alert.message
    }
  },
  created () {
    this.user = this.$store.state.authentication.user
  },
  methods: {
    changePassword () {
      this.submitted = true
      const { oldPassword, newPassword, confirmPassword } = this
      const { dispatch } = this.$store
      if (oldPassword && newPassword && confirmPassword) {
        dispatch('authentication/changePassword', {oldPassword, newPassword, confirmPassword})
          .then(response => {
            this.$message({
              type: 'success',
              message: response,
              customClass: 'alertMessageClass'
            })
            this.$router.push('/')
          })
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  .profile{
    padding-top: 20px;
    .container {
      padding: 20px;
    }

    p {
      font-size: 10px;
    }
    .el-row {
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: first baseline;
        font-size: 14px;
    }
  }
  .el-button {
    padding: 10px 45px;
  }
</style>
