.products-order {
  .el-input {
    .el-input__inner {
      background: darken( #F3F7FA, 10% )  no-repeat padding-box !important;
      height: 30px !important;
      width: 80px;
      border: 1px solid grey;
    }
  }
  padding: 30px;
  &__box {
    &__content {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      &__image {
        &--large {
          height: 120px;
        }
        &--small {
          height: 54px;
          width: 75px;
        }
        margin-right:10px;
      }
      &__box {
        text-align: left;
        padding: 10px;
        background: darken( #F3F7FA, 10% )  no-repeat padding-box;
        height: 95px !important;
        width: 182px;
        &__title {
          color: #12C612;
          font-weight: bolder;
          margin: 10px 0;
          font-size: 14px;
          margin-top: 0;
        }
        &__detail {
          color: #12C612;
          font-size: 12px;
          span {
            line-height: 30px;
          }
        }
      }
    }
  }
  & {
    //
  }
}
