.order {
  // Vars

  // Support

  // Module
  &__container {
    margin-bottom: 30px;
    padding: 0 !important;
    &__header {
      display: flex;
      justify-content: space-between;
      &__title {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff !important;
        font-weight: bold;
        background: #0076C2 0% 0% no-repeat padding-box;
        opacity: 1;
        border: 1px solid #0076C2;
       padding: 0 20px;
        height: 36px;
      }
      &__actions {
        display: flex;
        a {
          font-size: 12px;
          color: #919496 !important;
          margin:10px;
          text-decoration: none;
          img {
            height: 15px;
          }
        }
      }
    }
    .el-tabs__item {
      &.is-active {
        color: #fff !important;
        background-color: #0076C2;
        font-weight: bold;

      }
      &.is-top {
        padding: 0;
        font-size: 12px;
        width: 170px;
        height: 33px;
        line-height: 30px;
        opacity: 1;
        color: #0076C2;
        text-align: center;
        border: 1px solid #0076C2;
      }
    }
    border: #0076C2 2px solid;
  }
}
.el-icon-close {
  display: block !important;
}
