.Info {
  // Vars

  // Support

  // Module
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-right: 12px;
  padding-bottom: 10px;
  h3 {
    font-size: 13px;
    margin:0;
  }
  p {
    margin: 5px 10px;
    text-align: initial;

  }
  &__content {
    background: darken( #F3F7FA, 3% )  no-repeat padding-box;
    border-radius: 2px;
    padding: 0px 25px;
    opacity: 1;
    &__title {
      text-align: left;
      letter-spacing: 0;
      color: #383838;
      opacity: 1;
      font-size: 12px;
      margin-bottom: 15px;
    }
    &__box {
      padding: 5px 10px;
      display: flex;
      align-items: initial;
      p {
        font-size: 12px;
        margin-top: 0;
      }
      &--footer {
        padding: 2px  0px;
        font-size: 12px;
        margin-top: 30px;

      }
      img {
        height: 20px;
        margin-right: 5px;
      }
    }
  }
  &__summary {
    height: 134px;
    background: #12C612 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;
    padding: 7px;
    font-weight: bolder;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    //align-items: center;
    flex-direction: column;
    hr {
      width: 100%;
      color: white;
      border: 2px solid white;
      //height: 100px;
    }
    &__box {
      display: flex;
      justify-content: space-between;
      font-size: 17px;
      &--footer {
        text-align: end;
      }
    }
  }
  & {
    //
  }
}
