<template>
  <el-row :gutter="10" style="padding: 20px; margin-top: 20px;" v-loading="loading">
    <el-row :gutter="10">
      <el-col class="text-right" v-show="isCreditCustomer" :span="8" :offset="16" >
        <h3 style="font-weight: normal">Credit : {{ customerBalance }}</h3>
      </el-col>
      <el-col class="order__container">
        <div class="order__container__header">
          <div class="order__container__header__title">
            Ship to Party Name: {{ activeCustomer.companyName }}
          </div>
          <div class="order__container__header__actions"  v-show="isCreditCustomer">
            <order-status
              :code="ActiveOrderDetails.quoteStatus ? 2 : 3"
              :detail="ActiveOrderDetails.statusDescription"
              :status="ActiveOrderDetails.statusDescription"
            ></order-status>
          </div>
        </div>
        <el-col :span="24" v-show="isCreditCustomer">
          <QuoteInfo
            :quote="ActiveOrderDetails"
          ></QuoteInfo>
        </el-col>
        <el-col :span="24" >
          <products
            :key="componentKey"
            :products="products"
            :submitted="submitted"
            :validate="validate"
            @validationFailed="validationFailed()"
            @completeOrder="updateCart"
          ></products>
        </el-col>
        <el-row class="detail" type="flex">
              <el-col :span="12" >
                <time-picker
                  @activeTime="setActiveTime"
                  @setActiveDate="setActiveDate"
                  :quoteExpiry="quoteExpiry"
                  :isCreditCustomer="isCreditCustomer"
                ></time-picker>
                <div v-if="submitted && dateCondition" class="alert">You must select a date to proceed</div>
              </el-col>
          <el-col :span="12">
            <el-row :gutter="10">
              <el-col :span="24">
                <h2 class="primary-color">Choose Ship to Party Address   <i v-if="!isCreditCustomer" @click="addressDisabled = false" style="font-size:20px; color:black" class="el-icon-edit"></i></h2>
                <el-autocomplete
                  class="activatedInput"
                  v-model="address"
                  :fetch-suggestions="querySearchAsync"
                  placeholder="Search address"
                  @select="handleSelect"
                  :disabled="addressDisabled"
                ></el-autocomplete>
                <div v-if="submitted && !addressDisabled" class="alert">You must select an address from the list</div>
              </el-col>
              <el-col :span="12">
                <h2 class="primary-color">Delivery Information</h2>
                <el-input
                  type="textarea"
                  :autosize="{ minRows: 2, maxRows: 4}"
                  placeholder="Delivery instruction"
                  v-model="order.deliveryInformation">
                </el-input>
              </el-col>
            </el-row>
            <el-col>
              <br>
              <br>
              <el-checkbox v-model="hasMoffets" v-if="isMoffettSelectable"> Add moffett</el-checkbox>
            </el-col>
          </el-col>
        </el-row>
      </el-col>
      <el-col :span="24" style="padding: 0; margin: 0">
        <el-row type="flex" justify="space-between">
          <el-col :span="12" style="padding: 0; margin: 0" class="text-left" >
            <el-button icon="el-icon-back" @click="goToQuotePage()" v-if="isCreditCustomer" :disabled="!ActiveOrderDetails.quoteStatus" class="large-button"  type="primary">
              Back To Quotes
            </el-button>
          </el-col>
          <el-col :span="12" class="text-right" style="padding: 0; margin: 0">
            <el-button  @click="processOrder()" v-show="isCreditCustomer" :disabled="!ActiveOrderDetails.quoteStatus" class="large-button"  type="primary">
              Proceed to checkout <i class="el-icon-arrow-right el-icon-right"></i>
            </el-button>
            <el-button  @click="processOrder()" v-if="!isCreditCustomer" class="large-button"  type="primary">
              Proceed to checkout <i class="el-icon-arrow-right el-icon-right"></i>
            </el-button>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
  </el-row>
</template>
<style scoped lang="scss">
  .detail {
    text-align: left;
    padding: 30px;
    .el-col {
      padding: 0;
      text-align: start;
    }
    .el-input {
      .el-input__inner {
        width: 160px;
        height: 45px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
      }
    }
  }
</style>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import TimePicker from '../../../../TimePicker/index'
import { socket, scrollToTop } from '../../../../../helper'
import OrderStatus from '@/components/Order/DetailStatus/DetailStatus'
import QuoteInfo from './Info/Info'
import Products from './Products/Products'
export default {
  name: 'order-page',
  props: ['activeQuoteId', 'userId', 'activeCustomer', 'customerBalance'],
  components: {
    TimePicker,
    OrderStatus,
    QuoteInfo,
    Products
  },
  data () {
    return {
      componentKey: 0,
      hasMoffets: false,
      num1: '',
      extractedProduct: [],
      multipleSelection: [],
      submitted: false,
      loading: false,
      activeDate: '',
      activeTime: process.env.DEFAULT_DELIVERY_TIME,
      deliveryInformation: '',
      address: '',
      order: {},
      addressDisabled: false,
      quoteExpiry: '',
      selectedQuoteKeys: [],
      validate: false
    }
  },
  watch: {
    activeQuoteId (val) {
      this.fetchOrderDetails(val)
      setTimeout(() => {
        this.componentKey++
      }, 3000)
    },
    'ActiveOrderDetails': {
      handler: function (newValue) {
        this.quoteExpiry = newValue.validTillDate
        if (!newValue.quoteDetails) {
          return
        }
        newValue.quoteDetails.forEach((product) => {
          product.quantity = product.newQuantity
        })
        this.quoteExpiry = newValue.validTillDate
      },
      deep: true
    },
    address (queryString) {
      if (this.isCashCustomer) {
        let address = this.customerAddresses.find(o => o.value === queryString)
        if (address) {
          this.addressDisabled = true
          return
        }
        this.order.address = {}
        this.addressDisabled = false
      }
    }
  },
  computed: {
    isMoffettSelectable () {
      return this.multipleSelection.filter(product => product.units === 'Bags').length
    },
    dateCondition () {
      return this.activeDate === ''
    },
    addressCondition () {
      return this.submitted && !this.order.address.addressId
    },
    ...mapState('orders', [
      'ActiveOrderDetails',
      'customerAddresses'
    ]),
    ...mapState('customers', [
      'customerAddresses'
    ]),
    ...mapGetters('customers', [
      'isCreditCustomer',
      'isCashCustomer'
    ]),
    products () {
      return this.ActiveOrderDetails.quoteDetails
    },
    /**
     * Check if there are selected products
     * @return {boolean}
     * */
    IsEmptyProducts () {
      return this.multipleSelection.length <= 0
    }
  },
  methods: {
    goToQuotePage () {
      socket.$emit('quotePage')
    },
    validationFailed () {
      this.validate = false
    },
    /**
     * Handle Select
     * @param item
     */
    handleSelect (item) {
      if (typeof item === 'undefined') {
        item = this.customerAddresses[0]
      }
      this.order.address = item
      this.addressDisabled = true
    },
    /**
     * Search for a customer address
     * @param queryString
     * @param cb
     */
    querySearchAsync (queryString, cb) {
      let addresses = this.customerAddresses
      let results = queryString ? addresses.filter(this.createFilter(queryString)) : addresses
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        cb(results)
      }, 3000 * Math.random())
    },
    /**
     * Filter Customer addresses
     * @param queryString
     * @returns {function(*): boolean}
     */
    createFilter (queryString) {
      return (address) => {
        return (address.value.toLowerCase().includes(queryString.toLowerCase()))
      }
    },
    /**
     * Set the selected Date
     * @param val
     */
    setActiveDate (val) {
      this.activeDate = val
    },
    /**
     * Set the selected Time
     * @param time
     */
    setActiveTime (time) {
      this.activeTime = time
    },
    scrollToTop,
    processOrder () {
      this.submitted = true
      if (
        this.IsEmptyProducts
      ) {
        return this.scrollToTop()
      }
      this.validate++
    },
    /**
     * Update Cart
     */
    updateCart () {
      if (this.addressDisabled) {
        if (!this.dateCondition) {
          this.order = {
            billToAddress: this.ActiveOrderDetails.billToAddress,
            hasMoffets: this.hasMoffets,
            address: this.order.address,
            userId: this.$route.params.id,
            sapQuoteId: this.ActiveOrderDetails.sapQuoteId,
            addressId: this.order.address.addressId ? this.order.address.addressId : this.order.address.id,
            deliveryTime: this.activeTime,
            deliveryInformation: this.order.deliveryInformation,
            isCartConfirmed: true,
            deliveryDate: this.activeDate,
            cartDetails: this.multipleSelection
          }
          socket.$emit('orderConfirmation', this.order)
        }
      }
    },
    ...mapActions('orders', [
      'getOrderDetails',
      'getActiveAddresses'
    ]),
    ...mapActions('customers', [
      'getCustomer',
      'getCustomerAddress'
    ]),
    /**
     * Get Orders from the server
     */
    fetchOrderDetails () {
      this.loading = true
      let id = this.activeQuoteId ? this.activeQuoteId : 0
      let userId = this.userId
      this.getOrderDetails({id, userId})
        .then(() => {
          this.loading = false
          if (this.isCreditCustomer) {
            this.setAddress()
          }
        })
    },
    /**
     * Set the selected address
     */
    setAddress () {
      if (this.isCreditCustomer) {
        this.addressDisabled = true
        this.address = this.ActiveOrderDetails.quoteAddress.address
        this.order.address = this.ActiveOrderDetails.quoteAddress
      }
    }
  },
  created () {
    setTimeout(() => {
      this.componentKey++
    }, 3000)
    socket.$on('setSelectedItems', (items) => {
      this.multipleSelection = items
    })
    let quoteId = this.activeQuoteId
    if (quoteId) {
      this.fetchOrderDetails(quoteId)
      return
    }
    let customerId = this.$route.params.id
    this.fetchOrderDetails()
    this.getCustomerAddress({userId: customerId})
  }
}

</script>
<style lang="scss" scoped>
  h2 {
    font-size: 14px;
  }
  .primary-color {
    font-size: 14px;
  }
</style>
