<template>
    <el-row class="Info">
        <el-col class="Info__content"  :span="14">
          <h2 v-if="order.poNumber" class="Info__content__title">
            PO # {{ order.poNumber }}
          </h2>
          <h2 v-if="order.sapQuoteId" class="Info__content__title">
            SAP Quote ID #  {{ order.sapQuoteId }}
          </h2>
          <el-col :span="12" class="Info__content__box">
            <i class="el-icon-user-solid"></i>
            <p>
              {{ order.address.shipToCompanyName  || order.address.name }}
            </p>
          </el-col>
          <el-col :span="12" class="Info__content__box">
            <i class="el-icon-date"></i>
            <p>
              {{ order.deliveryTime }} <br>
              {{ order.deliveryDate }}
            </p>
          </el-col>
          <el-col  :span="12" class="Info__content__box">
            <i class="el-icon-location"></i>
            <p>
              {{  order.address.address }}
            </p>
          </el-col>
          <el-col v-if="order.deliveryInformation || order.deliveryNote" :span="12" class="Info__content__box">
            <i class="el-icon-chat-line-square"></i>
            <p>
              {{  order.deliveryInformation }} {{ order.deliveryNote }}
            </p>
          </el-col>
          <el-col v-if="order.orderDate" :offset="16" :span="10" class="Info__content__box Info__content__box--footer">
            <p>Order Created: {{ order.orderDate }}</p>
          </el-col>
        </el-col>
      <el-col class="Info__summary" :offset="2" :span="8">
        <div class="Info__summary__box">
          <p>Subtotal</p>
          <p v-if="!isCashCustomer" >{{ sumTotal | ZAR }}</p>
          <p v-else>{{ '0.00' | ZAR }}</p>
        </div>
        <div class="Info__summary__box">
          <p>Tax</p>
          <p>{{ '0.00' | ZAR}}</p>
        </div>
        <hr class="Info__summary__hr">
        <div class="Info__summary__box">
          <p >Sum total</p>
          <p v-if="!isCashCustomer">{{ sumTotal  | ZAR }}</p>
          <p v-else>{{ '0.00' | ZAR }}</p>
        </div>
      </el-col>
    </el-row>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
  name: 'order-info',
  props: {
    order: {
      required: true,
      type: Object
    },
    sumTotal: {
      required: true,
    }
  },
  computed: {
    ...mapGetters('customers', [
      'isCashCustomer'
    ])
  }
}
</script>
