<template>
  <el-col>
    <OrderCard
      :id="id"
    ></OrderCard>

  </el-col>
</template>
<script>
import OrderCard from '../../../components/Order/Customer/ManageOrder/Index/Index'

export default {
  props: {
    id: {
      required: true
    }
  },
  components: {
    OrderCard
  }
}
</script>
