<template>
  <div class="page">
    <el-col class="container">
      <div class="search-input-container">
        <el-row :gutter="10" type="flex" justify="center" align="center">
          <el-col :lg="5" :xl="17">
           <h3 class="primary-color text-left" style="margin: 0">
             {{ activeCustomer.companyName }}'s
           </h3>
          </el-col>
          <el-col :lg="9" :offset="5" :xl="17">
            <div class="search-input-width">
              <div class="search--field">
                <el-input
                  prefix-icon="el-icon-search"
                  placeholder="Search Orders"
                  class=""
                  v-model="searchValue"
                  @blur="fetchOrders"
                  @keyup.enter="fetchOrders"
                ></el-input>
              </div>
            </div>
          </el-col>
          <el-col :lg="{span: 3, offset: 2}" :xl="7">
            <div >
              <el-select
                prefix-icon="el-icon-search"
                v-model="filter"
                placeholder="Filter Orders"
                style="float: right;"
                @change="fetchOrders"
                clearable>
                <el-option
                  v-for="item in filters"
                  :key="item.key"
                  :label="item.value"
                  :value="item.key"
                ></el-option>
              </el-select>
            </div>
          </el-col>
        </el-row>
      </div>
    </el-col>
    <el-col class="container">
      <el-card v-loading="loading">
        <order-table
          :orders="orders.orderList"
          route="customer.order.detail"
          :customerId="customerId"
        ></order-table>
      </el-card>
    </el-col>
    <el-col>
      <el-pagination
        v-if="orders.orderList"
        layout="prev, pager, next"
        :total="orders.pager.totalItems"
        @prev-click="fetchOrders()"
        @next-click="fetchOrders()"
        :current-page.sync="currentPage"
        @current-change="fetchOrders"
      >
      </el-pagination>
    </el-col>
  </div>
</template>

<script>
import OrderTable from '../../../components/Order/OrderTable/Table'
import {mapState, mapActions} from 'vuex'
import '../../../styles/_pageInput.scss'
export default {
  components: {
    OrderTable
  },
  data () {
    return {
      customerId: '',
      fileList: [],
      loading: true,
      currentPage: 1,
      orders: [],
      filter: '',
      searchValue: ''
    }
  },
  watch: {
    customerOrders (orders) {
      this.orders = orders
    }
  },
  computed: {
    ...mapState('orders', [
      'customerOrders',
      'filters'
    ]),
    ...mapState('customers', [
      'activeCustomer'
    ])
  },
  created () {
    if (this.$route.params.id) {
      let userId = this.$route.params.id
      this.customerId = this.$route.params.id
      this.getOrders(userId)
      this.getFilters({ customerId: this.customerId })
      return
    }
    this.$router.push('/customers')
  },
  methods: {
    /**
     * Get Orders from Server
     * * @param params
     */
    fetchOrders (params) {
      this.getOrders()
    },
    ...mapActions('orders', [
      'getAllCustomersOrders',
      'getFilters'
    ]),
    /**
     * Get orders from server
     * @param userId
     */
    getOrders (userId) {
      this.loading = true
      let pageNo = this.currentPage
      let searchTerm = this.searchValue ? this.searchValue : null
      let filterId = this.filter ? this.filter : null
      let params = {
        pageNo,
        searchTerm,
        filterId,
        userId
      }
      this.getAllCustomersOrders({params})
        .then((response) => {
          this.loading = false
        }).catch((error) => {
          this.loading = false
        })
    }
  },
  mounted () {
    let self = this
    window.addEventListener('keyup', function (event) {
      if (event.keyCode === 13) {
        self.fetchOrders()
      }
    })
  }
}
</script>
