<template>
  <div class="page">
    <el-row :gutter="10">
      <el-row>
        <el-col :span="12" :offset="6">
          <el-alert v-if="(hasError)"
                    title="Error"
                    type="error"
                    :description="error"
                    :closable="false"
                    center
                    show-icon>
          </el-alert>
        </el-col>
      </el-row>
      <el-row :gutter="10">
        <el-col :span="6">
          <h2 class="primary-color header-style">Customer Quotes</h2>
        </el-col>
      </el-row>
      <el-col :span="9" >
        <el-input
            placeholder="Search Quote"
            v-model="searchValue"
            @blur="search()"
            @input="search()">
        </el-input>
      </el-col>
      <el-col :span="10">
        <el-col class="  balance-style">
          Credit: {{ balance }}
        </el-col>
      </el-col>
      <el-col :span="4" :offset="1">
        <el-select
            clearable
            v-model="filter"
            allow-create
            default-first-option
            placeholder="Filter"
            @change="search"

        >
          <el-option
              v-for="(item, key) in filterValues"
              :key="key"
              :label="item.value"
              :value="item.key">
          </el-option>
        </el-select>
      </el-col>
      <el-col :span="24" style="margin-top: 20px;">
        <el-card v-loading="loading">
          <quote-table
          :quotes="quoteData.orderList"
          @goToOrderPage="goToOrderPage">
          </quote-table>
          <el-pagination
              v-if="quoteData.orderList"
              layout="prev, pager, next"
              :total="quoteData.pager.totalItems"
              @prev-click="search()"
              @next-click="search()"
              :current-page.sync="currentPage"
              @current-change="search()"
          >
          </el-pagination>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>
<style lang="scss" scoped>
  .balance-style {
    padding: 14px;
    .el-card__body {
      margin: 0;
    }
  }
  .success {
    color: green;
  }

  .active {
    color: #12C612;

  }
  .dot {
    height: 10px;
    width: 10px;
    background-color: #12C612;
    border-radius: 50%;
    display: inline-block;
  }
  .alert-active {
    color: #F31431;

  }
  .alert-dot {
    height: 10px;
    width: 10px;
    background-color: #F31431;
    border-radius: 50%;
    display: inline-block;
  }
  input {
    color: #919496 !important;
  }
  .el-input-number {
    line-height: 45px;
  }
  .el-input__suffix {
    height: 50px !important;
  }
  .el-input .el-input--small {
    margin-bottom: 0;
  }
</style>
<script>
import {mapActions, mapState} from 'vuex'
import QuoteTable from '@/components/Quotes/Table'
import { socket } from '../../../../helper'
export default {
  name: 'quotes',
  components: {
    QuoteTable
  },
  methods: {
    ...mapActions('customers', [
      'getCustomersBalance'
    ]),
    search () {
      this.fetchQuotes()
    },
    filterQuotes () {
      this.fetchQuotes()
    },
    fetchQuotes () {
      let pageNo = this.currentPage
      let searchTerm = this.searchValue ? this.searchValue : null
      let filterId = this.filter ? this.filter : null
      let userId = this.$route.params.id
      this.$store.dispatch('quotes/getAll', { pageNo, searchTerm, filterId, userId })
        .then(response => {

        })
        .catch(error => {
          this.hasError = true
          this.error = error.response.data.message
        })
      this.$store.dispatch('quotes/getFilters')
    },
    goToOrderPage (QuoteId) {
      let userId = this.$route.params.id
      let balance = this.balance
      socket.$emit('orderPage', QuoteId, userId, balance)
    }
  },
  data () {
    return {
      currentPage: 1,
      filter: '',
      searchValue: '',
      hasError: false,
      error: ''
    }
  },
  computed: {
    ...mapState('customers', [
      'balance'
    ]),
    loading () {
      return this.$store.getters['quotes/loading']
    },
    quoteData () {
      return this.$store.getters['quotes/quoteData']
    },
    filterValues () {
      return this.$store.getters['quotes/filterValues']
    }
  },
  created () {
    this.fetchQuotes()
    let customerId = this.$route.params.id
    this.getCustomersBalance({customerId: customerId})
      .then()
      .catch(() => {
        this.hasError = true
      })
  }
}
</script>
