$--font-path: "~element-ui/lib/theme-chalk/fonts";
$--color-primary: #0076c2;

@import "../../node_modules/element-ui/packages/theme-chalk/src/index";
@import "../assets/styles/settings";

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F5F5F5 !important;

}
#app {
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.el-input__inner {
  height: 47px !important;
  line-height: 32px;
}
.container {
  margin:10px 0;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/*************Helper classes **************/

.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.primary-color {
  color: #0076c2 !important;
}
.disabled {
  color: #9b9b9b;
}
.alert {
  color: #f31431;
  font-size: 12px;
}
.mute {
  color: #919496;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.padding-50 {
  // padding: 50px;
}
.padding-20 {
  // padding: 20px;
}
.padding-10 {
  // padding: 10px;
}
.border-radius {
  border-radius: 5px;
}
.large-button {
  font-size: 20px;
  padding: 12px 40px;
}
.muted-border {
  border: 1px solid #979797;
}
.font-small {
  font-size: 12px;
}
.font-medium {
  font-size: 14px;
}
.center-text {
  text-align: center;
}

.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right;
}

.text-left {
  text-align: left !important;
}
.central-color {
  color: #0174c5;
}
.header-style {
  text-align: left;

}

button {
  font-size: 15px !important;
  box-shadow: 0 15px 16px #00000012;
  border-radius: 7px !important;
}
.large-btn {
  padding: 14px 44px !important;
}
.el-icon-delete {
  color: red !important;
  border: none;
}
// Alert message class
.alertMessageClass {
  box-shadow: 0 10px 6px #00000029;
  color: #00BA41 !important;
  font-size: 30px !important;
  padding: 20px;
  background-color: white !important;
}
.errorMessageClass {
  box-shadow: 0 10px 6px #00000029;
  color: red !important;
  font-size: 30px !important;
  padding: 20px;
  background-color: white !important;
}
.warningPromptClass {
  border: 1px solid #0076C2;
  min-height: 182px;
  border-radius: 7px;
  .el-message-box__status {
    position: absolute;
    top: -163%;
    left: 34%;
  }
  .el-message-box__header {
    text-align: center;
    font-size: 33px;
    .el-message-box__title {
      font-size: 21px;
      span {
        margin-left: 10px;
        margin-top: 10px;
      }
    }
  }
  .el-message-box__headerbtn {
    color: red;
  }
  .el-message-box__content {
    text-align: center;
  }
  .el-message-box__btns {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    button {
      width: 115px;
      height: 36px;
      border: 1px solid #0076C2;
    }
  }
  .el-message-box__close.el-icon-close, .el-message-box__status.el-icon-warning {
    color: red;
    font-size: 28px !important;
  }
  .el-message-box__message {
    margin-top: 10px;
    font-size: 16px;
  }
  .el-input {
    border: 1px solid black;
  }
}
// Tabs global style
.el-tabs__active-bar {
  background: none !important;
}
// Edit the element tabs css
.el-tabs__nav-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color:
    #F5F5F5 !important;
  z-index: 1;
}
.el-tabs__header.is-top {
  margin: 0;
}
.el-tabs__item {
  &.is-active {
    color: #fff !important;
    background-color: #0076C2;
    font-weight: bold;

  }
  &.is-top {
    width: 314px;
    height: 61px;
    line-height: 50px;
    opacity: 1;
    color: #0076C2;
    text-align: center;
    border: 1px solid #0076C2;
    &:nth-child(2) {
      //margin-left: 0;
    }
  }
}
//Input global style
.el-input__inner {
  border: none;
}

.el-select .el-input.is-disabled .el-input__inner {
  border: 1px solid #1C9CD4 !important;
}
// Tabs global style
.el-tabs__active-bar {
  background: none ;
}
// Drown global down
.el-select-dropdown__item {
  color: #919496;
}
// Autoxomplere style
.el-autocomplete-suggestion li {
  color: #919496;
}
//
.mx-input-append {
  height: 90%;
  :disabled, &.disabled {
    opacity: 1;
  }
}
//Menu global style
.el-menu {
  border: none;
}

//Dropdown
.el-dropdown-menu {
  background-color: #f9f9f9;
  box-shadow:0 3px 6px #00000029;
}
.el-pagination {
  margin-top: 20px;
}
