.Products {

  .el-input {
    .el-input__inner {
      width: 160px;
      height: 45px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      opacity: 1;
    }
  }
    & {
        //
    }

    // Facets

    // States
}
.table__row__cell__label {
  text-align: center;
  letter-spacing: 0;
  color: #343434;
  opacity: 1;
  font-size: 14px;
  padding: 20px;
}
.box-card {
  padding: 0 !important;
}


  // Vars

  // Support

  // Module
  .table {
    &__cell {
      text-align: initial;
      letter-spacing: 0;
      opacity: 1;
      font-size: 18px;
    }
    &__header {
      &__cell {
        text-align: initial;
        letter-spacing: 0;
        color: #0076C2;
        opacity: 1;
        height: 37px;
        font-size: 16px;

      }
      &__row {
        height: 78px;
        &--without-background {
          background-color: #fff;
        }
        &--with-background {
          background-color: #FAFDFF;
        }
      }
      &__top {
        background-color: #FAFDFF;
      }
    }
  }
