<template>
    <div class="Products">
      <el-card class="box-card margin-top-20">
        <el-table
          :data="products"
          @selection-change="handleSelectionChange"
          :header-cell-class-name="tableHeaderClassStyle"
          :header-row-class-name="tableHeaderRowClassName"
          :row-class-name="tableRowClassStyle"
          :cell-class-name="cellStyle"
          empty-text="There are no products on this quote">
          <el-table-column
            type="selection">
          </el-table-column>
          <el-table-column
            label="Material Name"
          >
            <template slot-scope="scope" >
              <span >{{ scope.row.productName }} </span>
              <div v-if="submitted && IsEmptyProducts" class="alert">You must select a product to proceed</div>

            </template>
          </el-table-column>
          <el-table-column
            label="Unit">
            <template slot-scope="scope">
              <span v-if="isCreditCustomer">{{ scope.row.units }}</span>
              <el-select
                :value="scope.row.units"
                v-if="!isCreditCustomer"
                v-model="scope.row.units"
                placeholder="Select Unit"
                :name="scope.$index + scope.row.productName + ' unit'"
                @change="updateQuantity(scope.row.productId, scope.row.units)"
                v-validate="{   required: scope.row.required  }"
              >
                <el-option
                  v-for="item in scope.row.unitList"
                  :key="item.id"
                  :label="item.id"
                  :value="item.id"
                >
                </el-option>
              </el-select>
              <div v-if="submitted && errors.has(scope.$index + scope.row.productName +  ' unit')" class="alert">
                {{   replaceStr(errors.first(scope.$index + scope.row.productName + ' unit'), 4, '')  }}
              </div>
            </template>
          </el-table-column>
          <el-table-column
            label="Unit Price"  v-if="isCreditCustomer">
            <template slot-scope="scope">
              <span>{{ scope.row.unitPrice | ZAR }}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="Quantity">

            <template slot-scope="scope">
              <el-input
                :disabled="!scope.row.required || !scope.row.hasUnits && isCashCustomer"
                type="number"
                v-model="scope.row.newQuantity"
                :name="scope.$index + scope.row.productName"
                :min="scope.row.minQuantity" :max="scope.row.maxQuantity"
                v-validate="{  numeric: true, max_value: scope.row.maxQuantity, required: scope.row.required, min_value: scope.row.minQuantity  }"
              ></el-input>
              <br>
              <div v-if="submitted && errors.has(scope.$index + scope.row.productName)" class="alert">
                {{  replaceStr(errors.first(scope.$index + scope.row.productName), 4, '') }}
              </div>
            </template>
          </el-table-column>
        </el-table>
      </el-card>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

import {Table, TableColumn, Input} from 'element-ui'
import './_Products.scss'
import { socket, scrollToTop } from '../../../../../../helper/index'

export default {
  components: {
    'el-table': Table,
    'el-table-column': TableColumn,
    'el-input': Input
  },
  data () {
    return {
      selectedError: [],
      multipleSelection: []
    }
  },
  props: {
    products: {
      required: true,
      Type: Array
    },
    submitted: {
      required: true,
      Type: Boolean
    },
    validate: {
      required: true,
      Type: Number
    }
  },
  watch: {
    validate () {
      this.validateProductForm()
    }
  },
  computed: {
    ...mapGetters('customers', [
      'isCreditCustomer',
      'isCashCustomer'
    ]),
    productsLocal () {
      return [...this.products]
    },
    /**
     * @return {number}
     */
    IsEmptyProducts () {
      return this.multipleSelection.length <= 0
    }
  },
  methods: {
    /**
     * Update quantity
     * @param productId
     * @param unit
     */
    updateQuantity (productId, unit) {
      let product = this.productsLocal.find(product => product.productId === productId)
      let productUnit = product.unitList.find(unitNew => unitNew.unit === unit)
      product.maxQuantity = productUnit.maxQuantity
      product.minQuantity = productUnit.minQuantity
      product.hasUnits = true
    },
    /**
     * @des Separate selected products from unselect products
     * @param val
     */
    handleSelectionChange (val) {
      let keys = val.map(product => product.productId + '-' + product.units)
      let unSelected = this.productsLocal.filter(product => {
        return !keys.includes(product.productId + '-' + product.units)
      })
      let selected = this.productsLocal.filter(product => {
        return keys.includes(product.productId + '-' + product.units)
      })
      unSelected.forEach((product) => {
        product.required = false
      })
      selected.forEach((product) => {
        product.required = true
      })
      this.multipleSelection = val
      socket.$emit('setSelectedItems', val)
    },
    /**
     * @return {boolean}
     */
    /**
     * Replace string
     */
    replaceStr (str, pos, value) {
      let arr = str.split('')
      arr[pos] = value
      return arr.join('')
    },
    scrollToTop,
    validateProductForm () {
      this.$validator.validateAll().then((result) => {
        // validate input
        if (result) {
          this.$emit('completeOrder')
        } else {
          this.$emit('validationFailed')
        }
      })
    },
    tableHeaderClassStyle () {
      return 'table__header__cell'
    },
    tableRowClassStyle ({rowIndex}) {
      if (!this.isEven(rowIndex)) {
        return 'table__header__row table__header__row--with-background'
      } else {
        return 'table__header__row table__header__row--without-background'
      }
    },
    cellStyle () {
      return 'table__cell'
    },
    tableHeaderRowClassName () {
      return 'table__header__top'
    },
    isEven (n) {
      return n % 2 === 0
    }
  }
}
</script>
