<template>
  <component :is="selectedComponent" @success="success" :successMessage="successMessage"></component>
</template>
<script>
import Form from './Form'
import Success from './Success'

export default {
  components: {Form, Success},
  data () {
    return {
      selectedComponent: 'Form',
      successMessage: ''
    }
  },
  methods: {
    /**
     * Display success component on Success
     * @param message
     */
    success (message) {
      this.selectedComponent = 'Success'
      this.successMessage = message
    }
  }
}
</script>
