
<template>
  <el-row>
    <el-col class="" :offset="3" :span="15" >
      <el-col   shadow="never" class="login">
        <el-alert v-if="alertType"
                  :title="alertMessage"
                  :type="alertType"
                  show-icon>
        </el-alert>
        <el-col :offset="3" :span="18">
          <h1>Change Password</h1>
        </el-col>
        <form @submit.prevent="handleSubmit">
          <el-row>
            <el-col class="login__box padding-15 flex-center-element"  :offset="3"  :span="18">
              <el-input class="input"  type="password"  placeholder="New Password" v-model="password"></el-input>
              <div v-show="submitted && !password" class="alert">New Password is required</div>
            </el-col>
          </el-row>
          <el-row>
            <el-col  class="login__box padding-15 flex-center-element" :offset="3"  :span="18">
              <el-input type="password" placeholder="Confirm Password" v-model="passwordConfirmation"></el-input>
              <div v-show="submitted && !passwordConfirmation" class="alert">Password confirmation is required</div>
            </el-col>
          </el-row>
          <el-row>
            <el-col class="padding-15"  :offset="3"   :span="18">
              <el-button size="medium" type="primary" native-type="submit" :loading="processing">Change Password</el-button>
            </el-col>
          </el-row>
        </form>
      </el-col>
    </el-col>
  </el-row>
</template>

<style lang="scss" scoped>
  $--input-height: 75px !default;
  .login {
    &__box {
      margin-bottom:20px
    }
    h1 {
      color: #0076C2;
      font-size: 35px;
    }
    .check-box {
      margin-bottom: 20px;
    }
  }
</style>

<script>
export default {
  data () {
    return {
      passwordConfirmation: '',
      password: '',
      token: '',
      submitted: false
    }
  },
  computed: {
    processing () {
      return this.$store.state.authentication.status.processing
    },
    alertType () {
      return this.$store.state.alert.type
    },
    alertMessage () {
      return this.$store.state.alert.message
    }
  },
  methods: {
    /**
     * Submit form
     * @param e
     */
    handleSubmit (e) {
      this.submitted = true
      const { passwordConfirmation, password } = this
      const { dispatch } = this.$store
      if (passwordConfirmation && password) {
        dispatch('authentication/newAccountChangePassword', { passwordConfirmation, password })
          .then(successMessage => this.$emit('success', successMessage))
      }
    }
  }
}
</script>
