<template>
  <el-row>
    <el-col class :offset="3" :span="15">
      <el-col shadow="never" class="login">
        <el-col :offset="3" :span="18">
          <h1>Registration Successful</h1>
        </el-col>
        <el-row>
          <el-col class="padding-15 flex-center-element" :offset="3" :span="18">
            <p class="mute">{{ successMessage }}</p>
          </el-col>
        </el-row>
        <el-row>
          <el-col class="padding-15" :offset="3" :span="18">
            <el-button size="medium" type="primary" @click="success">Sign in</el-button>
          </el-col>
        </el-row>
      </el-col>
    </el-col>
  </el-row>
</template>

<style lang="scss" scoped>
$--input-height: 75px !default;
.login {
  h1 {
    color: #0076c2;
    font-size: 35px;
  }

  .check-box {
    margin-bottom: 20px;
  }
}
</style>

<script>
export default {
  props: ['successMessage'],
  data () {
    return {}
  },
  computed: {
    alertType () {
      return this.$store.state.alert.type
    },
    alertMessage () {
      return this.$store.state.alert.message
    }
  },
  methods: {
    /**
     * logout user and return to login page on success
     */
    success () {
      this.$router.push('/login')
      this.$store.dispatch('authentication/logout')
    }
  }
}
</script>
