<template>
    <el-row class="Info" type="flex" justify="space-between">
        <el-col class="Info__content"  :span="14">
          <h2 v-if="order.poNumber" class="Info__content__title">
            PO # {{ order.poNumber }}
          </h2>
          <h2 v-if="order.quoteId" class="Info__content__title">
            Quote # {{ order.sapQuoteId }}
          </h2>
          <el-col :span="12" class="Info__content__box">
            <img src="../../../assets/icons/order-user-icon.svg" alt="">
            <p>
              {{ order.customerName
              }}
            </p>
          </el-col>
          <el-col :span="12" class="Info__content__box">
            <img src="../../../assets/icons/order-calender.svg" alt="">
            <p>
              {{ order.deliveryTime }} <br>
              {{ order.deliveryDate }}
            </p>
          </el-col>
          <el-col  :span="12" class="Info__content__box">
            <img src="../../../assets/icons/order-location.svg" alt="">
            <p>
              {{  order.deliveryAddress }}
            </p>
          </el-col>
          <el-col v-if="order.deliveryInformation || order.deliveryNote" :span="12" class="Info__content__box">
            <img src="../../../assets/icons/order-message.svg" alt="">
            <p>
              {{  order.deliveryInformation }} {{ order.deliveryNote }}
            </p>
          </el-col>
          <el-col v-if="order.declineComment" :span="12" class="Info__content__box">
            <img src="../../../assets/icons/cancel.svg" alt="">
            <p>
              {{ order.declineComment }}
            </p>
          </el-col>

          <el-col v-if="order.orderDate" :offset="15" :span="11" class="Info__content__box Info__content__box--footer">
            <p>Order Created: {{ order.orderDate }}</p>
          </el-col>
        </el-col>
      <el-col :span="9">
        <el-col :span="16" :offset="8" style="margin-bottom: 5px">
          <order-status
            :code="order.statusCode"
            :detail="order.statusDetail"
            :status="order.status"
          ></order-status>
        </el-col>
        <h3 style="text-align: end">Default Plant: {{ order.defaultPlant }}</h3>
        <el-col  class="Info__summary" >
          <div class="Info__summary__box">
            <p>Subtotal</p> <p>{{ sumTotal  | ZAR }}</p>
          </div>
          <div class="Info__summary__box">
            <p>Tax</p> <p>{{ '0.00' | ZAR  }}</p>
          </div>
          <hr class="Info__summary__hr">
          <div class="Info__summary__box">
            <p>Sum total</p> <p>{{ sumTotal | ZAR  }}</p>
          </div>
        </el-col>
      </el-col>
    </el-row>
</template>

<script>
import {mapGetters} from 'vuex'
import OrderStatus from '../DetailStatus/DetailStatus'
import '../../../styles/components/order/_orderInfo.scss'
export default {
  name: 'order-info',
  props: {
    order: {
      required: true,
      type: Object
    },
    sumTotal: {
      required: true
    }
  },
  components: {
    OrderStatus
  },
  data () {
    return {
      cashCustomerId: null
    }
  },
  computed: {
    ...mapGetters('authentication', [
      'isFinanceAdmin',
      'isPortalAdmin'
    ])
  },
  created () {
    this.cashCustomerId = process.env.CASH_CUSTOMER_ID
  },
}
</script>
