<template>
          <h3 class style="background: #fff; width: 100%; margin: 100px 20px 0px 20px;">Analytics</h3>
</template>

<style scoped>
</style>

<script>
import sideBar from '../../components/APP/Sidebar/Sidebar'

export default {
  components: {
    sideBar
  }
}
</script>
