<template>
  <div class="fileUploader">
    <input type="file" id="files" ref="files"  @change="onFileChange()" style="display: none"/>
    <div class="files padding-10" v-if="file">
      <el-col  :span="20" style="padding: 2px" v-if="file">
        &nbsp;<img class="viewMessage__info__left__icon" src="../../../assets/icons/pdf.svg" height="20" alt="" >
        <span class="padding-20">{{ file.name }}</span>
        <el-tooltip
          class="item"
          effect="dark"
          content="Remove file"
          placement="top">
          <el-button  icon="el-icon-delete" @click="removeFile" circle></el-button>
        </el-tooltip>
      </el-col>
    </div>
  </div>
</template>
<script>
import {socket} from '../../../helper'

export default {
  data () {
    return {
      file: null
    }
  },
  methods: {
    /**
     *Checks if a file changes
     */
    onFileChange () {
      this.file = this.$refs.files.files[0]
      this.$emit('receivedFiles', this.file)
    },
    /**
     * Remove a selected file
     */
    removeFile () {
      this.file = null
    },
    /**
     * Activate upload of file
     */
    activateUpload () {
      this.$refs.files.click()
    }
  },
  created() {
    socket.$on('upload', () => {
      this.activateUpload()
    })
  }
}
</script>
