<template>
  <div class="evidence" style="padding: 20px">
    <el-row :gutter="10" class="margin-top-20 padding-10" >
      <el-col :span="18">
        <el-col :span="8" v-if="evidenceOfPayment.length" v-for="(evidence, key) in evidenceOfPayment" v-bind:key="key">
          <el-card class="box-card center-text" shadow="never">
            <img class="margin-top-20" src="../../../../assets/icons/pdf.svg" style=" height: 60px;">
            <p>{{ evidence.fileName }}</p>
            <p> {{ evidence.createdDate }}</p>
            <p v-if="evidence.comment">Comment: {{ evidence.comment }} </p>
            <el-button class="btn-oder-details"  @click="downloadFile(evidence.fileName, evidence.fileBytes)">Download</el-button> <br>
          </el-card>
        </el-col>
      </el-col>
    </el-row>
    <el-col :span="6">
      <el-col style="text-align: center" class="margin-bottom-20" v-if="!evidenceOfPayment.length">
        <el-upload
            name="file"
            ref="upload"
            class="upload-demo"
            :action="url"
            :file-list="fileList"
            :on-success="handleSuccess"
            :on-error="handleError"
            :headers="header"
            :auto-upload="false"
            :data="data"
            :before-upload="beforeFileIsUploaded"
            :on-change="didFileChanged"
            :on-remove="didFileChanged"
        >
          <el-button slot="trigger" size="small" type="primary">select file</el-button>

          <div class="el-upload__tip primary-color" slot="tip">Maximum 1 PDF file only</div>
          <div class="el-upload__tip primary-color" slot="tip">Maximum file size 1MB</div>

        </el-upload>
      </el-col>
      <el-col :span="24" v-if="!evidenceOfPayment.length">
        <el-input v-model="data.comment" maxlength="70" placeholder="Additional Information"></el-input>
      </el-col>
      <p v-if="uploadError" class="alert">{{uploadError}}</p>
    </el-col>
    <el-col class="text-right" :span="6" :offset="18" v-if="!evidenceOfPayment.length">
        <el-button style="margin-bottom: 10px"  size="small" type="success" :disabled="uploadButtonCondition" @click="submitUpload">Submit Evidence Of Payment</el-button>
    </el-col>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { socket } from '../../../../helper'
import {base64ToArrayBuffer, saveByteArray, validateFileUploadSize} from '../../../../helper/helperFunctions'
export default {
  name: 'EvidenceOfPayment',
  props: {
    orderId: {
      required: true
    },
    status: {
      required: true
    }
  },
  data () {
    return {
      hasFile: false,
      uploadedEOP: 0,
      fileList: [],
      comment: '',
      header: {
        Authorization: 'Bearer ' + localStorage.getItem('token')
      },
      evidenceOfPayment: [],
      data: {
        orderId: this.$route.params.id,
        comment: ''
      },
      uploadError: false,
      baseURI: ''
    }
  },
  computed: {
    /**
     * Verify upload criteria
     * */
    uploadButtonCondition () {
      // check if there is a file attached
      if (!this.hasFile) { return true }
      // @TODO pull values from environment variable
      if (this.status === 6) { return false }
      // Check if evidence of payment has been uploaded
      if (this.uploadedEOP >= 1) {
        return true
      }
      if (this.evidenceOfPayment.length >= 1) {
        return true
      }
      return true
    },
    url () {
      return this.baseURI + '/orders/evidence-upload/' + this.$route.params.id + '?comment=' + this.data.comment
    }
  },
  methods: {
    /**
     * Check if the select file changed
     * */
    didFileChanged (file, fileList) {
      this.hasFile = !!fileList.length
    },
    validateFileUploadSize,
    /**
     * *Validate file before uploading
     * */
    beforeFileIsUploaded (file) {
      // eslint-disable-next-line no-new
      return new Promise((resolve, reject) => {
        this.$confirm('Are you sure you want to submit file?', 'Warning', {
          confirmButtonText: 'Yes',
          cancelButtonText: 'No',
          type: 'warning',
          customClass: 'warningPromptClass'
        }).then((data) => {
          if (!this.validateFileUploadSize(file)) {
            this.$message({
              type: 'info',
              message: 'File size exceeded',
              customClass: 'alertMessageClass'
            })
            reject(true)
          }
          resolve(true)
        }).catch(() => {
          // eslint-disable-next-line prefer-promise-reject-errors
          reject(true)
        })
      })
    },
    ...mapActions('orders', [
      'deleteFile'
    ]),
    deleteEOP (fileName) {
      this.$confirm('This will permanently delete the file. Continue?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
        customClass: 'warningPromptClass'
      }).then(() => {
        this.deleteFile({fileName}).then(response => {
          this.evidenceOfPayment = []
          this.$message({
            type: 'success',
            message: response,
            customClass: 'alertMessageClass'
          })
        })
      })
    },
    base64ToArrayBuffer,
    saveByteArray,
    downloadFile (fileName, byte) {
      let file = this.base64ToArrayBuffer(byte)
      this.saveByteArray(fileName, file)
    },
    submitUpload () {
      this.uploadError = false
      this.$refs.upload.submit()
    },
    handleSuccess (file) {
      this.uploadedEOP++
      this.data.comment = ''
      this.$message({
        message: file.msg,
        type: 'success',
        customClass: 'alertMessageClass'
      })
      this.fileList = []
      this.evidenceOfPayment.push(file[0])
    },
    handleError (error) {
      this.uploadError = error.message
    }
  },
  created () {
    socket.$on('evidenceOfPayment', (data) => {
      this.evidenceOfPayment = data
    })
    this.baseURI = process.env.BASE_URL_API
  }
}
</script>

<style lang="scss" scoped>
  .evidence {
    padding: 20px;
    .el-card {
      background: transparent;
    }
  }
</style>
