.Header {
  i {
    color: white;
    font-size: 40px;
  }
  width: 100%;

  .icon:hover {
    background-color: rgb(0, 116, 197) !important;
  }
  .el-header {
    padding: 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: rgb(0, 116, 197) !important;
    padding: 0;
    &__left {
      width: 10%;
      display: flex;
      i {
        color: white;
        font-size: 30px;
      }
      img {
        position: relative;
        z-index: 10;
        height: 120px;
        box-shadow: 0px 3px 0px #00000029;
        opacity: 1;
      }
    }
    &__center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      padding: 0 40px;
      &__menu {
        width:60%;
        .el-menu--horizontal.el-menu {
          border: 0;
        }
      }
    }
    &__right {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 25%;
      color: #fff;
      &__content  {
        .user-icon {
          background-color: white;
          border-radius: 50%;
        }
      }
    }
  }
}
.notification-dot {
  height: 11px;
  width: 11px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.notification-item {
  font-size: 15px !important;
  width: 350px;
  &__message {
    display: flex;
    align-items: center;
    //justify-content: center;
  }
}
