<template>
    <div class="Header">
      <el-header>
        <div class="header">
          <div class="header__left">
            <div class="header__left__toggle">
              <i v-if="!isCollapse"  @click="collapse" class="el-icon-s-fold"></i>
              <i v-else @click="collapse()" class="el-icon-s-unfold"></i>
            </div>
            <img src="../../../assets/img/logo/logo.png">
          </div>
          <div class="header__right">
            <div class="header__right__content" v-if="!isFinanceAdmin">
              <router-link style="text-decoration: none" :to="{ 'name': 'messages'}">
                <el-badge :value="newMessageCount  ? 0 : null" class="item">
                  <img src="../../../assets/icons/message-white.png" alt="">
                </el-badge>
              </router-link>
            </div>
            <div class="header__right__content">
              <el-dropdown @click="resetNotificationCounter()">
                  <span class="el-dropdown-link">
                     <el-badge :value="newNotificationsCount ? 0 : null" class="item">
                      <img src="../../../assets/icons/header-bell.png" alt="">
                    </el-badge>
                  </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item v-if="neeawNotificationsCount" class="text-center">
                    <b>You have {{ (neeawNotificationsCount > 1) ?  'new notifications'  : 'new notification' }}</b>
                  </el-dropdown-item>
                  <el-dropdown-item v-else class="text-center">
                    <b>No new notification</b>
                  </el-dropdown-item>
                  <el-dropdown-item v-for="(item, key) in items.slice(0,5)" :key="key">
                    <el-row :gutter="10" class="notification-item">
                      <a style="font-size: 9px;"  @click.prevent="viewNotification(item)"
                      >
                        <el-col :span="18" class="notification-item__message">
                          <span class="notification-dot"></span> &nbsp;
                          {{ item.message }}
                        </el-col>
                        <el-col :span="6" class="text-center">
                          <span class="primary-color"> {{ item.time }}</span> <br>
                          <el-button size="mini"  type="primary">View</el-button>
                        </el-col>
                      </a>
                    </el-row>
                  </el-dropdown-item>
                  <el-dropdown-item style=" text-align: center">
                    <router-link style="font-size: 9px;" :to="{ 'name': 'notification'}">
                      See all notifications
                    </router-link>
                  </el-dropdown-item>
                </el-dropdown-menu>

              </el-dropdown>
            </div>
            <div class="header__right__content" style="font-size: 14px">
              {{ user.companyName }}
            </div>
            <div class="header__right__content">
              <el-dropdown>
                  <span class="el-dropdown-link">
                    <img src="../../../assets/icons/down-white.png" height="24px" alt="">
                  </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item>
                    <router-link class="active" style="text-decoration: none" :to="{ 'name': 'profile'}">
                      My Profile &nbsp; &nbsp;  &nbsp;<img src="../../../assets/icons/profile.png" alt="" height="15px">
                    </router-link>
                  </el-dropdown-item>
                  <el-dropdown-item>
                    <a style="text-decoration: none" @click="setLogOut()">
                      Sign Out&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      <img src="../../../assets/icons/logout.png" alt="" height="15px">
                    </a>
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
        </div>
      </el-header>
    </div>
</template>

<script>
import './_Header.scss'

import { mapGetters, mapActions, mapState } from 'vuex'

export default {
  name: 'app-header',
  props: {
  },
  data () {
    return {
      activeIndex: '1'
    }
  },
  computed: {
    items () {
      return this.newNotifications
    },
    ...mapState('sideMenu', [
      'isCollapse'
    ]),
    ...mapState('notification', [
      'newNotifications'
    ]),
    ...mapGetters('notification', [
      'newNotificationsCount',
      'newMessageCount'
    ]),
    ...mapGetters('authentication', [
      'isFinanceAdmin',
      'isCallCenter'
    ]),

    ...mapState('authentication', [
      'user'
    ])
  },
  methods: {
    clearErrors () {
      this.$store.dispatch('alert/clear')
    },
    goTo (router) {
      this.$router.push({
        name: router
      })
    },
    ...mapActions('notification', [
      'resetNotificationCounter',
      'markAsRead'
    ]),
    ...mapActions('authentication', [
      'logOut'
    ]),
    ...mapActions('sideMenu', [
      'collapse'
    ]),
    viewNotification (notification) {
      this.$router.push(notification.urlPath)
      this.markAsRead({id: notification.Id})
    },
    setLogOut () {
      this.clearErrors()
      this.logOut()
    }
  }
}
</script>
<style lang="scss" scoped>

</style>
