<template>
  <el-col class="Orders order" v-loading="loading">
    <el-col :span="4">
      <h2 class="primary-color text-left">Order Details</h2>
    </el-col>
    <el-col class="order__container">
      <el-tabs>
        <el-tab-pane  label="General Information">
          <div class="order__container__content">
            <el-col :span=24>
              <order-info
                :order="details"
              :sum-total="getOrderTotal"
              ></order-info>
            </el-col>
          </div>
        </el-tab-pane>
        <el-tab-pane v-if="displayCondition" label="Invoice">
          <invoice :orderId="id"></invoice>
        </el-tab-pane>
        <el-tab-pane  v-if="displayCondition"  label="Evidence of payment">
          <evidence :status="details.statusCode" :orderId="id"></evidence>
        </el-tab-pane>
      </el-tabs>
    </el-col>
    <el-col :span="24" class="order__container">
        <div class="order__container__header">
          <div class="order__container__header__title">
            Review Order
          </div>
          <div class="order__container__header__actions">
            <a class="primary-color"
               @click.prevent="exportOrder({id: id})"
               href="#">
                <span class="flex-center">
                    <b style="text-decoration: underline">Export as PDF</b>  &nbsp; &nbsp;&nbsp; <img src="../../../assets/icons/download-pdf.png" alt="">
                </span>
            </a>
          </div>
        </div>
        <order-product-detail
          :validate="validate"
        :products="products"
        :pallets="details.pallets"
        :moffett="details.moffets"
        :customerType="this.details.customerType"
        :submitted="submitted"
        :statusCode="details.statusCode"
          @orderValidated="orderValidated"
        >
        </order-product-detail>
      </el-col>
    <el-col :span="24">
      <el-row  type="flex" justify="space-between" class="margin-top-20">
        <el-col style="text-align: left">
          <el-dropdown @command="declineOrder">
            <el-button  type="danger" :disabled="cancelButtonCondition"  v-loading="declining">
              <span v-if="!loading">
                Decline Order
                <i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <span v-if="loading">
                Declining...
                <i class="el-icon-arrow-down el-icon--right"></i>
              </span>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item :command="note"
                                v-for="(note, key) in declinedOrderNotes" :key="key"
              >
               {{ note }}
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-col>
        <el-col style="text-align: right">
          <el-button  type="success" :disabled="approveButtonCondition" @click="validateOrder">
            <span>Approve Order</span>
          </el-button>
        </el-col>
      </el-row>
    </el-col>
  </el-col>
</template>
<script>
import '../../../styles/components/order/_orderindex.scss'
import { socket } from '../../../helper/index'
// @TODO move to store
import Api from '@/Services/Api'
import OrderProductDetail from '../Products/Products'
import OrderInfo from '../Info/Info'
import Invoice from '../Invoice'
import Evidence from '../EvidenceOfPayment'
import { mapGetters, mapActions, mapState } from 'vuex'
export default {
  props: {
    id: {
      required: true
    }
  },
  data () {
    return {
      declining: false,
      exporting: false,
      submitted: false,
      declinedOrderNotes: [],
      validate: false
    }
  },
  components: {
    Invoice,
    Evidence,
    OrderProductDetail,
    OrderInfo
  },
  computed: {
    products () {
      return this.details.orderDetails
    },
    ...mapState('orders', [
      'loading',
      'details'
    ]),
    ...mapState('authentication', [
      'isActive'
    ]),
    ...mapGetters('authentication', [
      'isFinanceAdmin',
      'isPortalAdmin',
      'isCallCenter'
    ]),
    getOrderTotal () {
      let orderTotal = this.details.orderDetails ? this.details.orderDetails.map(item => item.unitPrice * item.quantity).reduce((prev, next) => prev + next) : 0
      let palletPrice = this.details.pallets ? this.details.pallets.price * this.details.pallets.quantity : 0
      let moffetsPrice = this.details.moffets ? this.details.moffets.price * this.details.moffets.quantity : 0
      return orderTotal + palletPrice + moffetsPrice
    },
    /**
     * Approve button disable condition
     * @returns {boolean}
     */
    approveButtonCondition () {
      if (this.isCallCenter) {
        return true
      }
      if (!this.isActive) {
        return true
      }
      if (!this.details.hasEvidenceOfPayment && this.isFinanceAdmin) {
        return true
      }
      if (this.isFinanceAdmin && process.env.ORDER_STATUS_DECLINED === this.details.statusCode) {
        return true
      }
      if (!this.isFinanceAdmin && this.details.statusCode === 1) {
        return true
      }
      return this.details.statusCode === 2 || this.details.statusCode === 3 || this.details.statusCode === 6 || this.details.statusCode === 4
    },
    /**
     * Cancel button disable condition
     * @returns {boolean}
     * @TODO move conditions to environment file
     */
    cancelButtonCondition () {
      if (this.isCallCenter) {
        return true
      }
      if (!this.isActive) {
        return true
      }
      if (!this.isFinanceAdmin && this.details.statusCode === 1) {
        return true
      }
      if (this.details.statusCode === 2 || this.details.statusCode === 3 || this.details.statusCode === 4) {
        return true
      }
      return !this.isFinanceAdmin && this.details.statusCode === 6
    },
    displayCondition () {
      if (
        process.env.ORDER_STATUS_SUCCESSFUL === this.details.statusCode &&
        this.cashCustomerId === this.details.customerType
      ) {
        return true
      }
      if (this.isFinanceAdmin) {
        return true
      }
      return !!(this.cashCustomerId === this.details.customerType && this.isPortalAdmin)
    }
  },
  watch: {
    '$route.params.id': {
      handler: function () {
        this.getDetails()
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    validateOrder () {
      this.$confirm('Are you sure you want to approve this order? ', 'Warning', {
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
        type: 'warning',
        customClass: 'warningPromptClass'
      }).then(() => {
        // Change order status to submitted
        this.submitted = true
        if (this.isFinanceAdmin) {
          // Validate the order
          this.validate++
        } else {
          this.processApproveOrder()
        }
      })
    },
    /**
     * Approve an Order
     */
    processApproveOrder () {
      let order = this.details
      this.approveOrder({order})
        .then((response) => {
          this.$message({
            type: 'success',
            message: response.data.msg,
            customClass: 'alertMessageClass'
          })
          this.$router.push('/order')
        })
    },
    declineOrder (message) {
      let id = this.$route.params.id
      this.$confirm('Are you sure you want to decline this order?', 'Warning', {
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
        type: 'warning',
        customClass: 'warningPromptClass'
      }).then(() => {
        this.declining = true
        Api.post(`/orders/decline_order/${id}?comment=${message}`)
          .then((response) => {
            if (response.status === 200) {
              this.$message({
                type: 'success',
                message: `Purchase Order has been successfully declined`,
                customClass: 'alertMessageClass'
              })
              this.declining = false
              this.$router.push('/order')
            }
          }).catch((error) => {
            this.declining = false
          })
      })
    },
    getDetails () {
      let id = this.id
      this.get({id})
        .then(response => {
          socket.$emit('evidenceOfPayment', this.details.evidence)
          socket.$emit('downloadInvoice', this.details.invoice)
        })
    },
    ...mapActions('orders', [
      'get',
      'exportOrder',
      'approveOrder'
    ]),
    orderValidated () {
      this.processApproveOrder()
    }
  },
  created () {
    this.cashCustomerId = process.env.CASH_CUSTOMER_ID
    this.declinedOrderNotes = process.env.DECLINE_ORDER_NOTES
    socket.$on('updateProducts', (products) => {
      this.$set(this.details.orderDetails, 'orderDetails', products)
    })
  }
}
</script>
