<template>
  <el-row :gutter="10" v-loading="placingOrder" >
    <el-card style="border: none;">
      <el-col :span="24">
        <el-row>
          <el-col :span="10">
            <h2 class="primary-color  header-style" style="font-size: 20px !important;" > {{ activeCustomer.companyName }}'s order </h2>
          </el-col>
          <el-col class="text-right" v-show="isCreditCustomer" :span="10" :offset="4" >
            <h3>Credit : {{ customerBalance }}</h3>
          </el-col>
        </el-row>
      </el-col>
      <el-col :span="24">
        <el-col class="order__container">
          <div class="order__container__header">
            <div class="order__container__header__title">
              Shipping Information
            </div>
          </div>
            <order-info
              :order="activeOrder"
              :sum-total="sumTotal"
            ></order-info>
          </el-col>
      </el-col>
      <el-col :span="24"  v-loading="loadingPallet">
        <el-col class="order__container">
          <div class="order__container__header">
            <div class="order__container__header__title">
              Review Order
            </div>
          </div>
          <order-product-details
            :products="activeOrder.cartDetails"
            :pallets="activePalletInformation"
            :moffett="activeMoffetsInformation"
            :order="activeOrder"
            :hasPallets="hasPallets"
          >
          </order-product-details>
        </el-col>
      </el-col>
    </el-card>
    <el-col :span="24">
      <el-row :gutter="10" class="margin-top-20">
        <el-col :span="3">
          <el-button type="primary"  @click="back()"> <b>Previous page</b></el-button>
        </el-col>
        <el-col :offset="18" :span="3">
          <el-button type="primary" @click="nextPage()"><b>Check Out</b></el-button>
        </el-col>
      </el-row>
    </el-col>
  </el-row>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import { socket } from '../../../../../helper'
import OrderInfo from './Info/Info'
import OrderProductDetails from './Products/Products'
export default {
  components: {
    OrderInfo,
    OrderProductDetails
  },
  props: {
    activeOrder: {
      required: true
    },
    activeCustomer: {
      required: true
    },
    customerBalance: {
      required: true
    }
  },
  data () {
    return {
      userName: this.$store.state.authentication.user.companyName,
      loadingPallet: false,
      placingOrder: false,
      error: '',
      hasError: false,
      hasPallets: false
    }
  },
  watch: {
    activeOrder: {
      handler: function () {
        this.fetchAdditionalInformation()
      },
      deep: true
    }
  },
  computed: {
    ...mapState('orders', [
      'activePalletInformation',
      'activeMoffetsInformation'
    ]),
    /**
     *Get order Sum total
     **/
    sumTotal () {
      let total = parseFloat(this.activeOrder.cartDetails.map(item => item.newQuantity * item.unitPrice).reduce((prev, next) => prev + next)) + parseFloat(this.activePalletInformation.subTotal)
      if (this.activeMoffetsInformation) {
        total = total + parseFloat(this.activeMoffetsInformation.subTotal)
      }
      return total
    },
    isCreditCustomer () {
      return this.$store.getters['customers/isCreditCustomer']
    }
  },
  methods: {
    fetchAdditionalInformation () {
      this.fetchPalletInformation()
      if (this.activeOrder.hasMoffets) {
        this.fetchMoffetsInformation()
      } else {
        this.activeMoffetsInformation.subTotal = 0
      }
    },
    ...mapActions('orders', [
      'getPalletInformation',
      'getMoffetsInformation'
    ]),
    back () {
      socket.$emit(`backToOrderPageListener`)
    },
    /**
     * Get product sum total
     **/
    productSumTotal (product) {
      return product.newQuantity * product.unitPrice
    },
    nextPage () {
      this.placingOrder = true
      this.activeOrder.cartDetails.forEach((product) => {
        product.quantity = product.newQuantity
        product.withMoffet = !!this.activeOrder.hasMoffets
      })
      let order = this.activeOrder
      if (order.quoteId === null) {
        order.quoteId = 0
      }
      this.$store.dispatch('orders/placeOrder', {order})
        .then(response => {
          this.placingOrder = false
          this.$router.push('/customers')
          this.$message({
            type: 'success',
            message: response.data.msg,
            customClass: 'alertMessageClass'
          })
        })
        .catch(() => {
          this.placingOrder = false
        })
    },
    /**
     * Get Order pallet information from server
     */
    fetchPalletInformation () {
      let cart = this.activeOrder.cartDetails
      let tonnes = cart.find(product => product.units === 'Tonnes')
      let bags = cart.find(product => product.units === 'Bags')
      if (bags && tonnes) {
        this.hasPallets = true
        this.loadingPallet = true
        let quantity = cart.filter(product => product.units === 'Bags').map(item => parseInt(item.newQuantity)).reduce((prev, next) => prev + next)
        this.getPalletInformation({quantity})
          .then(() => {
            this.loadingPallet = false
          })
          .catch(() => {
            this.loadingPallet = false
          })
        return
      }
      if (bags) {
        this.hasPallets = true
        this.loadingPallet = true
        let quantity = cart.filter(product => product.units === 'Bags').map(item => parseInt(item.newQuantity)).reduce((prev, next) => prev + next)

        this.getPalletInformation({quantity})
          .then(response => {
            this.loadingPallet = false
          })
          .catch(() => {
            this.loadingPallet = false
          })
        return
      }
      this.hasPallets = false
    },
    /**
     * Get Moffets information from server
     */
    fetchMoffetsInformation () {
      this.getMoffetsInformation()
    }
  },
  mounted () {
    this.fetchAdditionalInformation()
  }
}
</script>
