<template>
    <el-col v-loading="loading">
              <el-row :gutter="10"  type="flex" justify="space-between">
                <el-col :lg="5" >
                  <status-widget
                    title="Successful order"
                    path="order"
                    :query="2"
                    :value="dashboardData.noOfSuccessfulOrder"
                    backgroundColor="#00BA41"
                    iconClass="el-icon-success"
                    :clickable="isCallCenter ? false : true"
                  ></status-widget>
                </el-col>
                <el-col :lg="5">
                  <status-widget
                    title="Admin input"
                    path="order"
                    :query="5"
                    :value="dashboardData.noOfPendingOrder"
                    backgroundColor="#FF7F00"
                    iconClass="el-icon-refresh"
                    :clickable="isCallCenter ? false : true"
                  ></status-widget>
                </el-col>
                <el-col :lg="5">
                  <status-widget
                    title="Declined Order"
                    path="order"
                    :query="3"
                    :value="dashboardData.noOfFailedOrder"
                    backgroundColor="#E60000"
                    iconClass="el-icon-error"
                    :clickable="isCallCenter ? false : true"
                  ></status-widget>
                </el-col>
                <el-col :lg="5">
                  <status-widget
                    title="Customers"
                    path="customers"
                    :query="3"
                    :value="dashboardData.noOfCustomers"
                    backgroundColor="#0076c2"
                    iconClass="el-icon-user-solid"
                  ></status-widget>
                </el-col>
              </el-row>
          <div class style="margin-top: 40px; " >
            <el-card>
              <div class="text-left order-table">
                <h3 class="central-color recent-order-text">Recent Orders</h3>
              </div>
              <order-table
                :orders="dashboardData.recentOrders"
                route="orderDetails"
              ></order-table>
            </el-card>
          </div>
    </el-col>
</template>
<script>
import orderTable from '@/components/Order/OrderTable/Table'
import { mapActions, mapState, mapGetters } from 'vuex'
import StatusWidget from '../components/DashBoard/StatusWidget/StatusWidget'
export default {
  components: {
    orderTable,
    StatusWidget
  },
  computed: {
    ...mapState('orders', [
      'loading',
      'dashboardData'
    ]),
    ...mapGetters('authentication', [
      'isCallCenter'
    ])
  },
  methods: {
    ...mapActions('alert', [
      'clear'
    ]),
    ...mapActions('orders', [
      'getDashboardData'
    ]),
    ...mapActions('notification', [
      'markAsRead'
    ])
  },
  created () {
    this.getDashboardData()
    this.clear()
  }
}
</script>
<style lang="scss" scoped>
  .order-table {
  h3 {
    margin-left: 10px;
    height: 36px;
    font-size: 20px;
  }
  }
</style>
