<template>
  <div class="Table">
    <app-table
      emptyTableString="There are no addresses"
      title=""
      :data="addresses"
    >
      <el-table-column
        label="Address Id	"
        prop="id"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
      <el-table-column
        label="Description"
        prop="description"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
      <el-table-column
        label="City"
        prop="city"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
      <el-table-column
        label="Post Code"
        prop="postalCode"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
    </app-table>
  </div>
</template>

<script>
import AppTable from '@/components/APP/Table/Table'
import AppStatus from '@/components/APP/StatusBar/StatusBar'
import {TableColumn} from 'element-ui'
export default {
  name: 'customer-address-table',
  components: {
    AppTable,
    AppStatus,
    'el-table-column': TableColumn
  },
  props: {
    addresses: {
      required: true,
      Type: Array
    }
  },
  computed: {
    cellStyle () {
      return 'table__row__cell__label'
    }
  }
}
</script>
