<template>
    <el-row class="products-order">
      <el-col :span="16" class="products-order__box">
        <el-col :span="12" class="products-order__box__content" v-for="(product, key) in products" :key="key">
          <img v-if="product.imageUrlSmall" :src="product.imageUrlSmall" class="products-order__box__content__image products-order__box__content__image--large" alt="">
          <div class="products-order__box__content__box">
            <div class="products-order__box__content__box__title primary-color">
              {{ product.productName }}
            </div>
            <div class="products-order__box__content__box__detail">
            <span v-if="!isCashCustomer">
               {{ product.newQuantity + ' '  + product.units + ' x '  }} {{ product.unitPrice | ZAR  }} {{ ' = ' }}
            </span>
              <span v-else>
               {{ product.newQuantity + ' '  + product.units }}
            </span>
              <br>
              <span v-if="!isCashCustomer"> {{ product.newQuantity * product.unitPrice | ZAR }}</span>
            </div>
          </div>
        </el-col>
      </el-col>
      <el-col :span="8" class="products-order__addon">
        <el-col :span=24 class="products-order__box__content" v-if="pallets.quantity || hasPallets">
          <img src="../../../../../../assets/icons/pallet.svg" height="100" class="products-order__box__content__image  products-order__box__content__image--small">
          <div class="products-order__box__content__box">
            <div class="products-order__box__content__box__title primary-color">
              {{ pallets.name }}
            </div>
            <div  class="products-order__box__content__box__detail ">
            <span v-if="!isCashCustomer">
               {{ pallets.quantity + ' x ' }} {{ parseInt(pallets.price) | ZAR }} {{  ' = ' }}
            </span>
              <span v-else>
                {{ pallets.quantity }}
              </span>
              <br>
              <span v-if="!isCashCustomer"> {{ pallets.subTotal | ZAR }}</span>
            </div>
          </div>
        </el-col>
        <el-col :span=24 class="products-order__box__content" v-if="moffett.quantity && order.hasMoffets">
          <img src="../../../../../../assets/icons/forklift-with-boxes.svg" height="100" class="products-order__box__content__image  products-order__box__content__image--small">
          <div class="products-order__box__content__box">
            <div class="products-order__box__content__box__title primary-color" >
              {{ moffett.name }}
            </div>
            <div  class="products-order__box__content__box__detail">
            <span v-if="!isCashCustomer">
               {{ moffett.quantity + ' x ' }} {{ parseInt(moffett.price) | ZAR }} {{  ' = ' }}
            </span>
              <span v-else>
              Quantity:  {{ moffett.quantity }}
              </span>
              <br>
              <span v-if="!isCashCustomer"> {{ moffett.subTotal | ZAR}}</span>
            </div>
          </div>
        </el-col>
      </el-col>
    </el-row>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: 'order-products',
  props: {
    products: {
      required: true,
      type: Array
    },
    pallets: {
      required: true,
    },
    moffett: {
      required: true,
    },
    order: {
      required: true,
      Type: Object
    },
    hasPallets: {
      required: true
    }
  },
  computed: {
    ...mapGetters('customers', [
      'isCashCustomer'
    ])
  }
}
</script>
