<template>
  <div class="Table">
    <app-table
      emptyTableString="No sourcing List "
      title=""
      :data="sourcingList"
    >
      <el-table-column
        label="SAP PP"
        prop="saP_PP"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
      <el-table-column
        label="Pricing Point"
        prop="pricingPoint"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
      <el-table-column
        label="Province"
        prop="province"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
      <el-table-column
        label="Product"
        prop="product"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
      <el-table-column
        label="Default Plant"
        prop="defaultPlant"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
    </app-table>
  </div>
</template>

<script>
import AppTable from '@/components/APP/Table/Table'
import {TableColumn} from 'element-ui'
export default {
  name: 'sourcing-list-table',
  components: {
    AppTable,
    'el-table-column': TableColumn
  },
  props: {
    sourcingList: {
      required: true,
      type: Array
    }
  },
  computed: {
    cellStyle () {
      return 'table__row__cell__label'
    }
  }
}
</script>
