<template>
  <div class="Table">
    <app-table
      emptyTableString="There are no Admins"
      title=""
      :data="admins"
      @handleSelectionChange="handleSelectionChange"
    >
      <el-table-column
        width="50"
        type="selection"
      ></el-table-column>
      <el-table-column
        label="Name"
        prop="userName"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
      <el-table-column
        label="Email Address"
        prop="email"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
      <el-table-column
        label="User Type"
        prop="role"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      ></el-table-column>
      <el-table-column
        label="Status"
        align="center"
        header-align="center"
        :class-name="cellStyle"
      >
        <template slot-scope="scope">
          <AppStatus
            :link="{
               route,
               param: {id: scope.row.id},
               text: 'Manage User'
               }"
            :statusCode="scope.row.isActive ? 2 : 3"
            :label="scope.row.isActive ? 'Active' : 'Blocked'"
          ></AppStatus>
        </template>
      </el-table-column>
    </app-table>
  </div>
</template>

<script>
import AppTable from '@/components/APP/Table/Table'
import AppStatus from '@/components/APP/StatusBar/StatusBar'
import {TableColumn} from 'element-ui'
export default {
  name: 'admin-table',
  components: {
    AppTable,
    AppStatus,
    'el-table-column': TableColumn
  },
  props: {
    admins: {
      required: true
    },
    route: {
      type: String,
      required: true
    }
  },
  methods: {
    handleSelectionChange (items) {
      this.$emit('handleSelectionChange', items)
    }
  },
  computed: {
    cellStyle () {
      return 'table__row__cell__label'
    }
  }
}
</script>
