.customer_info {
  background: darken( #F3F7FA, 3% )  no-repeat padding-box;
  text-align: left;
padding: 20px;
  margin: 0 !important;
  height: 160px;
  p {
    margin: 0 !important;
  }
  & {
        //
    }

    // Facets

    // States
}
