<template>
    <el-row class="customer_info" type="flex" justify="space-between">
      <el-col :lg="{ span: 6}" :xs="{ span: 24}" :sm="24">
        <h4 class="primary-color">Ship to Party Address</h4>
        <p v-if="quote.quoteAddress"><b>{{ quote.quoteAddress.address }}</b></p>
        <p  v-if="quote.quoteAddress"><b>{{ quote.deliveryCountry }}</b></p>
      </el-col>
      <el-col :lg="{ span: 6}" :xs="{ span: 24}" :sm="24">
        <h4 class="primary-color">SAP ID</h4>
        <p><b>{{ quote.sapQuoteId }}</b></p>
      </el-col>
      <el-col :lg="{ span: 6}" :xs="{ span: 24}" :sm="24">
        <h4 class="primary-color">Valid Till Date</h4>
        <p> <b>{{ quote.validTillDate }}</b></p>
      </el-col>
    </el-row>
</template>

<script>
import './_Info.scss'
export default {
  props: {
    quote: {
      required: true,
      Type: Array
    }
  }
}
</script>
