// Edit the element tabs css
.content {
  h2 {
    size: 28px;
  }
  margin-top: 20px;
  .el-tabs__nav-wrap::after {
    background-color:inherit;
    z-index: 1;
  }
@import '../../../styles/components/circulat-tabs-style';
}

.cell-style {
  background: #ecf5fb;
  padding: 30px 0 !important;
  text-align: center;
}
.sec--color {
  //background: #a5d8fd1e;
}
.user_img {
  height: 120px;
  width: 120px;
  border: 2px solid #000;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 50%);
}
.form {
  margin-top: 1em;
  float: left;
}

.sec-form {
  margin-top: 1em;
  float: center;
}

.form_detail {
  margin-top: 1em;
  float: center;
}

.form--pack {
  display: flex;
  padding-bottom: 1em;
}
.form--pack .label {
  flex: 1;
  padding-top: 5px;
  color: #0174c5;
  font-weight: bold;
  text-align: right;
}
.form--pack .input {
  text-align: left;
  flex: 1;
  padding-left: 10px;
}
.form--pack .input input {
  color: #0174c5;
  background: transparent;
  font-weight: lighter;
  outline: none;
  height: 30px;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid #0174c5;
}

.change-password {
  width: 180px;
  padding: 15px 0px;
  border: 0;
  background: #0174c5;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
.change {
  padding: 30px 0px;
}

.text-right {
  text-align: right;
}

.home--search--input {
  float: center;
}

.create-Order {
  float: right;
}
.user-Detail {
  float: left;
}
.profile {
  height: 389.79px;
  padding: 10px;
  box-shadow: 0 3px 11px #00000027 !important;
}
