<template>
  <el-row :gutter="10" v-loading="loading">
    <el-row type="flex" justify="space-between" style="align-items: center">
      <el-col span="6">
        <h2 class="primary-color text-left">Customer Details</h2>
      </el-col>
      <el-col span="7">
        <el-row>
          <el-col span="12" class="text-right" v-if="!isFinanceAdmin">
            <router-link :to="{ name: 'customer.order.create', params: { customer: activeCustomer.id } }">
              <el-button  :disabled="!this.isActive" type="primary">Create Order</el-button>
            </router-link>
          </el-col>
          <el-col span="12"  class="text-right"  v-if="!isFinanceAdmin">
            <router-link :to="{ name: 'customer.order.manage', params: { id: activeCustomer.id } }">
              <el-button  :disabled="!this.isActive" type="primary">Manage Order</el-button>
            </router-link>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <el-col :span="24"  class="content tab-profile">
      <el-tabs  class="sec--color">
        <el-tab-pane label="Profile">
          <el-card class="profile">
            <el-col
              :span="24"
            >
              <br>
              <form action class="sec-form" v-if="activeCustomer">
                <div class="form--pack">
                  <div class="label">
                    <label for="Company Name" class="form-label">Company Name:</label>
                  </div>
                  <div class="input">
                    <input type="text" class="form-control" v-model="activeCustomer.companyName" disabled>
                  </div>
                </div>
                <div class="form--pack">
                  <div class="label">
                    <label for="Email" class="form-label">Email Address:</label>
                  </div>
                  <div class="input">
                    <input type="text" class="form-control" v-model="activeCustomer.email" disabled>
                  </div>
                </div>
                <div class="form--pack">
                  <div class="label">
                    <label for="Phone Number" class="form-label" >Phone Number:</label>
                  </div>
                  <div class="input">
                    <input type="text" class="form-control" v-model="activeCustomer.phoneNumber" disabled>
                  </div>
                </div>
                <div class="form--pack">
                  <div class="label">
                    <label for="City" class="form-label">City:</label>
                  </div>
                  <div class="input">
                    <input  id="City" type="text" class="form-control" v-model="activeCustomer.city" disabled>
                  </div>
                </div>
                <div class="form--pack">
                  <div class="label">
                    <label for="role" class="form-label">User Type:</label>
                  </div>
                  <div class="input">
                    <input id="role" type="text" class="form-control" v-model="activeCustomer.role" disabled="disabled">
                  </div>
                </div>
              </form>
            </el-col>
            <el-col :offset="10" :span="4" v-if="isFinanceAdmin && isCreditCustomer">
              <el-button :disabled="!this.isActive" type="warning" :loading="loading"  v-if="activeCustomer.isActive" @click="setBlockCustomer">Block Customer</el-button>
              <el-button :disabled="!this.isActive" type="success" :loading="loading" v-if="!activeCustomer.isActive" @click="setUnblockCustomer">Unblock Customer</el-button>
            </el-col>
          </el-card>
        </el-tab-pane>
        <el-tab-pane label="Reset Password" class="sec--color" v-if="!isFinanceAdmin">
          <el-card class="profile">
            <el-col
              :span="24"
              style="height: 100%;"
            >
              <br>
              <el-col :span="12" :offset="6">
                <p class="primary-color">
                  User would receive an email from sephaku regarding password change
                </p>
                <div class="form--pack">
                  <div class="label">
                    <label for=" New Password" class="form-label"> Admin Password:</label>
                  </div>
                  <div class="input">
                    <input type="password" name="password" class="form-control" v-validate="{required: true}" v-model="conf_password">
                    <div v-if="submitted && errors.has('password')" class="alert">{{ errors.first('password') }}</div>
                  </div>
                </div>
                <div class="change">
                  <el-button type="danger" @click="setResetPassword()">Reset Password</el-button>
                </div>
              </el-col>
            </el-col>
          </el-card>
        </el-tab-pane>
        <el-tab-pane label="Addresses" class="sec--color" >
          <el-card class="profile">
            <el-col
              :span="24"
              style="height: 100%;"
            >
              <br>
              <el-col :span="24">
                <customer-address-table
                  :addresses="customerAddresses"
                ></customer-address-table>
              </el-col>
            </el-col>
          </el-card>
        </el-tab-pane>
      </el-tabs>
    </el-col>
  </el-row>
</template>
<script>
import './_Detail.scss'
import CustomerAddressTable from '@/components/Customer/AddressTable/AddressTable'
import { mapState, mapActions, mapGetters } from 'vuex'
export default {
  components: {
    CustomerAddressTable
  },
  data () {
    return {
      id: null,
      isBlocking: false,
      conf_password: '',
      submitted: false
    }
  },
  computed: {
    ...mapState('customers', [
      'activeCustomer',
      'customerAddresses',
      'loading'
    ]),
    ...mapGetters('authentication', [
      'isFinanceAdmin',
      'isPortalAdmin'
    ]),
    ...mapGetters('customers', [
      'isCashCustomer',
      'isCreditCustomer'
    ]),
    ...mapState('authentication', [
      'isActive'
    ])
  },
  methods: {
    tableRowClassName () {
      return 'cell-style'
    },
    ...mapActions('customers', [
      'getCustomer',
      'blockCustomer',
      'unBlockCustomer',
      'getCustomerAddress'
    ]),
    getAddress () {
      this.getCustomerAddress({userId: this.id})
    },
    ...mapActions('admin', [
      'resetPassword'
    ]),
    setResetPassword () {
      this.submitted = true
      let data = {
        userId: this.activeCustomer.id,
        confirmPassword: this.conf_password
      }
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$confirm('This will reset this customers password. Continue ?', 'Warning', {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning',
            customClass: 'warningPromptClass'
          }).then(() => {
            this.resetPassword({data})
              .then(() => {
                this.conf_password = ''
                this.$message.success({
                  type: 'success',
                  message: 'Password reset successful',
                  customClass: 'alertMessageClass'
                })
                this.$router.push('/customers')
              }).catch(error => {
                this.$message.error(error.response.data.msg)
              })
          })
        }
      })
    },
    setBlockCustomer () {
      this.$prompt('Please input your password to block customer', 'Block Customer', {
        confirmButtonText: 'Block',
        cancelButtonText: 'Cancel',
        inputPattern: /[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/,
        inputType: 'password',
        customClass: 'warningPromptClass',
        inputErrorMessage: 'Invalid Password format'
      }).then(({ value }) => {
        let id = this.id
        this.blockCustomer({password: value, id: id})
          .then(response => {
            this.activeCustomer.isActive = false
            this.$message({
              message: 'Customer blocked successfully',
              type: 'success',
              customClass: 'alertMessageClass'
            })
          })
      })
    },
    setUnblockCustomer () {
      this.$prompt('Please input your password to unblock customer', 'Unblock Customer', {
        confirmButtonText: 'Unblock',
        cancelButtonText: 'Cancel',
        inputPattern: /[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/,
        inputType: 'password',
        customClass: 'warningPromptClass'
      }).then(({value}) => {
        let id = this.id
        this.unBlockCustomer({password: value, id: id})
          .then(response => {
            this.activeCustomer.isActive = true
            this.isBlocking = false
            this.$message({
              message: 'Customer Unblocked successfully',
              type: 'success',
              customClass: 'alertMessageClass'
            })
          })
      })
    }
  },
  created () {
    let id = this.$route.params.id
    this.id = id
    this.getCustomer({id})
      .then(response => {
        this.getAddress()
      })
  }
}
</script>
