<template>
  <el-row>
    <el-col class="" :offset="3" :span="15" >
      <el-col   shadow="never" class="login">
        <el-alert v-if="alertType"
                :title="alertMessage"
                :type="alertType"
                show-icon>
        </el-alert>
        <el-col :offset="3" :span="18">
          <h1>Forgot Password</h1>
          <p class="mute">Enter your email address below and we’ll get you back on track.</p>
        </el-col>
        <form @submit.prevent="handleSubmit">
          <el-row>
            <el-col class="padding-15 flex-center-element"  :offset="3"  :span="18">
              <el-input class="input" placeholder="User Email" v-model="email">
              </el-input>
              <div v-show="submitted && !email" class="alert">Email is required</div>
            </el-col>
          </el-row>
          <el-row>
            <el-col class="padding-15"  :offset="3"   :span="18">
              <el-button size="medium" type="primary" native-type="submit" :loading="processing">Request reset link</el-button>
            </el-col>
          </el-row>
          <el-row v-if="extraInfo">
            <el-col  :offset="3" :span="2" class="info">
              <i class="el-icon-info"></i>
            </el-col >
              <el-col :span="19">
              <p class="mute" >
                If you don’t receive an email from us within a few minute, Check your spam filter sometimes they end up in there. The email will be from
                <span class="primary-color">help@sephaku.co.za</span>
              </p>
            </el-col>
          </el-row>
        </form>
      </el-col>
    </el-col>
  </el-row>
</template>
<script>
export default {
  data () {
    return {
      email: '',
      extraInfo: false,
      submitted: false
    }
  },
  computed: {
    processing () {
      return this.$store.state.authentication.status.processing
    },
    alertType () {
      return this.$store.state.alert.type
    },
    alertMessage () {
      return this.$store.state.alert.message
    }
  },
  methods: {
    /**
     * Submit form
     * @param e
     */
    handleSubmit (e) {
      this.submitted = true
      const { email } = this
      const { dispatch } = this.$store
      if (email) {
        dispatch('authentication/forgetPassword', {email}).then(response => {
          this.extraInfo = response
        })
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  $--input-height: 75px !default;
  .login {
  h1 {
    color: #0076C2;
    font-size: 35px;
  }
    .check-box {
      margin-bottom: 20px;
    }
}
.mute {
  color:rgb(206,206,206);
      text-align: initial
}
.info {
  text-align:left;
  margin-top: 20px;
  p {
    margin:0;
        text-align: initial
  }
}
</style>
