<template>
  <el-row>
    <el-col class :offset="3" :span="15">
      <el-col shadow="never" class="login">
        <el-alert v-if="alertType" :title="alertMessage" :type="alertType" show-icon  :closable="false"></el-alert>
        <el-col :offset="3" :span="18">
          <h1>Sign in</h1>
        </el-col>
        <form @submit.prevent="handleSubmit">
          <el-row>
            <el-col class="padding-15 flex-center-element" :offset="3" :span="18">
              <el-input class="input" placeholder="example@sephaku.com" v-model="email"></el-input>
              <div v-show="submitted && !email" class="alert">Email is required</div>
            </el-col>
          </el-row>
          <el-row>
            <el-col class="padding-15 flex-center-element margin-top-20" :offset="3" :span="18">
              <el-input  placeholder="**********" v-model="password" show-password></el-input>
              <div v-show="submitted && !password" class="alert">Password is required</div>
            </el-col>
          </el-row>
          <el-row class="check-box">
            <el-col class="padding-15" :offset="3" :span="6">
              <el-checkbox v-model="rememberMe">Remember Password</el-checkbox>
            </el-col>
          </el-row>
          <el-row>
            <el-col class="padding-15" :offset="3" :span="18">
              <el-button
                size="medium"
                type="primary"
                native-type="submit"
                :loading="loggingIn"
              >Sign-in</el-button>
            </el-col>
          </el-row>
          <el-row>
            <el-col :offset="3" :span="18" class="margin-top-20">
              <router-link :to="{ name: 'forgetPassword'}">Forgot password? Click here</router-link>
            </el-col>
          </el-row>
        </form>
      </el-col>
    </el-col>
  </el-row>
</template>
<script>
export default {
  data () {
    return {
      email: '',
      password: '',
      rememberMe: false,
      submitted: false
    }
  },
  computed: {
    loggingIn () {
      return this.$store.state.authentication.status.processing
    },
    alertType () {
      return this.$store.state.alert.type
    },
    alertMessage () {
      return this.$store.state.alert.message
    }
  },
  methods: {
    /**
     * Submit form
     * @param e
     */
    handleSubmit (e) {
      this.submitted = true
      const { email, password, rememberMe } = this
      const { dispatch } = this.$store
      if (email && password) {
        dispatch('authentication/login', { email, password, rememberMe }).then(
          user => {
            if (user.isFirstTimeLogin) {
              this.$router.push('/first-time-login')
              return
            }
            this.$router.push('/dashboard')
          }
        )
      }
    }
  }
}
</script>
<style lang="scss" scoped>
$--input-height: 75px !default;
.login {
  h1 {
    color: #0076c2;
    font-size: 35px;
  }

  .check-box {
    margin-bottom: 20px;
  }
}
</style>
