<template>
  <div >
          <div>
            <h4 class="central-color text-left">Admin Details</h4>
          </div>
            <div class="profile sec--color">
              <el-row :gutter="10">
                <el-col :lg="14">
                  <form action class="form_detail">
                    <div class="form--pack">
                      <div class="label">
                        <label for="First Admin" class="form-label">
                          First Name:
                          <span class="alert">*</span>
                        </label>
                      </div>
                      <div class="input">
                        <input  v-validate="{  required: true }"
                                type="text"
                                class="form-control"
                                v-model=first_name
                                name="First Name"
                        >
                        <div v-if="submitted && errors.has('First Name')" class="alert">
                         {{  errors.first('First Name')}}
                        </div>
                      </div>
                    </div>
                    <div class="form--pack">
                      <div class="label">
                        <label for="Last Name" class="form-label">
                          Last Name:
                          <span class="alert">*</span>
                        </label>
                      </div>
                      <div class="input">
                        <input  v-validate="{  required: true }" type="text" class="form-control" name="Last Name" v-model=last_name>
                        <div v-if="submitted && errors.has('Last Name')" class="alert">
                          {{  errors.first('Last Name')}}
                        </div>
                      </div>
                    </div>
                    <div class="form--pack">
                      <div class="label">
                        <label for="Email Address" class="form-label">
                          Email Address:
                          <span class="alert">*</span>
                        </label>
                      </div>
                      <div class="input">
                        <input type="text"  v-validate="{  required: true }" class="form-control" v-model=email name="Email">
                        <div v-if="submitted && errors.has('Email')" class="alert">
                          {{  errors.first('Email')}}
                        </div>
                      </div>
                    </div>
                  </form>
                </el-col>
                <el-col :lg="10">
                  <div class="home--search--input select-pad-top">
                    <el-select placeholder="Role" v-model=roleId v-validate="{  required: true }" name="Role">
                      <el-option
                        v-for="item in roles"
                        :key="item.id"
                        :label="item.roleName"
                        :value="item.id"
                      ></el-option>
                    </el-select>
                    <div v-if="submitted && errors.has('Role')" class="alert">
                      {{  errors.first('Role')}}
                    </div>
                  </div>
                </el-col>
              </el-row>
              <el-col :span="23" class="text-right">
                <el-button type="success" :loading=loading @click="processCreateAdmin">
                  <span v-if=!loading>Create Admin</span>
                  <span v-if=loading>Creating...</span>
                </el-button>
              </el-col>
            </div>
        </div>
</template>

<style scoped>
.el-row {
  height: 300px;
}
.sec--color {
  background: #a5d8fd1e;
}
.user_img {
  height: 120px;
  width: 120px;
  border: 2px solid #000;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 50%);
}
.form {
  margin-top: 1em;
  float: left;
}

.form_detail {
  margin-top: 3em;
  float: center;
}
.select-pad-top {
  margin-top: 2.5em;
}

.form--pack {
  display: flex;
  padding-bottom: 1em;
}
.form--pack .label {
  flex: 1;
  padding-top: 5px;
  color: #0174c5;
  font-weight: bold;
  text-align: right;
}
.form--pack .input {
  text-align: left;
  flex: 1;
  padding-left: 10px;
}
.form--pack .input input {
  color: #0174c5;
  background: transparent;
  font-weight: lighter;
  outline: none;
  height: 30px;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid #0174c5;
}

.change-password {
  width: 180px;
  padding: 15px 0px;
  border: 0;
  background: #0174c5;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
.change {
  padding: 30px 0px;
}

.text-right {
  text-align: right;
}

.home--search--input {
  float: center;
}

.el-tabs__nav {
  white-space: nowrap;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  float: center !important;
  z-index: 2;
}

.el-tabs--border-card > .el-tabs__header {
  background-color: #fff;
  border-bottom: 1px solid red;
  margin: 0;
}
</style>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  data () {
    return {
      roles_options: [],
      fetching_roles: false,
      value: '',
      first_name: '',
      last_name: '',
      email: '',
      phoneNumber: '',
      password: '',
      roleId: '',
      roleName: '',
      submitted: false
    }
  },
  computed: {
    ...mapState('admin', [
      'roles',
      'loading'
    ])
  },
  methods: {
    ...mapActions('admin', [
      'getRoles',
      'createAdmin'
    ]),
    /**
     * Create a new Admin
     */
    processCreateAdmin () {
      this.submitted = true
      const data = {
        firstName: this.first_name,
        lastName: this.last_name,
        email: this.email,
        roleId: this.roleId,
        role: this.roleName
      }
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.isCreating = true
          this.createAdmin({data})
            .then((response) => {
              this.$message({
                message: 'User created successfully',
                type: 'success',
                customClass: 'alertMessageClass'
              })
              this.$router.push('/admin')
            })
            .catch(() => {
              this.isCreating = false
              this.submitted = false
              this.$message.error('Oops, There was an error creating users.')
            })
        }
      })
    },
    /**
     * Set Role
     * @param role
     */
    setRole (role) {
      let filtered = this.roles_options.filter(option => option.id === role)
      this.roleName = filtered[0].roleName
    }
  },
  created () {
    this.getAdminRoles()
  }
}
</script>
