<template>
        <el-col :loading=loading :span="24">
          <div>
            <h3 class="central-color text-left">Admin Details</h3>
          </div>
          <div class="tab-profile">
              <el-tabs  class="sec--color" v-loading=loading>
                <el-tab-pane label="Profile">
                  <div class="profile">
                    <el-col :offset="2" :span="18">
                      <el-row :gutter="10">
                        <el-col :span="1" :offset="23">
                          <a href="">
                            <img  @click.prevent="toggleEdit()" src="../../assets/icons/pencil.svg" alt="">
                          </a>
                        </el-col>
                        <el-col :span="11">
                          <form action class="">
                            <div class="form--pack">
                              <div class="label">
                                <label for="First Name" class="form-label">First Name:</label>
                              </div>
                              <div class="input">
                                <input type="text"  v-model="admin.firstName" class="form-control" :disabled="!isEdit">
                              </div>
                            </div>
                            <div class="form--pack">
                              <div class="label">
                                <label for="Company Name" class="form-label">Last Name:</label>
                              </div>
                              <div class="input">
                                <input type="text" v-model="admin.lastName" class="form-control" :disabled="!isEdit">
                              </div>
                            </div>
                            <div class="form--pack">
                              <div class="label">
                                <label for="Company Name" class="form-label">Email Address:</label>
                              </div>
                              <div class="input">
                                <input type="text" v-model="admin.email"  placeholder="Email" class="form-control" disabled>
                              </div>
                            </div>
                          </form>
                        </el-col>
                        <el-col  :span="11">
                          <div class="form--pack">
                            <div class="label">
                              <label for="Company Name" class="form-label">Role:</label>
                            </div>
                            <div class="input">
                              <div class="home--search--input select-pad-top">
                                <el-select  placeholder="Role" v-model=admin.role  @change="updateRoleId" style="height: 30px" :disabled="!isEdit">
                                  <el-option
                                    v-for="item in roles"
                                    :key="item.id"
                                    :label="item.roleName"
                                    :value="item.id"
                                  ></el-option>
                                </el-select>
                              </div>
                            </div>
                          </div>
                        </el-col>
                        <el-col :span="24" class="margin-top-20">
                          <el-col :span="10" v-if="!isEdit && admin.isActive">
                            <el-input v-if="admin.roleId !== portalAdminRoleId" v-model="blockComment" placeholder="Reason for blocking admin" type="textarea"></el-input>
                          </el-col>
                          <el-col :span="24" v-if="admin.roleId !== portalAdminRoleId" class="text-left margin-top-20">
                            <el-col :span="20" >
                              <el-button type="primary"  :loading="isBlocking"  v-if="!isEdit && !admin.isActive" @click="setUnBlockAdmin()">Unblock Admin</el-button>
                              <el-button type="danger" :loading="isBlocking"  v-if="!isEdit && admin.isActive" @click="setBlockAdmin()"  >Block Admin</el-button>
                              <p class="alert" v-if="!isEdit && !admin.isActive && admin.blockComment">Note: {{ admin.blockComment }}</p>
                            </el-col>
                          </el-col>
                        </el-col>
                        <el-col :span="24" class="text-right">
                          <el-button type="success" :loading="isBlocking" v-if="isEdit" @click="setUpdateAdmin()">Update Admin</el-button>
                        </el-col>
                      </el-row>

                    </el-col>
                  </div>
                </el-tab-pane>
                <el-tab-pane label="Reset Password" class="sec--color">
                  <div class="profile">
                    <el-col
                        :span="24"
                        >
                      <br>
                      <el-col :span="12" :offset="6">
                        <p class="primary-color">
                          User would receive an email from sephaku regarding password change
                        </p>
                        <div class="form--pack">
                          <div class="label">
                            <label for="New Password" class="form-label">Admin Password:</label>
                          </div>
                          <div class="input">
                            <input type="password" name="password" class="form-control" v-validate="{required: true}" v-model="conf_password">
                            <div v-if="submitted && errors.has('password')" class="alert">{{ errors.first('password') }}</div>
                          </div>
                        </div>
                        <div class="change">
                          <el-button type="danger" @click="setResetPassword()">Reset Password</el-button>
                        </div>
                      </el-col>
                    </el-col>
                  </div>
                </el-tab-pane>
              </el-tabs>
          </div>
        </el-col>
</template>
<style lang="scss" scoped>


  .el-input--small .el-input__inner {
    line-height: 32px;
    color: #0174c5;
    background: transparent;
    font-weight: lighter;
    outline: none;
    height: 30px !important;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid #0174c5;
    width: 200px !important;
  }
.el-row {
  height: 300px;
}
.sec--color {
  background: #a5d8fd1e;
}
.user_img {
  height: 120px;
  width: 120px;
  border: 2px solid #000;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 50%);
}
.form {
  margin-top: 1em;
  float: left;
}

.form_detail {
  margin-top: 1em;
}

.form--pack {
  display: flex;
  padding-bottom: 1em;
}
.form--pack .label {
  flex: 1;
  padding-top: 5px;
  color: #0174c5;
  font-weight: bold;
  text-align: right;
}
.form--pack .input {
  text-align: left;
  flex: 1;
  padding-left: 10px;
}
.form--pack .input input, .form--pack .input select {
  color: #0174c5;
  background: transparent;
  font-weight: lighter;
  outline: none;
  height: 30px;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid #0174c5;
}

.change-password {
  width: 180px;
  padding: 15px 0px;
  border: 0;
  background: #0174c5;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
.change {
  padding: 30px 0px;
}

.text-right {
  text-align: right;
}

.home--search--input {
  float: center;
}

.el-tabs__nav {
  white-space: nowrap;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  float: center !important;
  z-index: 2;
}

.el-tabs--border-card > .el-tabs__header {
  background-color: #fff;
  border-bottom: 1px solid red;
  margin: 0;
}
</style>

<script>
import '../../styles/components/circulat-tabs-style.scss'
import { mapState, mapActions, mapGetters } from 'vuex'
export default {
  data () {
    return {
      tempAdmin: false,
      value: '',
      details: '',
      selectedRole: '',
      isBlocking: false,
      isDeleting: false,
      loading: false,
      conf_password: '',
      isEdit: false,
      submitted: false,
      portalAdminRoleId: null,
      blockComment: '',
      admin: false
    }
  },
  watch: {
    activeAdmin (val) {
      this.admin = val
    },
    isEdit (value) {
      if (!value) {
        this.loadData()
      }
    }
  },
  computed: {
    ...mapState('admin', [
      'activeAdmin',
      'roles'
    ]),
    ...mapGetters('authentication', [
      'isPortalAdmin'
    ])
  },
  methods: {
    ...mapActions('admin', [
      'getRoles',
      'getAdmin',
      'blockAdmin',
      'unBlockAdmin',
      'deleteAdmins',
      'updateAdmin',
      'resetPassword'
    ]),
    /**
     * Update Admin
     * @param roleName
     */
    updateRoleId (roleName) {
      this.admin.roleId = roleName
    },
    /**
     * Reset Password
     */
    setResetPassword () {
      this.submitted = true
      let data = {
        userId: this.admin.adminId,
        confirmPassword: this.conf_password
      }
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$confirm('This will reset this admins password. Continue ?', 'Warning', {
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            type: 'warning',
            customClass: 'warningPromptClass'
          }).then(() => {
            this.loading = true
            this.resetPassword({data})
              .then(response => {
                this.loading = false
                this.conf_password = ''
                this.$message({
                  type: 'success',
                  message: 'Password reset successful',
                  customClass: 'alertMessageClass'
                })
                this.$router.push('/admin')
              }).catch(() => {
                this.loading = false
                this.$message.error('Oops, There was an error resetting users.')
              })
          })
        }
      })
    },
    /**
     * Update Admin
     */
    setUpdateAdmin () {
      this.loading = true
      let admin = this.admin
      this.updateAdmin({admin})
        .then(response => {
          this.loading = false
          this.$message.success({
            type: 'success',
            message: 'Admin Updated Successfully',
            customClass: 'alertMessageClass'
          })
          this.isEdit = false
        }).catch(() => {
          this.$message.error('Oops, There was an error updating users.')
        })
    },
    /**
     * Unblock Admin
     */
    setUnBlockAdmin () {
      this.$prompt('Please input your password to perform this action', 'Unblock Admin', {
        confirmButtonText: 'Unblock',
        cancelButtonText: 'Cancel',
        inputPattern: /[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/,
        inputType: 'password',
        inputErrorMessage: 'Invalid Password format'
      }).then(({ value }) => {
        this.isBlocking = true
        let id = this.admin.adminId
        let data = {
          id,
          model: {
            password: value
          }
        }
        this.unBlockAdmin({data})
          .then((response) => {
            this.isBlocking = false
            this.admin.isActive = true
            this.$message({
              message: 'User unblocked successfully',
              type: 'success',
              customClass: 'alertMessageClass'
            })
          })
          .catch((error) => {
            this.isBlocking = false
            this.$message.error('Oops, There was error blocking user.')
          })
      })
    },
    toggleEdit () {
      this.isEdit = !this.isEdit
    },
    nextStep () {
      this.step = 2
    },
    /**
     * Block Admin
     */
    setBlockAdmin () {
      this.$prompt('Please input your password to perform this action', 'Block Admin', {
        confirmButtonText: 'Block',
        cancelButtonText: 'Cancel',
        inputPattern: /[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/,
        inputType: 'password',
        inputErrorMessage: 'Invalid Password format',
        customClass: 'warningPromptClass'
      }).then(({ value }) => {
        this.isBlocking = true
        let id = this.admin.adminId
        let data = {
          id,
          model: {
            password: value,
            comment: this.blockComment
          }
        }
        this.blockAdmin({data})
          .then((response) => {
            this.isBlocking = false
            this.blockComment = ''
            this.admin.isActive = false
            this.$message({
              message: 'User blocked successfully',
              type: 'success',
              customClass: 'alertMessageClass'
            })
            this.loadData()
          })
          .catch((error) => {
            this.isBlocking = false
            this.$message.error('Oops, There was error blocking user.')
          })
      })
    },
    /**
     * Delete Admin
     */
    setDeleteAdmin () {
      this.isDeleting = true
      let ids = [this.admin.adminId]
      this.deleteAdmins({ids})
        .then((response) => {
          this.isDeleting = false
          this.$message({
            message: 'User blocked successfully.',
            type: 'success',
            customClass: 'alertMessageClass'
          })
          this.$router.push('/admin')
        })
        .catch((error) => {
          this.isDeleting = false
          this.$message.error('Oops, There was error deleting user.')
        })
    },
    loadData () {
      let id = this.$route.params.id
      if (!id) {
        this.router.push('/admin')
      }
      this.loading = true
      this.getAdmin({id})
        .then(response => {
          this.loading = false
        }).catch(error => {
          this.loading = false
        })
    }
  },
  created () {
    this.portalAdminRoleId = process.env.PORTAL_ADMIN_ID
    this.getRoles()
    this.loadData()
  }
}
</script>
