<template>
          <div class="page">
            <el-col :span="24" class="margin-top-20">
              <el-row type="flex" justify=end>
                <el-col :span="4" class="text-right">
                  <router-link :to="{ 'name': 'admin.create'}" type="success">
                    <el-button size="mini" type="success">Add Admin User</el-button>
                  </router-link>
                </el-col>
                <el-col :lg="4" class="text-right">
                  <el-button size="mini"
                             @click=setDeleteAdmins
                             :disabled="deleteCondition"
                             type="danger"
                             :loading=isDeleting>
                    <span v-if=!isDeleting>Delete Admin</span>
                    <span v-if=isDeleting>Deleting...</span>
                  </el-button>
                </el-col>
              </el-row>
            </el-col>
            <el-col class="container">
              <el-row type="flex" justify="space-between">
                <el-col :lg="5" :xl="17">
                  <h2 class="primary-color header-style">Administrators</h2>
                </el-col>
                <el-col :lg="9" :offset="5" :xl="17">
                  <div class="search-input-width">
                    <div>
                      <el-input prefix-icon="el-icon-search" placeholder="Search Admin" class="home--search--input" v-model="searchValue" @blur="fetchAdmins()"></el-input>
                    </div>
                  </div>
                </el-col>
                <el-col :lg="{span: 3, offset: 2}" :xl="7">
                  <el-select placeholder="Filter" v-model=filter @change="fetchAdmins" clearable>
                    <el-option
                      v-for="item in roles"
                      :key="item.id"
                      :label="item.roleName"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-col>
              </el-row>
            </el-col>
            <el-col class="container" v-loading="loading">
              <el-card>
                <admin-table
                  :admins="admins.response"
                  route="admin.view"
                  @handleSelectionChange="handleSelectionChange"
                ></admin-table>
              </el-card>
            </el-col>
            <el-col>
              <el-pagination
                v-if="admins.response"
                layout="prev, pager, next"
                :total="admins.pager.totalItems"
                @prev-click="changePage()"
                @next-click="changePage()"
                :current-page.sync="currentPage"
                @current-change="changePage"
                @handleSelectionChange="handleSelectionChange"
              >
              </el-pagination>
            </el-col>
            <el-dialog
                title="Warning"
                :visible.sync="showDeleteModal"
                width="30%"
                center>
              <span>Are you sure you want to delete this user?</span>
              <span slot="footer" class="dialog-footer">
    <el-button @click="showDeleteModal = false">Cancel</el-button>
    <el-button type="alert" @click="showDeleteModal = false">Confirm</el-button>
  </span>
            </el-dialog>
          </div>

</template>

<style scoped  lang="scss">
  .el-row {
    align-items: center;
  }
  .el-input__icon {
    color: black;
  }
  table {
    border-collapse: collapse;
  }
  .btn-oder-details {
    width: 120px;
    border: 1px solid #0174c5;
    color: #0174c5;
    padding: 8px 12px;
    background: #fff;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
  }

  .el-card {
    margin-top: 30px;
  }
.top-btn {
  margin-bottom: 15px;
}
.float-right {
  float: right;
}
.el-button {
  width: 150px;
}
.home--search--input input {
  height: 40px !important;
  width: 100% !important;
  padding-left: 10% !important;
  border: 1px solid unset !important;
  border-radius: 5px !important;
}
.search--field i {
  z-index: 34565 !important;
  position: absolute !important;
  top: 50% !important;
  left: 5% !important;
  font-weight: bolder !important;
  transform: translate(-50%, -50%) !important;
}

.search--field {
  position: relative !important;
  height: 40px !important;
  width: 60% !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.el-select .el-input .el-select__caret {
  position: relative;
  top: -8px;
  color: #000;
}
</style>
<script>
import swal from 'sweetalert'
import { mapState, mapActions, mapGetters } from 'vuex'
import AdminTable from '@/components/Admin/Table/Table'

export default {
  components: {
    AdminTable
  },
  data () {
    return {
      searchValue: '',
      filter: '',
      loading: false,
      isDeleting: false,
      multipleSelection: [],
      selectedAdmins: [],
      showDeleteModal: false,
      currentPage: 1
    }
  },
  computed: {
    ...mapState('admin', [
      'admins',
      'roles'
    ]),
    ...mapGetters('authentication', [
      'isFinanceAdmin',
      'isCallCenter'
    ]),
    deleteCondition () {
      if (this.multipleSelection.length) {
        return false
      }
      return true
    }
  },
  methods: {
    quoteRowStyleName () {
      return {
        'color': '#000000',
        'font-size': '14px',
        'border-bottom': '10px solid #fff',
        'height': '75px',
        'background': '#f0f3ff',
        'text-align': 'center !important'
      }
    },
    headerRowStyle () {
      return {
        'color': '#0174c5',
        'font-size': '16px',
        'border-bottom': '1px solid black',
        'text-align': 'center !important'
      }
    },
    ...mapActions('admin', [
      'getAllAdmins',
      'deleteAdmins',
      'searchAdmins',
      'getRoles'
    ]),
    setDeleteAdmins () {
      this.$confirm('Are you sure you want to delete these users?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
        customClass: 'warningPromptClass'
      }).then(() => {
        const that = this
        this.multipleSelection.forEach((el) => {
          that.selectedAdmins.push(el.id)
        })
        this.isDeleting = true
        this.deleteAdmins({
          ids: this.selectedAdmins
        }).then((res) => {
          this.isDeleting = false
          this.fetchAdmins()
          this.$message({
            message: 'Admin deleted successfully.',
            type: 'success',
            customClass: 'alertMessageClass'
          })
        })
          .catch((error) => {
            this.$message.error('Oops, There was an error deleting users.')
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Delete canceled',
          customClass: 'alertMessageClass'
        })
      })
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    changePage () {
      this.fetchAdmins()
    },
    fetchAdmins () {
      this.loading = true
      let pageNo = this.currentPage
      let searchTerm = this.searchValue ? this.searchValue : null
      let filterId = this.filter ? this.filter : null
      let data = {
        pageNo,
        searchTerm,
        filterId
      }
      this.getAllAdmins({data})
        .then(response => {
          this.loading = false
        })
        .catch(error => {
          swal('An Error occurred', `${error}`, 'info')
        })
    }
  },
  created () {
    if (this.isCallCenter && this.isFinanceAdmin) {
      this.$router.push('/')
    }
    this.fetchAdmins()
    this.getRoles()
  },
  mounted () {
    let self = this
    window.addEventListener('keyup', function (event) {
      if (event.keyCode === 13) {
        self.fetchAdmins()
      }
    })
  }
}
</script>
