.table__row__cell__label {
  text-align: center;
  letter-spacing: 0;
  color: #343434;
  opacity: 1;
  font-size: 14px;
  padding: 20px;
}
.el-table th.is-leaf, .el-table td {
  border: none !important;
}
.Table {
  .table {
    &__header {
      &__cell {
        text-align: center;
        letter-spacing: 0;
        color: #0076C2;
        opacity: 1;
        width: 164px;
        height: 37px;
        font-size: 16px;

      }
      &__row {
        height: 78px;
        &--without-background {
          background-color: #fff;
        }
        &--with-background {
          background-color: #FAFDFF;
        }
      }
      &__top {
        background-color: #FAFDFF;
      }
    }
  }
}
