<template>
<div class="Table">
  <h2 v-show="title">
    {{ title }}
  </h2>
  <el-table
    :data="data"
    :empty-text="emptyTableString"
    size="medium"
    :highlight-current-row="true"
    :header-cell-class-name="tableHeaderClassStyle"
    :header-row-class-name="tableHeaderRowClassName"
    :row-class-name="tableRowClassStyle"
    align="center"
    @selection-change="handleSelectionChange"

  >
    <slot></slot>
  </el-table>
</div>
</template>
<script>
import {Table} from 'element-ui'
import './_Table.scss'
export default {
  name: 'AppTable',
  components: {
    'el-table': Table
  },
  props: {
    data: {
      required: true,
      type: Array
    },
    title: {
      type: String
    },
    emptyTableString: {
      type: String,
      required: true
    }
  },
  methods: {
    tableHeaderClassStyle () {
      return 'table__header__cell'
    },
    handleSelectionChange (item) {
      this.$emit('handleSelectionChange', item)
    },
    tableRowClassStyle ({row, rowIndex}) {
      if (!this.isEven(rowIndex)) {
        return 'table__header__row table__header__row--with-background'
      } else {
        return 'table__header__row table__header__row--without-background'
      }
    },
    tableHeaderRowClassName () {
      return 'table__header__top'
    },
    isEven (n) {
      return n % 2 === 0
    }
  }
}
</script>
<style lang="scss" scoped>

</style>
