<template>
  <div>
    <OrderCard
      :id="id"
    ></OrderCard>
  </div>
</template>

<script>
import OrderCard from '../../components/Order/Index/Index'
export default {
  components: {
    OrderCard
  },
  props: {
    id: {
      required: true
    }
  }
}
</script>
