<template>
  <div class="page">
    <el-row :gutter="10">
      <el-col :span="24" class="text-right" v-if="isPortalAdmin">
        <router-link :to="{'name': 'order.SourcingList'}">
          <el-button type="primary">
            View Sourcing List
          </el-button>
        </router-link>
      </el-col>
      <el-col class="container">
        <div class="search-input-container">
          <el-row :gutter="10" type="flex" justify="space-between">
            <el-col :lg="5" :xl="17">
              <h2 class="primary-color header-style">Orders</h2>
            </el-col>
            <el-col :lg="9" :offset="5" :xl="17">
              <div class="search-input-width">
                <div class="search--field">
                  <el-input
                    prefix-icon="el-icon-search"
                    placeholder="Search Orders"
                    class=""
                    v-model="searchValue"
                    @blur="fetchOrders"
                    @keyup.enter="fetchOrders"
                  ></el-input>
                </div>
              </div>
            </el-col>
            <el-col :lg="{span: 3, offset: 2}" :xl="7">
                <el-select  suffix-icon="el-icon-date"
                            v-model="filter"
                            placeholder="Filter Orders"
                            style="float: right;"
                            @change="fetchOrders"
                            clearable>
                  <el-option
                    v-for="item in filters"
                    :key="item.key"
                    :label="item.value"
                    :value="item.key"
                  ></el-option>
                </el-select>
            </el-col>
          </el-row>
        </div>
      </el-col>
      <el-col class="container">
        <el-card v-loading="loading">
          <order-table
            :orders="orders.orderList"
            route="orderDetails"
          ></order-table>
        </el-card>
        <el-col>
          <el-pagination
            v-if="orders.orderList"
            layout="prev, pager, next"
            :total="orders.pager.totalItems"
            @prev-click="fetchOrders()"
            @next-click="fetchOrders()"
            :current-page.sync="currentPage"
            @current-change="fetchOrders"
          >
          </el-pagination>
        </el-col>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import OrderTable from '../../components/Order/OrderTable/Table'
import '../../styles/_pageInput.scss'
import {mapState, mapActions, mapGetters} from 'vuex'
export default {
  components: {
    OrderTable
  },
  data () {
    return {
      fileList: [],
      loading: true,
      currentPage: 1,
      filter: '',
      searchValue: ''
    }
  },
  computed: {
    ...mapState('orders', [
      'orders',
      'filters'
    ]),
    ...mapGetters('authentication', [
      'isFinanceAdmin',
      'isCallCenter',
      'isPortalAdmin'
    ])
  },
  created () {
    if (this.$route.query.filter) {
      this.filter = this.$route.query.filter
    }
    this.getOrders()
    this.getFilters({customerId: ''})
  },
  methods: {
    /**
     * Get orders from server
     * @param params
     */
    fetchOrders () {
      this.getOrders()
    },
    ...mapActions('orders', [
      'getAll',
      'getFilters'
    ]),
    /**
     * Get orders from server
     */
    getOrders () {
      this.loading = true
      let pageNo = this.currentPage
      let searchTerm = this.searchValue ? this.searchValue : null
      let filterId = this.filter ? this.filter : null
      let params = {
        pageNo,
        searchTerm,
        filterId
      }
      this.getAll({params})
        .then(() => {
          this.loading = false
        }).catch(() => {
          this.loading = false
        })
    }
  },
  mounted () {
    let self = this
    window.addEventListener('keyup', function (event) {
      if (event.keyCode === 13) {
        self.fetchOrders()
      }
    })
  }
}
</script>
<style lang="scss" scoped>
  .el-row {
    align-items: center;
  }
  .el-input__icon {
    color: black;
  }
</style>
