<template>
  <div>
    <component :is="selectedComponent" @success="success"></component>
  </div>
</template>
<script>
import Form from './Form.vue'
import Success from './Success'
export default {
  components: {Form, Success},
  data () {
    return {
      selectedComponent: 'Form' }
  },
  methods: {
    /**
     * Display success component
     */
    success () {
      this.selectedComponent = 'Success'
    }
  }
}
</script>
