<template>
  <el-row>
    <el-col class="" :offset="3" :span="15" >
      <el-col   shadow="never" class="login">
        <el-alert v-if="alertType"
                  :title="alertMessage"
                  :type="alertType"
                  show-icon>
        </el-alert>
        <el-col :offset="3" :span="18">
          <h1>Registration Successful</h1>
        </el-col>
        <el-row>
          <el-col  class="padding-15 flex-center-element" :offset="3"  :span="18">
           <p class="mute">
             Congratulations you have completed your registration.
           </p>
          </el-col>
        </el-row>
        <el-row>
          <el-col class="padding-15"  :offset="3"   :span="18">
            <router-link :to="{'name': 'login'}">
              <el-button size="medium" type="primary" native-type="submit" >Sign in</el-button>
            </router-link>
          </el-col>
        </el-row>
      </el-col>
    </el-col>
  </el-row>
</template>
<script>
export default {
  data () {
    return {
    }
  }
}
</script>
<style scoped>
  h1 {
    color: #0076C2;
    font-size: 35px;
  }
</style>
