<template>
  <el-container style="display: block">
      <el-row class="error">
        <h1 class="error__title primary-color" style="font-size: 30px; margin:0">
          404 ERROR
        </h1>
        <div class="error__image">
          <img src="../../assets/icons/error404.png" alt="">
        </div>
        <div class="error__message ">
          <h4 class="mute">SORRY, THE PAGE COULD NOT BE FOUND</h4>
        </div>
        <div class="error__button">
          <el-button type="primary" >
            <router-link :to="{ name: 'dashboard'}">Back To Home</router-link>
          </el-button>
        </div>
      </el-row>
  </el-container>
</template>
<style lang="scss" scoped>
  .error {
    text-align: center;
    &__image {
      img {
        height: 250px;
      }
    }
    &__button {
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
</style>
