.indexTable {
  line-height: 10px;
  .el-input__inner {
    border: 1px solid black;
    height: 33.57px;
    line-height: 10px;
    font-size: 12px;
  }
  .el-input__suffix {
    color: black;
    height: 33.57px;
    line-height: 0px;
    font-size: 12px;
    .el-input__icon {
      font-size: 16px;
    }
  }

  .message-input {
    text-align: center;
    margin-left: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .messageActive {
    background-color: #E1E7EC !important;
    .message_icon {
      border: none !important;
      background-color: white;
    }
  }
  .notification {
    padding-bottom:20px;
    :hover {
      background-color:  #E1E7EC ;
      cursor: pointer;
    }
    color: #707070;
    .message_icon {
      border: 2px solid  #0076C2;
      border-radius: 50%;
      padding: 6px;
      vertical-align: middle;
      height: 22.33px;
    }
    .sender {
      font-size: 13px;
      font-weight: bolder;
      margin: 0;
      padding-bottom: 10px;
      line-height: 10px;
    }
    .subject {
      line-height: 14px;
      font-size: 12px;
      margin: 0;
      padding: 10px 0 0 5px !important;
      &.el-col {
        padding: 0;
      }
    }
    .message {
      line-height: 14px;
      font-size: 12px;
      margin: 0;
      padding: 2px 0 0 5px !important;
      &.el-col {
        padding: 0;
      }
    }
  }
  .isRead {
    background-color: #F5FCFF;
  }
  // Module
  text-align: left;
  &__content {
    border: .5px solid lightgray;
  }
  .border-card {
    border-bottom: .5px solid lightgray;
    padding: 0;
    .el-row {
      padding: 10px;
    }
    .el-col {
      padding: 5px;
    }
  }
  .box-card {
    box-shadow: 0 3px 6px #00000029;
  }
  &__search {
    //margin-bottom: 20px;
  }
}
