<template>
  <div class="indexTable">
    <el-col :span="24">
      <h2 class="primary-color">Inbox</h2>
    </el-col>

    <el-card class="box-card" :body-style="{padding: '0'}">
      <el-row :gutter="10">
        <el-col :span="22" class="text-center">
          <el-input
            suffix-icon="el-icon-search"
            class="message-input"
            placeholder="Search Messages"
            v-model="searchWord"
            clearable
            @blur="fetch()">
          </el-input>
        </el-col>
      </el-row>
      <div @click="openMessage(message.threadId)" :class="{messageActive: isActive(message.threadId), isRead: !message.isRead}" :span="24"  class="notification mute border-card"  v-for="(message, key) in messages.threads" :key="key">
        <el-row>
          <el-col span="4">
            &nbsp;<img class="message_icon" src="../../../assets/icons/user-white.png" alt="">
          </el-col>
          <el-col :span="20">
            <el-col :span="24" class="sender">
              {{ sender(message.participants) }}
            </el-col>
            <el-col :span="24">
               <span class="subject">
                 <b>{{message.subject}}</b>
               </span>
            </el-col>
            <el-col :span="24" class="subject">
              {{ message.dateCreated | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}
            </el-col>
          </el-col>
        </el-row>
      </div>
      <el-col :span="12" :offset="8">
        <el-pagination
          v-if="messages.threads"
          layout="prev, pager, next"
          :total="messages.pager.totalItems"
          @prev-click="fetch()"
          @next-click="fetch()"
          :current-page.sync="currentPage"
          @current-change="fetch()"
        >
        </el-pagination>
      </el-col>
    </el-card>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
export default {
  props: {
    messages: {
      required: true
    },
    selectedThreadId: {
      required: true,
      type: Number
    }
  },
  data () {
    return {
      activeThread: null,
      searchWord: '',
      currentPage: 1
    }
  },
  watch: {
    selectedThreadId: {
      handler: (newVal) => {
        this.activeThread = this.selectedThreadId
      },
      deep: true
    }
  },
  computed: {
    ...mapGetters('authentication', [
      'userId'
    ])
  },
  methods: {
    /**
     * check Active message
     */
    isActive (threadId) {
      return this.activeThread === threadId
    },
    ...mapActions('messages', [
      'deleteMessageThread'
    ]),
    setDelete (threadId) {
      // Verify message delete
      this.$confirm('Are you sure You want to delete item from cart ?', 'Warning', {
        confirmButtonText: 'Delete',
        cancelButtonText: 'Cancel',
        type: 'warning',
        customClass: 'warningPromptClass'
      }).then(() => {
      // Delete message from server
        this.deleteMessageThread({threadId})
          .then((response) => {
            // Success response
            this.$snotify.success(response, 'Message', {
              timeout: 2000,
              showProgressBar: false,
              closeOnClick: true
            })
            let data = null
            this.getAll({data})
          }).catch((error) => {
            console.log(error)
            // Error response
            this.$snotify.error('Error deleting message thread', 'Message', {
              timeout: 2000,
              showProgressBar: false,
              closeOnClick: true
            })
          })
      })
    },
    sender (senders) {
      let senderNew = senders.find(sender => sender.id !== this.userId)
      return senderNew ? senderNew.name : ''
    },
    fetch () {
      let params = {
        searchWord: this.searchWord,
        currentPage: this.currentPage
      }
      this.$emit('fetch', params)
    },
    openMessage (threadID) {
      this.activeThread = threadID
      this.$emit('setThreadId', threadID)
    }
  },
  mounted () {
    let self = this
    window.addEventListener('keyup', function (event) {
      if (event.keyCode === 13) {
        self.fetch()
      }
    })
  }
}
</script>
<style lang="scss" scoped>
  @import '_indexTable.scss';
</style>
