<!--<template>-->
<!--  <div class="messageBox" style=" padding: 20px;" v-loading="loading">-->
<!--    <el-row :gutter="10">-->
<!--     <el-col :span="24" >-->
<!--       <el-input v-model="subject" placeholder="Subject: Purchase"></el-input>-->
<!--     <span class="alert" v-if="submitted && emptySubject">You must enter a subject</span>-->
<!--     </el-col>-->
<!--      <el-col :span="24">-->
<!--        <ckeditor :editor="editor" v-model="content"></ckeditor>-->
<!--        <span class="alert" v-if="submitted && emptyMessage">Message content is required</span>-->
<!--      </el-col>-->
<!--      <el-col :span="24">-->
<!--        <file-uploader-->
<!--        @receivedFiles="receivedFiles"></file-uploader>-->
<!--      </el-col>-->
<!--      <el-col :offset="20" :span="4">-->
<!--        <el-button type="primary" @click="sendMessage()">Send Message</el-button>-->
<!--      </el-col>-->
<!--    </el-row>-->
<!--  </div>-->
<!--</template>-->

<!--<script>-->
<!--import { mapActions, mapState } from 'vuex'-->
<!--import CKEditor from '@ckeditor/ckeditor5-vue'-->
<!--import ClassicEditor from '@ckeditor/ckeditor5-build-classic'-->
<!--import fileUploader from '../../Messages/fileUploader/fileUploader'-->
<!--export default {-->
<!--  components: {-->
<!--    ckeditor: CKEditor.component,-->
<!--    fileUploader-->
<!--  },-->
<!--  data () {-->
<!--    return {-->
<!--      editor: ClassicEditor,-->
<!--      content: '',-->
<!--      subject: '',-->
<!--      file: null,-->
<!--      submitted: false-->
<!--    }-->
<!--  },-->
<!--  computed: {-->
<!--    emptySubject () {-->
<!--      if (this.subject === '') {-->
<!--        return true-->
<!--      }-->
<!--      return false-->
<!--    },-->
<!--    emptyMessage () {-->
<!--      if (this.content === '') {-->
<!--        return true-->
<!--      }-->
<!--      return false-->
<!--    },-->
<!--    ...mapState('messages', [-->
<!--      'loading'-->
<!--    ])-->
<!--  },-->
<!--  methods: {-->
<!--    /**-->
<!--     * receive files attached to this message-->
<!--     * @param file-->
<!--     */-->
<!--    receivedFiles (file) {-->
<!--      this.file = file-->
<!--    },-->
<!--    /**-->
<!--     * Send message-->
<!--     */-->
<!--    sendMessage () {-->
<!--      this.submitted = true-->
<!--      if (this.emptyMessage) { return }-->
<!--      if (this.emptySubject) { return }-->
<!--      let fd = new FormData()-->
<!--      fd.set('Content', this.content)-->
<!--      fd.set('Subject', this.subject)-->
<!--      fd.append('File', this.file)-->
<!--      let data = fd-->
<!--      for (let value of fd.values()) {-->
<!--        console.log('Value', value)-->
<!--      }-->
<!--      this.sendNewMessage({data: data})-->
<!--        .then(response => {-->
<!--          this.$router.push('/message')-->
<!--          this.$message({-->
<!--            message: 'Message sent successfully',-->
<!--            type: 'success'-->
<!--          })-->
<!--        })-->
<!--        .catch(error => {-->
<!--          console.log(error)-->
<!--        })-->
<!--    },-->
<!--    ...mapActions('messages', [-->
<!--      'sendNewMessage'-->
<!--    ])-->
<!--  },-->
<!--  created () {-->
<!--    this.receivedFiles()-->
<!--  }-->
<!--}-->
<!--</script>-->
<!--<style>-->
<!--  .ck-editor__editable {-->
<!--    min-height: 500px;-->
<!--  }-->
<!--</style>-->
