.viewMessage {
  &__content {
    line-height: 5px;
  }
  p {
    font-size: 13px;
  }
  background: darken( #F3F7FA, 3% )  no-repeat padding-box;
  text-align: left;
  margin: 50px 0 0 5px;
  // Vars
  .circle {
    border: 10px solid #0074c5 !important;
    width:100px;
    height:100px;
    border-radius:50%;
  }
  &__info {
    &__left {
      display: inline;
      vertical-align: middle;
      p {
        display: inline;
        vertical-align: middle;
        margin-left: 10px;
      }
      &__icon {
        border: 2px solid  #0076C2;
        border-radius: 50%;
        padding: 6px;
        vertical-align: middle;
      }
    }
    &__right {
      text-align: end;
    }
  }
  &__date {
    .el-tooltip {
      margin-left: 30px;
    }
    font-size: 12.5px;
    padding-left:30px ;
    text-align: start;
    button {
      margin-left: 10px ;
    }
  }
  hr {
    border: .5px solid lighten(#707070, 45%);

  }
}
