<template>
  <div class="viewMessage">
    <el-card class="box-card" v-loading="loader">
      <el-row :gutter="10">
        <el-row :gutter="10" v-for="(item, key) in message.messages" :key="key" style="margin: 10px;">
          <el-row :span="24">
            <el-row :gutter="10">
              <el-row type="flex" justify="space-between">
                <el-col :span="14">
                  <el-row class="viewMessage__info" type="flex" justify="space-between">
                    <el-col
                      class="viewMessage__info__left"
                      :span="18"
                    >
                      &nbsp;<img class="viewMessage__info__left__icon" src="../../../assets/icons/user-white.png" height="13px" alt="" >
                      <p>
                        <b>{{ item.sender }}</b>
                      </p>
                    </el-col>
                    <el-col
                      class="viewMessage__info__right"
                      :span="8"
                      v-if="item.files.length"
                    >
                      <el-tooltip
                        class="item"
                        effect="dark"
                        content="Click to download attachment"
                        placement="top">
                        <a style="cursor:pointer;"
                           @click.prevent="downloadFile(item.files[0].fileName, item.files[0].fileByte)"
                        >
                          <img src="../../../assets/icons/attach2.png" height="15px">
                        </a>
                      </el-tooltip>
                    </el-col>
                  </el-row>
                  <el-col :offset="3" :span="18" class="viewMessage__content">
                    <p>
                      <b>{{message.subject}}</b>:
                      <span style="display: inline" v-html="item.body"></span>
                    </p>
                  </el-col>
                </el-col>
                <el-col  :span="10" class="viewMessage__date">
                  {{  item.dateCreated | moment("ddd, MMMM Do YY, h:mm:ss a") }}
                  <el-tooltip class="item" effect="dark" content="Click to delete message" placement="top">
                    <a v-if="canDelete(item.senderId)"
                       style="cursor:pointer;"
                       @click.prevent="setDelete(item.msgId)"
                    >
                      <img src="../../../assets/icons/garbage.svg" height="15px">
                    </a>
                  </el-tooltip>
                </el-col>
              </el-row>
            </el-row>
          </el-row>
          <hr v-if="HRDisplayCondition(item)">
        </el-row>
        <el-row>
          <el-col :offset="1" :span="3" >
            <el-button v-if="!isReply" style="margin-left: 18px;" size="mini" type="primary" @click="reply">
              <b>
                Reply
              </b>
            </el-button>
          </el-col>
          <el-col :span="24"  style="margin-top:25px">
            <el-col v-if="isReply">
              <reply-box
                :threadId="message.threadId"
                @replyCompleted="toggleReply"
              ></reply-box>
            </el-col>
          </el-col>
        </el-row>
      </el-row>
    </el-card>
  </div>
</template>
<script>
import replyBox from '../../../components/Messages/replyBox/replyBox'
import {mapActions, mapGetters} from 'vuex'
import {saveByteArray, base64ToArrayBuffer} from '../../../helper/helperFunctions'
export default {
  components: {
    replyBox
  },
  data () {
    return {
      isReply: false
    }
  },
  props: {
    message: {
      required: true
    },
    loader: {
      default: false
    },
    isReplyActive: {
      default: false
    },
  },
  computed: {
    ...mapGetters('authentication', [
      'userId'
    ])
  },
  methods: {
    toggleReply () {
      this.isReply = !this.isReply
    },
    /**
     * @return {boolean}
     */
    HRDisplayCondition (item) {
      if (this.message.messages.length > 1 && item.msgId !== this.message.messages.slice(-1)[0].msgId) {
        return true
      }
      return item.msgId !== this.message.messages.slice(-1)[0].msgId
    },
    /**
     * Map actions from message store
     */
    ...mapActions('messages', [
      'deleteMessage'
    ]),
    /**
     * Sets the user with the right permission to delete a message
     * @param senderId
     * @returns {boolean}
     */
    canDelete (senderId) {
      return senderId === this.userId
    },
    downloadFile (fileName, byte) {
      try {
        let file = base64ToArrayBuffer(byte)
        saveByteArray(fileName, file)
      } catch (e) {
        this.$message({
          type: 'danger',
          message: `error downloading file`,
          customClass: 'alertMessageClass'
        })
      }
    },
    /**
     * Delete a message
     * @param id
     */
    setDelete (id) {
      this.$confirm('Are you sure you want to delete this message?. Continue?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
        customClass: 'warningPromptClass'
      }).then(() => {
        this.deleteMessage({id})
          .then(response => {
            this.$message({
              type: 'success',
              message: response.msg,
              customClass: 'alertMessageClass'
            })
            this.$router.push('/message')
          })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Delete canceled',
          customClass: 'alertMessageClass'
        })
      })
    },
    reply () {
      this.isReply = !this.isReply
    }
  }
}
</script>
<style lang="scss" scoped>
  @import 'viewMessage.scss';
</style>
