<template>
        <el-col :span="24">
          <el-col v-loading="loading">
            <keep-alive>
              <component
                :is="activeComponent"
                :activeQuoteId="activeQuoteId"
                :activeOrder="activeOrder"
                :userId="userId"
                :activeCustomer="activeCustomer"
                :customerBalance="customerBalance"
              ></component>
            </keep-alive>
          </el-col>
        </el-col>
</template>
<script>
import quoteIndex from '../../components/Order/Customer/OrderProcess/quoteIndex'
import orderPage from '../../components/Order/Customer/OrderProcess/orderProcess/orderPage'
import { mapState, mapActions, mapGetters } from 'vuex'
import { socket } from '../../helper'
import orderConfirmation from '../../components/Order/Customer/OrderProcess/confirmation/Index'
export default {
  components: {
    quoteIndex,
    orderPage,
    orderConfirmation
  },
  data () {
    return {
      loading: false,
      activeComponent: '',
      activeQuoteId: null,
      activeOrder: null,
      userId: false,
      customerBalance: null
    }
  },
  computed: {
    ...mapState('customers', [
      'activeCustomer'
    ]),
    ...mapGetters('customers', [
      'isCashCustomer',
      'isCreditCustomer'
    ])
  },
  watch: {
    activeCustomer () {
      if (this.isCreditCustomer) {
        this.initCreditCustomerOrderProcess()
        return
      }
      if (this.isCashCustomer) {
        this.initCashCustomerOrderProcess()
      }
    }
  },
  methods: {
    ...mapActions('customers', [
      'getCustomer'
    ]),
    /**
     * Initiate cash customer Order process
     */
    initCashCustomerOrderProcess () {
      this.activeComponent = 'orderPage'
      this.productComponentId = Math.random()
    },
    /**
     * Intiate Credit customer order process
     */
    initCreditCustomerOrderProcess () {
      this.activeComponent = 'quoteIndex'
    },
    goToQuotePage () {
      socket.$on('quotePage', () => {
        this.activeComponent = 'quoteIndex'
      })
    },
    /**
     * Listen for order page component toggle
     */
    orderPageListener () {
      // Listen for order page event
      socket.$on('orderPage', (orderId, userId, balance) => {
        this.activeComponent = 'orderPage'
        this.activeQuoteId = orderId
        this.userId = userId
        this.customerBalance = balance
      })
    },
    /**
     * Listen for order confirmation page change
     */
    orderConfirmationListener () {
      socket.$on('orderConfirmation', (order) => {
        this.activeComponent = 'orderConfirmation'
        this.activeOrder = order
      })
    },
    /**
     * Return back to Order page
     */
    backToOrderPageListener () {
      socket.$on('backToOrderPageListener', () => {
        this.activeComponent = 'orderPage'
      })
    }
  },
  created () {
    this.goToQuotePage()
    this.backToOrderPageListener()
    this.orderPageListener()
    this.orderConfirmationListener()
    this.loading = true
    let id = this.$route.params.id
    this.id = id
    this.userId = id
    this.getCustomer({id})
      .then(() => {
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
  }
}
</script>
