<template>
        <div class="page">
          <el-col class="container"
          >
            <el-row>
              <el-col>
                <div class="search-input-container">
                  <el-row :gutter="10" type="flex" justify="space-between">
                    <el-col  :lg="5" :xl="17">
                      <h2 class="primary-color header-style">Customers</h2>
                    </el-col>
                    <el-col :lg="9" :offset="5" :xl="17">
                    <div class="search--field">
                      <el-input   prefix-icon="el-icon-search" placeholder="Search Customers" v-model="searchValue" @blur="fetchCustomers()"></el-input>
                    </div>
                    </el-col>
                    <el-col :lg="{span: 3, offset: 2}" :xl="7">
                    <el-select placeholder="Filter" v-model=filter @change="fetchCustomers" clearable>
                      <el-option
                        v-for="item in roles"
                        :key="item.id"
                        :label="item.roleName"
                        :value="item.id"
                      ></el-option>
                    </el-select>
                  </el-col>
                  </el-row>
                </div>
              </el-col>
            </el-row>
          </el-col>

          <el-col class="container">
            <el-card  v-loading="loading" >
              <customer-table
                :customers="customers.userresponseList"
                route="customer.show"
              ></customer-table>
            </el-card>
          </el-col>
          <el-col>
            <el-pagination
              v-if="customers.userresponseList"
              layout="prev, pager, next"
              :total="customers.pager.totalItems"
              @prev-click="changePage()"
              @next-click="changePage()"
              :current-page.sync="currentPage"
              @current-change="changePage"
            >
            </el-pagination>
          </el-col>
        </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import swal from 'sweetalert'
import CustomerTable from '@/components/Customer/Table/Table'
import '../../styles/_pageInput.scss'

export default {
  components: {
    CustomerTable
  },
  data () {
    return {
      currentPage: 1,
      searchValue: '',
      filter: '',
      loading: false
    }
  },
  computed: {
    ...mapState('customers', [
      'customers',
      'roles'
    ])
  },
  methods: {
    ...mapActions('customers', [
      'getAllCustomers',
      'getRoles'
    ]),
    viewCustomer (id) {
      this.$router.push({
        'name': 'customer.show',
        params: {
          id: id
        }
      })
    },
    changePage () {
      this.fetchCustomers()
    },
    fetchCustomers () {
      this.loading = true
      let pageNo = this.currentPage
      let searchTerm = this.searchValue ? this.searchValue : null
      let filterId = this.filter ? this.filter : null
      let data = {
        pageNo,
        searchTerm,
        filterId
      }
      this.getAllCustomers({data})
        .then(() => {
          this.loading = false
        })
        .catch(error => {
          swal('An Error occurred', `${error}`, 'info')
        })
    }
  },
  created () {
    this.loading = true
    this.fetchCustomers()
    this.getRoles()
  },
  mounted () {
    let self = this
    window.addEventListener('keyup', function (event) {
      if (event.keyCode === 13) {
        self.changePage()
      }
    })
  }
}
</script>
<style lang="scss" scoped>
  .button-margin {
    margin-bottom: 20px;
  }
  .el-row {
    align-items: center;
  }
  .el-input__icon {
    color: black !important;
  }
</style>
