<template>
    <el-row class="products-order">
      <el-col :span="16" class="products-order__box">
        <el-col :span="12" class="products-order__box__content" v-for="(product, key) in products" :key="key">
          <img :src="product.imageUrlSmall" class="products-order__box__content__image products-order__box__content__image--large">
          <div class="products-order__box__content__box">
            <div class="products-order__box__content__box__title primary-color">
              {{ product.description }}
            </div>
            <div class="products-order__box__content__box__detail">
              <span v-if="!isCashCustomer && displayCondition">
                 {{ product.quantity + ' '}} {{ product.units + '  x  '  }} {{  product.unitPrice | ZAR   }} =
              </span>
              <div v-else style="display: flex; align-items: baseline">
                 {{ product.quantity + ' '  + product.units  }} x &nbsp;
                <span  v-if="!displayPriceBox">
                   {{  product.unitPrice | ZAR   }} =
                </span>
               <span  v-if="displayPriceBox">
                 ZAR &nbsp;
                  <el-input
                    name="price"
                    @change="updateProducts"
                    style="width: 50%;" type="number"
                    v-model="product.unitPrice"
                    v-validate="{required: true, decimal: 2, min_value:1}" ></el-input>
               </span>
                <span  v-if="displayPriceBox">
                  =
                </span>
                <span v-if="displayCondition && !displayPriceBox && !isCashCustomer">
                &nbsp;  x {{   product.unitPrice | ZAR  }} =
                </span>
            </div>
              <div v-if="displayPriceBox">
                <div v-if="submitted && errors.has('price')" class="alert">{{ errors.first('price') }} </div>
              </div>
              <span v-if="!isCashCustomer || displayCondition">
                <b>
                    {{  product.quantity * product.unitPrice | ZAR  }}
                </b>
              </span>
            </div>
          </div>
        </el-col>
      </el-col>
      <el-col :span="8" class="products-order__addon">
        <el-col :span=24 class="products-order__box__content" v-if="showPallet">
          <img src="../../../assets/icons/pallet.svg" height="100" class="products-order__box__content__image  products-order__box__content__image--small">
          <div class="products-order__box__content__box">
            <div class="products-order__box__content__box__title primary-color">
              {{ pallets.name }}
            </div>
            <div  class="products-order__box__content__box__detail ">
            <span>
               {{ pallets.quantity + ' x ' }} {{  pallets.price | ZAR }} =
            </span>
              <br>
              <span>
                <b>
                    {{ pallets.subTotal   | ZAR }}
                </b>
              </span>
            </div>
          </div>
        </el-col>
        <el-col :span=24 class="products-order__box__content" v-if="moffett">
          <img  src="../../../assets/icons/forklift-with-boxes.svg" height="100" class="products-order__box__content__image  products-order__box__content__image--small">
          <div class="products-order__box__content__box">
            <div class="products-order__box__content__box__title primary-color" >
              {{ moffett.name }}
            </div>
            <div  class="products-order__box__content__box__detail">
            <span>
               {{ moffett.quantity + ' x ' }}  {{ moffett.price | ZAR }} =
            </span>
              <br>
              <span>
                <b>
                    {{ moffett.subTotal | ZAR }}
                </b>
              </span>
            </div>
          </div>
        </el-col>
      </el-col>
    </el-row>
</template>

<script>
import '../../../styles/components/order/_orderProducts.scss'
import {mapGetters} from 'vuex'
import { socket } from '../../../helper/index'
export default {
  name: 'order-products',
  data () {
    return {
      cashCustomerId: null,
      submitted: false
    }
  },
  props: {
    products: {
      required: true,
      type: Array
    },
    pallets: {
      required: true
    },
    moffett: {
      required: true
    },
    customerType: {
      type: Number
    },
    statusCode: {
      type: Number,
      default: 2
    },
    validate: {
      required: true
    }
  },
  watch: {
    validate () {
      this.validateOrder()
    }
  },
  computed: {
    showPallet () {
      if (this.pallets) {
        return true
      }
      return !!(this.pallets && this.pallets.quantity)
    },
    isCashCustomer () {
      return this.cashCustomerId === this.customerType
    },
    ...mapGetters('authentication', [
      'isFinanceAdmin',
      'isPortalAdmin'
    ]),
    displayPriceBox () {
      if (
        this.isFinanceAdmin && [
          process.env.ORDER_STATUS_PENDING,
          process.env.ORDER_STATUS_DECLINED_SAP
        ]
          .includes(this.statusCode)
      ) {
        return true
      }
    },
    displayCondition () {
      if (this.isPortalAdmin && [
        process.env.ORDER_STATUS_SUCCESSFUL,
        process.env.ORDER_STATUS_DECLINED_SAP,
        process.env.ORDER_STATUS_ADMIN_INPUT
      ].includes(this.statusCode)) {
        return true
      }
      if (
        this.isFinanceAdmin &&
        [
          process.env.ORDER_STATUS_PENDING,
          process.env.ORDER_STATUS_SUCCESSFUL,
          process.env.ORDER_STATUS_DECLINED_SAP
        ].includes(this.statusCode)
      ) {
        return true
      }
      return !!(
        this.cashCustomerId === this.customerType &&
        this.isPortalAdmin
      )
    }
  },
  methods: {
    updateProducts () {
      let products = this.products
      socket.$emit('updateProducts', products)
    },
    validateOrder () {
      this.submitted = true
      this.$validator.validateAll().then((result) => {
        if (result) {
          console.log('orderValidated')
          this.$emit('orderValidated')
          // socket.$emit('orderValidated')
        } else {
          console.log('not validated')
        }
      })
    }
  },
  created () {
    this.cashCustomerId = process.env.CASH_CUSTOMER_ID
  }
}
</script>
