<template>
  <el-row :gutter="10">
    <el-col :span="24">
      <div class="message">
        <el-card class="box-card" body-style="padding:0">
<h3>Create New Message</h3>

          <message-box></message-box>

        </el-card>
      </div>
    </el-col>
  </el-row>
</template>
<script>
import sideBar from '../../components/Messages/sidebar/sidebar'
import messageBox from '../../components/Messages/messageBox/messageBox'
export default {
  components: {
    sideBar,
    messageBox
  }
}
</script>
<style lang="scss" scoped>
  .head {
    background-color: black;
    width: 100%;
    color: #8cc5ff;
    text-align: left;
  }
  .message {
    margin: 50px;
    h3 {
      background-color: black;
      padding:10px;
      width: 100%;
      color: #fff;
      text-align: left;
      margin: 0!important;
    }
  }
</style>
