<template>
  <el-row :gutter="10" v-loading="loading">
    <el-col :span="24">
      <view-message
        :message="message"
      ></view-message>
    </el-col>
  </el-row>
</template>
<script>
import {mapState, mapActions} from 'vuex'
import sideBar from '../../components/Messages/sidebar/sidebar'
import viewMessage from '../../components/Messages/viewMessage/viewMessage'
export default {
  components: {
    sideBar,
    viewMessage
  },
  computed: {
    ...mapState('messages', [
      'message',
      'loading'
    ])
  },
  methods: {
    ...mapActions('messages', [
      'get'
    ])
  },
  created () {
    this.get({id: this.$route.params.id})
  }
}
</script>
