<template>
  <el-row :gutter="10" v-loading="loading">
      <el-col style="margin-right: 10px" :span="6">
        <index-table
          :selectedThreadId="activeThread"
          @fetch="fetch"
          @setThreadId="setThreadId"
          :messages="messages"
        ></index-table>
      </el-col >
      <el-col :span="17" >
        <viewMessage
          :loader="viewMessageLoader"
          :message="message"
          :isReply="isReply"
        ></viewMessage>
      </el-col>
  </el-row>
</template>
<script>
import {mapState, mapActions} from 'vuex'
import sideBar from '../../components/Messages/sidebar/sidebar'
import indexTable from '../../components/Messages/indexTable/indexTable'
import viewMessage from '../../components/Messages/viewMessage/viewMessage'

export default {
  components: {
    sideBar,
    indexTable,
    viewMessage
  },
  data () {
    return {
      pageNo: 1,
      searchWord: '',
      viewMessageLoader: true,
      activeThread: null,
      isReply: false
    }
  },
  computed: {
    ...mapState('messages', [
      'messages',
      'message',
      'loading'
    ])
  },
  methods: {
    fetchActiveMessage () {
      this.viewMessageLoader = true
      this.get({id: this.activeThread}).then(() => {
        this.viewMessageLoader = false
      }).catch(() => {
        this.viewMessageLoader = false
      })
    },
    /**
     * Set the active threadID
     *
     **/
    setThreadId (threadId) {
      this.activeThread = threadId
      this.fetchActiveMessage()
      this.isReply = false
    },
    fetch (params) {
      this.searchWord = params.searchWord
      this.pageNo = params.currentPage
      this.fetchMessage()
    },
    ...mapActions('messages', [
      'getAll',
      'get'
    ]),
    fetchMessage () {
      let pageNo = this.pageNo
      let searchWord = this.searchWord
      let data = {
        searchWord,
        pageNo
      }
      this.getAll({data}).then(() => {
        let threadId = this.messages.threads[0].threadId
        this.activeThread = threadId
        this.get({id: threadId}).then(() => {
          this.viewMessageLoader = false
        })
      })
    }
  },
  created () {
    this.fetchMessage()
  }
}
</script>
