.StatusBar > .el-tag {
  text-align: initial;

height: 65px;
    opacity: 1;
    border-radius: 0;
  width: 120px;
  border: none;
  color: #fff;
   a {
     font-weight: normal !important;
     color: #fff;
   }
  }
