<template>
  <div class="StatusBar">
    <el-tag
      style="font-weight: bolder"
      v-bind:style="{ 'background-color': getStatusColor }"
      size="medium"
      type="error"
      effect="dark">
      {{ label }}
      <br>
      <router-link v-if="!disabled" :to='{name: link.route, params: link.param}'>
       {{  link.text }}
      </router-link>
    </el-tag>
  </div>
</template>

<script>
import '../../../../node_modules/element-ui/packages/theme-chalk/src/tag.scss'
import {generateStatusColor} from '../../../helper/helperFunctions'
import './_StatusBar.scss'
import {Tag} from 'element-ui'
export default {
  components: {
    'el-tag': Tag
  },
  props: {
    disabled: {
      default: false
    },
    label: {
      required: true,
      type: String
    },
    statusCode: {
      required: true,
      type: Number
    },
    link: {
      required: true,
      type: Object
    }
  },
  computed: {
    getStatusColor () {
      const code = this.statusCode
      return this.generateStatusColor(code)
    }
  },
  methods: {
    generateStatusColor
  }
}
</script>
<style lang="scss" scoped>
</style>
