.Sidebar {

  height: 100vh;
  min-height: 100%;
  overflow: hidden;
  box-shadow: 0 6px 6px #A5A5A59B;
  .el-row {
    height: 100%;
  }
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
  .el-menu {
    &::-webkit-scrollbar {
      display: none;
    }
    box-shadow: 0 6px 2px #A5A5A59B;
    height: 100%;
    overflow: hidden;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
     &:first-child {
       padding-top: 80px !important;
    }
    .el-menu-item {
      margin-bottom: 20px !important;
    }
    .el-menu-item.isCollapse {
      width: 160px;
      height: 50px;
      box-shadow: 0px 0px 2px #818181;
      opacity: 1;
      display: flex;
      justify-content: start;
      align-items: center;
      margin: 0 auto;
      white-space: nowrap;
      line-height: 15px;
      text-align: initial;
      padding: 10px !important;
    img {
      height: 30px;
      margin: 0 10px 0 0px ;
    }
    }
    .el-menu-item.is-active {
      background: #0074C5 0% 0% no-repeat padding-box;
      color: white;
    }
  }

}
