<template>
  <div class="Sidebar">
    <el-row class="tac">
    <el-menu :default-active="activeIndex" class="el-menu-vertical-demo" :router="true" :collapse="isCollapse">
      <el-menu-item index="1" :class="!isCollapse ? 'isCollapse' : ''" :route="{'name': 'dashboard'}">
        <i class="el-icon-s-home"></i>
        <span slot="title">Home</span>
      </el-menu-item>
      <el-menu-item index="2"  :class="!isCollapse ? 'isCollapse' : ''" :route="{'name': 'order'}">
        <i class="el-icon-s-order"></i>
        <span slot="title">Order <br> Management</span>
      </el-menu-item>
      <el-menu-item index="3" :class="!isCollapse ? 'isCollapse' : ''" :route="{name: 'customer.index'}">
        <i class="el-icon-s-custom"></i>
        <span slot="title">Customer <br> Management</span>
      </el-menu-item>
      <el-menu-item v-if="isPortalAdmin" index="4" :class="!isCollapse ? 'isCollapse' : ''" :route="{'name': 'admin.setting'}">
        <i class="el-icon-s-management"></i>
        <span slot="title">Admin <br> Management</span>
      </el-menu-item>
    </el-menu>
  </el-row>

  </div>

</template>

<script>
import { mapGetters, mapState } from 'vuex'
import './_Sidebar.scss'
export default {
  computed: {
    ...mapGetters('authentication', [
      'isFinanceAdmin',
      'isCallCenter',
      'isPortalAdmin'
    ]),
    ...mapState('sideMenu', [
      'isCollapse',
      'activeIndex'
    ])
  }
}
</script>
