<template>
  <div id="app">
    <router-view/>
    <el-backtop target=".page-component__scroll .el-scrollbar__wrap" :bottom="100">
      <div
        style="{
        height: 100%;
        width: 100%;
        background-color: #f2f5f6;
        box-shadow: 0 0 6px rgba(0,0,0, .12);
        text-align: center;
        line-height: 40px;
        color: #1989fa;
      }"
      >
        UP
      </div>
    </el-backtop>
  </div>
</template>

<style lang="scss">
@import "styles/app";
</style>

<script>
import {mapActions} from 'vuex'
export default {
  name: 'app',
  created () {
    this.path = this.$router.currentRoute.name
  },
  computed: {
    alert () {
      return this.$store.state.alert
    }
  },
  methods: {
    logOut: function () {
      this.$store.dispatch('authentication/logOut')
    },
    goTo (router) {
      this.$router.push(router)
    },
    ...mapActions('alert', [
      'clear',
      'error'
    ])
  },
  beforeRouteUpdate (to, from, next) {
    this.clear()
    next()
  }
}
</script>
