<template>
  <div>
    <el-container>
      <app-header></app-header>
    </el-container>
    <el-container>
      <el-aside :width="!isCollapse ? '200px' : '70px'">
        <sideBar></sideBar>
      </el-aside>
      <el-main>
        <el-row :gutter="10">
          <el-col :span="24">
            <el-row :gutter="10">
              <el-col :span="12" :offset="6">
                <el-alert v-if="type"
                          :title="message"
                          :type="type"
                          show-icon
                          :closable="false">
                </el-alert>
              </el-col>
            </el-row>
            <router-view></router-view>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>
<script>
import sideBar from '../../components/APP/Sidebar/Sidebar'
import { mapActions, mapState } from 'vuex'
import AppHeader from '../../components/APP/Header/Header'

export default {
  components: {sideBar, AppHeader},
  onIdle () {
    this.logOut().then(() => {
      let message = {}
      message.custom = process.env.SESSION_EXPIRED_MESSAGE
      this.error(message)
    })
  },
  computed: {
    ...mapState('sideMenu', [
      'isCollapse'
    ]),
    ...mapState('alert', [
      'type',
      'message'
    ])
  },
  methods: {
    ...mapActions('notification', [
      'openConnection'
    ]),
    clearErrors () {
      this.$store.dispatch('alert/clear')
    },
    ...mapActions('alert', [
      'error'
    ]),
    /**
     * Maps actions form authentication store
     */
    ...mapActions('authentication', [
      'logOut'
    ]),
    inIt () {
      const publicPages = ['/login', '/register', '/reset-password', '/forget-password']
      const authRequired = !publicPages.includes(window.location.pathname)
      const loggedIn = window.localStorage.getItem('user')
      if (authRequired && loggedIn) {
        this.openConnection()
      }
    }
  },
  created () {
    this.inIt()
  },
  beforeRouteUpdate (to, from, next) {
    this.clearErrors()
    next()
  }
}
</script>
