<template>
  <el-card class="box-card">
    <h1 class="primary-color" style="text-align: left">Notifications</h1>

    <div class="notification mute" v-for="(notification, key) in all" :key="key">
      <el-col :span="24" class="notification__box">
        <a style="font-size: 14px; color: inherit;" href="#"  @click.prevent="viewNotification(notification)">
          <el-col :span="18">
            <p> {{notification.message}}</p>
          </el-col>
          <el-col :span="6">
            <p>{{notification.time}}</p>
          </el-col>
        </a>
      </el-col>
    </div>
    <h4 class="primary-color center-text" v-if="!all.length"> There are no notifications</h4>
  </el-card>
</template>
<script>import { mapState, mapActions } from 'vuex'
export default {
  computed: {
    ...mapState('notification', [
      'all'
    ])
  },
  methods: {
    ...mapActions('notification', [
      'markAsRead'
    ]),
    /**
     * View and Mark notification as read
     * @param notification
     */
    viewNotification (notification) {
      this.$router.push(notification.urlPath)
      this.markAsRead({id: notification.Id})
    }
  }
}
</script>
<style lang="scss" scoped>
  .notification {
    text-align: left;
    &__box {
      .el-col {
        padding: 15px;
      }
      border: .5px solid lightgray;
    }
  }
  .box-card {
    padding: 30px;
  }
</style>
