<template>
    <div class="Table">
      <app-table
        emptyTableString="There are no orders"
        title=""
        :data="orders"
      >
        <el-table-column
          label="PO Number"
          prop="poNumber"
          align="center"
          header-align="center"
          :class-name="cellStyle"
        ></el-table-column>
        <el-table-column
          label="Order Placed"
          prop="dateOrderPlaced"
          align="center"
          header-align="center"
          :class-name="cellStyle"
        ></el-table-column>
        <el-table-column
          label="Dispatched To"
          prop="dispatchTo"
          align="center"
          header-align="center"
          :class-name="cellStyle"
        ></el-table-column>
        <el-table-column
          label="Ship to Party Address"
          prop="deliveryAddress"
          align="center"
          header-align="center"
          :class-name="cellStyle"
          width="245"
        ></el-table-column>
        <el-table-column
          label="Status"
          align="center"
          header-align="center"
          :class-name="cellStyle"
        >
          <template slot-scope="scope">
            <AppStatus
              :disabled="showDetailButton"
              :link="{
                 route,
                 param: {id: scope.row.poNumber, customerId: customerId},
                 text: 'Order details'
               }"
              :statusCode="scope.row.statusCode"
              :label="scope.row.status"
            ></AppStatus>
          </template>
        </el-table-column>
      </app-table>
    </div>
</template>

<script>
import AppTable from '@/components/APP/Table/Table'
import AppStatus from '@/components/APP/StatusBar/StatusBar'
import {TableColumn} from 'element-ui'
import {mapGetters} from 'vuex'
export default {
  name: 'order-table',
  components: {
    AppTable,
    AppStatus,
    'el-table-column': TableColumn
  },
  props: {
    orders: {
      required: true
    },
    customerId: {
      type: String
    },
    route: {
      required: true,
      type: String
    }
  },
  computed: {
    showDetailButton () {
      return this.$route.path.split('/').includes('customer') && this.financeAdmin
    },
    ...mapGetters('authentication', [
      'isCallCenter',
      'financeAdmin'
    ]),
    cellStyle () {
      return 'table__row__cell__label'
    }
  }
}
</script>
